<footer id="footer">
    <div class="holder row desctop">
        <div class="footer-item logo">
            <div class="logo-cont">
                <span class="logo">
                    <img src="{{ mpw_THEME_URL ~ '/images/footer_logo.png' }}" alt="{{ 'My Perfect Work Place'|t }}">
                </span>
            </div>
            <div class="address-info">
                <div class="main">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    201 N Brand Suite 200, ​Glendale CA, 91203
                </div>
            </div>
             <div class="numbers">
                <div class="phone">
                    <div itemscope class="office" itemtype="http://schema.org/Office">
                        <i class="fa fa-phone" aria-hidden="true"></i> <a itemprop="tel" href="tel:8885189168">1-888-518-9168</a>
                        <span> - Main Office</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="holder row mobile">
        <div class="footer-item contacts">
            <h2>Contacts</h2>
            <div class="adress">
                <i class="fa fa-home" aria-hidden="true"></i>
                <div class="address-info">
                    <div class="main">
                        201 N Brand Suite 200, ​<br>
                        ​Glendale CA, 91203
                    </div>
                    <br>
                    <div class="san-francisco">
                        One Market - Spear Tower, ​<br>
                        Suite 3600 San Francisco, CA 94111​,
                    </div>
                </div>
            </div>
            <div class="numbers">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="phone">
                    <div itemscope class="office" itemtype="http://schema.org/Office">
                        <a itemprop="tel" href="tel:8885189168">1-888-518-9168</a>
                        <span> - Main Office</span>
                    </div>
                    <div itemscope class="office" itemtype="http://schema.org/Office">
                        <a itemprop="tel" href="tel:4156716375">1-415-671-6375​</a>
                        <span> - San Francisco Office</span>
                    </div>
                </div>
            </div>
            <div itemscope itemtype="http://schema.org/Email" class="mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a itemprop="mail" href="mailto:info@myperfectworkplace.com">info@myperfectworkplace.com</a>
            </div>
        </div>
        <div class="footer-links">
            {{ page.footer }}
        </div>
        <div class="social-media">
            <ul class="social-icons">
                <li class="social-icon twt"><a href="https://twitter.com/MyPerfWorkplace" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-icon fb"><a href="https://www.facebook.com/MyPerfectWorkplace/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                <li class="social-icon instagram"><a href="https://www.instagram.com/my_perfect_workplace/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="social-icon linkedin"><a href="https://www.linkedin.com/company/my-perfect-workplace" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li class="social-icon yelp"><a href="https://www.yelp.com/biz/my-perfect-workplace-pasadena" target="_blank"><i class="fa fa-yelp"></i></a></li>
                <li class="social-icon pinterest"><a href="https://www.pinterest.com/myperfectworkplace/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
        <div class="footer-item logo">
            <div class="logo-cont">
                <span class="logo">
                    <img src="{{ mpw_THEME_URL ~ '/images/footer_logo.png' }}" alt="{{ 'My Perfect Work Place'|t }}">
                </span>
            </div>
        </div>
    </div>
</footer>
