<header id="header">
    <div class="holder menu-row">
        <div class="logo-cont">
            {% if logo %}
                <a href="{{ front_page }}" title="{{ 'Home'|t }}">
                    <img src="{{ logo }}" alt="{{ 'Home'|t }}" class='desctop' height="200" width="200" />
                    <img src="/themes/mpw/images/logo-mobile.png" alt="Logo - My Perfect Workplace" class='mobile' height="200" width="200" />
                </a>
            {% endif %}
        </div>
        <div class="desctop-menu">
 			{{ page.header }}
	        <div class="contact-info">
	            <div class="numbers">
	                <i class="fa fa-phone" aria-hidden="true"></i>
	                <div class="phone">
						<div class="office">
							<a href="tel:8885189168">1-888-518-9168</a>
							<span> - Main Office</span>
						</div>
						{#<div class="office">#}
							{#<a href="tel:4156716375">1-415-671-6375​</a>#}
							{#<span> - San Francisco Office</span>#}
						{#</div>#}
	                </div>
	            </div>
	            <div class="mail">
	                <i class="fa fa-envelope" aria-hidden="true"></i>
					<a href="mailto:info@myperfectworkplace.com">info@myperfectworkplace.com</a>
	            </div>
	        </div>
          {# User Menu Start #}
           <div class="contact-info user-info">
            {% if logged_in %}
              <p><a href="/user">Hi, {{ user_logged_in_name }}</a></p>
              <p class="ana-add-listing"><a href="/node/add/property">Add a Listing</a></p>
            {% else %}
              <p class="user-login-p"><a href="/user/login">Login</a></p>
              <p class="ana-add-listing"><a href="/commercial-real-estate-services-info">Add a Listing</a></p>
            {% endif %}
          </div>
          {# class="use-ajax" data-dialog-options="{&quot;width&quot;:750}" data-dialog-type="modal" #}
          {# User Menu Start #}
        </div>
       <div id="mobile-menu-cont">
       	<div class="menu-button">
       		<span class="trigger"><span></span></span>
       		<span class="text">MENU</span>
       	</div>
            <div class="mobile-menu">
                {{ renderMenu('main') }}
            </div>
        </div>
    </div>
	<div class="holder row mobile">
		<div class="office">
			<i class="fa fa-phone" aria-hidden="true"></i>
			<a href="tel:8885189168">1-888-518-9168</a>
		</div>
    {# User Menu Start #}
    <div class="contact-info user-info">
    {% if logged_in %}
      <p><a href="/user">Hi, {{ user_logged_in_name }}</a></p>
      <p><a href="/node/add/property">Add a Listing</a></p>
    {% else %}
      <p><a href="/user/login">Login</a></p>
      <p><a href="/commercial-real-estate-services-info">Add a Listing</a></p>
      {# class="use-ajax" data-dialog-options="{&quot;width&quot;:750}" data-dialog-type="modal" #}
    {% endif %}
    </div>
    {# User Menu Start #}
	</div>
</header>
