
{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<form{{ attributes }}>
		{# <pre>
		{{ kint(form) }}
		</pre> 
		#}
		{# {{ kint(form) }} #}
		
		
	<div class="user-registration-form">
		<div class="row">
			<div class="small-6 large-centered columns">
				<h1>Register your account</h1>
			</div>
		  	<div class="row">
			    <div class="columns small-6">
			      {{form.field_profile_name}}
			    </div>
			    <div class="columns small-6">
			      {{form.field_last_name}}
			    </div>
	  		</div>

			<div class="row">
			    <div class="columns small-6">
			      {{form.account.mail}}
			    </div>
			     <div class="columns small-6">
			      {{form.account.name}}
			    </div>
	  		</div>

	  		<div class="row">
			    <div class="columns small-6">
			      {{form.field_street_address.widget.0.address.address_line1}}
			    </div>
			    <div class="columns small-6">
			      {{form.field_street_address.widget.0.address.locality}}
			    </div>
	  		</div>

	  		<div class="row">
			    <div class="columns small-6">
			      {{form.field_street_address.widget.0.address.postal_code}}
			    </div>
			    <div class="columns small-6">
			      {{form.field_phone}}
			    </div>
	  		</div>

	  		<div class="row">
			    <div class="columns small-6">
			      {{form.field_street_address.widget.0.address.administrative_area}}
			    </div>
			    <div class="columns small-6">
			      {{form.field_street_address.widget.0.address.country_code}}
			    </div>
	  		</div>
	  		<div class="row">
	  			<div class="columns small-12">
					{{ form.captcha }}
				</div>
	  		</div>

	  		 {# {{form}}  #}

			{% if form.antibot_key %}
          		{{ form.antibot_key }}
      		{% endif %}

			{{ form.form_build_id }} {# required #}
			{{ form.form_token }}{# required #}
			{{ form.form_id }} {# required #}
			{{ form.actions }} {# will render the action buttons in the form #}

		</div>
	</div>
</form>