<div id="city-page-banner">
    <div class="city">{{ office_space_views_city }}</div>
    <div class="state">{{ office_space_views_state }}</div>
    <div class="no-result">{{ location_page_no_result_block }}</div>
</div>