<section class="mpw--startpage-search" role="search">
    <div class="container">
        <div class="row">
            <div class="mpw--startpage-search-wrapper">
                    {{ property_search_form_front }}
                </div>
            </div>
        </div>
    </div>
</section>