#emergency-popup-overlay {
  background-color: #1d1d1d;
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
#emergency-popup-wrapper {
  position: fixed;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 101;
}
.emergency-popup {
  color: #fff;
  padding: 20px;
  position: relative;
}
.emergency-popup  .popup-content {
  margin-bottom: 1em;
}
.emergency-popup .dismiss {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  padding: 10px 25px;
  text-align: center;
}
.emergency-popup .dismiss:hover {
  text-decoration: none;
}
.open-popup #emergency-popup-wrapper {
  left: 50%;
  max-width: 600px;
  opacity: 0;
  padding: 0 15px;
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.open-popup .emergency-popup {
  background-color: #ff3535;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.open-popup .emergency-popup  h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 2;
  margin-bottom: .5em;
  text-align: center;
}
#emergency-notification .emergency-popup a {
  text-decoration: underline;
}
#emergency-notification .emergency-popup a:hover {
  text-decoration: none;
}
#emergency-notification .emergency-popup h6,
#emergency-notification .emergency-popup h5,
#emergency-notification .emergency-popup h4,
#emergency-notification .emergency-popup h3,
#emergency-notification .emergency-popup h2,
#emergency-notification .emergency-popup h1,
#emergency-notification .emergency-popup a {
  color: #fff;
}
.open-popup #emergency-popup-overlay {
  display: block;
}
.open-popup #emergency-popup-wrapper {
  opacity: 1;
  top: 50%;
}
.open-popup button.open-btn {
  display: none;
}
.dismissed #emergency-popup-wrapper {
  background-color: #ff3535;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  border-bottom: none;
  bottom: 0;
  margin-left: 15px;
  max-height: 94%;
  max-width: 500px;
  right: 15px;
}
.dismissed .emergency-popup {
  display: none;
  max-height: 95vh;
  overflow-y: auto;
}
.dismissed .open-btn-wrapper {
  text-align: right;
}
.dismissed button.open-btn {
  background-color: #ff3535;
  color: #fff;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
}
#emergency-notification button {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
#emergency-notification button.dismiss-btn {
  background-color: rgba(0,0,0,.5);
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: 50px;
  top: 0;
  width: 50px;
}
#emergency-notification button.dismiss-btn:after,
#emergency-notification button.dismiss-btn:before {
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 20px;
}
#emergency-notification button.dismiss-btn:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
#emergency-notification button.dismiss-btn:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.emergency-notification-icon {
  height: 2em;
  vertical-align: middle;
  width: 2em;
}
.open-btn .emergency-notification-icon {
  font-size: .75em;
}

@media (min-width: 760px) {
  .dismissed #emergency-popup-wrapper {
    right: 50px;
  }
}

@media (min-width: 980px) {
  .dismissed #emergency-popup-wrapper {
    right: 150px;
  }
}
