{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set image_style = paragraph.field_image_style.target_id | default('1200xauto') %}
{% set caption_position = paragraph.field_image_caption_position.value is not empty ? paragraph.field_image_caption_position.getSettings()['allowed_values'][paragraph.field_image_caption_position.value]|lower|replace({' ': '-', '(': '', ')': ''}) : 'bottom' %}
{% set show_link = paragraph.field_show_as_link.value ? 'link' : 'normal'  %}
{% set has_popup = paragraph.field_has_popup.value %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    'style-' ~ image_style,
    'caption-' ~ caption_position
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/image') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder">
        {% if paragraph.field_link.uri %}
            {% set is_internal_link = 'entity:' in paragraph.field_link.uri or 'internal:' in paragraph.field_link.uri %}
            {% set link_uri = is_internal_link ? paragraph.field_link.uri|replace({'entity:': '/', 'internal:': ''}) : paragraph.field_link.uri %}
            {% if paragraph.field_link_as_button.value %}
                <div class="img-cont {{ show_link }}">
                    <img src="{{ loadImageStyle(image_style, paragraph.field_image.entity.uri.value) }}" alt="{{ paragraph.field_image.alt | default('image') }}" />
                    {{ paragraph.field_text.value ? ('<div class="text row">' ~ paragraph.field_text.value ~ '</div>') | raw : '' }}
                    <p class="link-cont {{ show_link }}">
                        <a href="{{ link_uri }}" {{ not is_internal_link ? 'target="_blank" class="external"' }}>{{ paragraph.field_link.title }}</a>
                    </p>
                </div>
            {% else %}
                <a class="img-cont-link" href="{{ link_uri }}"{{ not is_internal_link ? 'target="_blank"' }}>
                    {% set has_popup = false %}
                    {% block paragraph_image %}

                        {% if has_popup %}
                            {{ attach_library('paragraphs_extension/lightbox_2') }}
                            <a href="{{ loadImageStyle('1200xauto', paragraph.field_image.entity.uri.value) }}" data-lightbox="image" data-title="{{ paragraph.field_image.alt }}">
                                {% block image_block %}
                                    <img src="{{ loadImageStyle(image_style, paragraph.field_image.entity.uri.value) }}" alt="{{ paragraph.field_image.alt | default('image') }}" />
                                    {{ paragraph.field_text.value ? ('<div class="text row">' ~ paragraph.field_text.value ~ '</div>') | raw }}
                                {% endblock %}
                            </a>
                        {% else %}
                            <div class="holder">{{ block('image_block') }}</div>
                        {% endif %}
                    {% endblock %}
                </a>
            {% endif %}
        {% else %}
            <div class="img-cont">{{ block('paragraph_image') }}</div>
        {% endif %}
    </div>
</section>