{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title = paragraph.field_title.value %}
{% set tabs_count = paragraph.field_tabs.value|length %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    'tabs-' ~ tabs_count,
    paragraph.field_wide.value ? 'wide'
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/tabs') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder{{ not paragraph.field_wide.value ? ' row' }}">
        {{ title ? ('<div class="title"><h3 class="title">' ~ title ~ '</h3></div>') | raw }}}}

        {% if tabs_count %}
            {% set tabs_header_html = '' %}
            {% set tabs_body_html = '' %}
            {% for i in 0..(tabs_count-1) %}
                {% set tabs_header_html = tabs_header_html ~ ('<div class="tab-title' ~ (i == 0 ? ' actv') ~ '" data-id="' ~ i ~ '" title="' ~ content.field_tabs[i]['#paragraph'].field_title.value ~ '">' ~ content.field_tabs[i]['#paragraph'].field_title.value ~ '</div>') %}
                {% set tmp %}
                    <div class="tab-body{{ i == 0 ? ' actv' }}" data-id="{{ i }}">{{ content.field_tabs[i]|without('field_title') }}</div>
                {% endset %}
                {% set tabs_body_html = tabs_body_html ~ tmp %}
            {% endfor %}
            <div class="tabs-header">{{ tabs_header_html|raw }}</div>
            <div class="tabs-body">{{ tabs_body_html|raw }}</div>
        {% endif %}
    </div>
</section>