{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title = paragraph.field_title.value %}
{% set block_position = paragraph.field_shape_position.getSettings()['allowed_values'][paragraph.field_shape_position.value]|lower %}
{% set select_form = paragraph.field_select_form.getSettings()['allowed_values'][paragraph.field_select_form.value]|lower %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    select_form,
    block_position ~ '-form'
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/forms') }}
<section{{ attributes.addClass(classes) }}>

    <div class="holder row">
        {% if block_position == 'left' %}
            {% if select_form == 'enquiry' %}
                {% include 'modules/agnian/paragraphs_extension/templates/partials/_form-part--enquiry.html.twig' %}
            {% endif %}
            {% if select_form == 'contact' %}
                {% include 'modules/agnian/paragraphs_extension/templates/partials/_form-part--contact.html.twig' %}
            {% endif %}
        {% endif %}
         <div class="columns text">
             <div class="holder">
                 {{ title ? ('<div class="title"><h3 class="title">' ~ title ~ '</h3></div>') | raw }}
                 {{ content|without('field_title') }}
             </div>
        </div>
         {% if block_position == 'right' %}
            {% if select_form == 'enquiry' %}
                {% include 'modules/agnian/paragraphs_extension/templates/partials/_form-part--enquiry.html.twig' %}
            {% endif %}
            {% if select_form == 'contact' %}
                {% include 'modules/agnian/paragraphs_extension/templates/partials/_form-part--contact.html.twig' %}
            {% endif %}
        {% endif %}
    </div>
   
</section>