{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title = paragraph.field_title.value %}
{% set hex_color = paragraph.field_hex_color.value %}
{% set attributes = attributes.setAttribute('data-color', hex_color) %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/title_with_icons') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder row">
        <h3 class="small-title" style="color: {{ hex_color }}">{{ title | raw }}</h3>
        <img src="{{ loadImageStyle('height24px', paragraph.field_image.entity.uri.value) }}" alt="{{ paragraph.field_image.alt | default('image') }}" />
        {{ paragraph.field_text.value ? ('<div class="text row">' ~ paragraph.field_text.value ~ '</div>') | raw : '' }}

        {% if paragraph.field_link.uri %}
            {% set is_internal_link = 'entity:' in paragraph.field_link.uri or 'internal:' in paragraph.field_link.uri %}
            {% set link_uri = is_internal_link ? paragraph.field_link.uri|replace({'entity:': '/', 'internal:': ''}) : paragraph.field_link.uri %}
                    <p class="link-cont">
                        <a href="{{ link_uri }}" {{ not is_internal_link ? 'target="_blank" class="external"' }}>{{ paragraph.field_link.title }}</a>
                    </p>
        {% endif %}

    </div>
</section>