{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set 	background_color = paragraph.field_background_color.value is not empty ? paragraph.field_background_color.getSettings()['allowed_values'][paragraph.field_background_color.value]|lower|replace({' ': '-', '(': '', ')': ''}) %}
{% set title = paragraph.field_title.value %}
{% set under_title = paragraph.field_text_under_title.value %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    background_color ? 'fill-color',
    'color-' ~ background_color,
    'columns-' ~ paragraph.field_columns.value|length
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/columns') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder{{ not paragraph.field_wide.value ? ' row' }}">
        {{ title ? ('<div class="title"><h3 class="title">' ~ title ~ '</h3></div>') | raw }}
        {{ under_title ? ('<div class="under_title">' ~ under_title ~ '</div>') | raw }}
        <div class="content">{{ content|without('field_title','field_text_under_title') }}</div>
        
    </div>
</section>