{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title = paragraph.field_title.value %}
{% set under_title = paragraph.field_text_under_title.value %}
{% set image_position = paragraph.field_image_position.getSettings()['allowed_values'][paragraph.field_image_position.value]|lower|replace({' ': '-', '(': '', ')': ''}) %}
{# {% set hex_color = paragraph.field_hex_color.value %} #}
{% set attributes = attributes.setAttribute('data-color', hex_color) %}
{% set image_style = paragraph.field_image_style.target_id | default('346x346') %}
{% set style = paragraph.field_column_style.value is not empty ? paragraph.field_column_style.getSettings()['allowed_values'][paragraph.field_column_style.value]|lower|replace({' ': '-', '(': '', ')': ''}) : '50x50' %}

{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    paragraph.field_small_title.value ? 'small-title',
    image_position ~ '-image',
    'style-' ~ style
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/text_with_image') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder row">
        {{ title ? ('<div class="title"><h3 class="title">' ~ title ~ '</h3></div>') | raw }}
        {{ under_title ? ('<div class="under_title">' ~ under_title ~ '</div>') | raw }}

        {% if image_position == 'left' %}
            {% block paragraph_image_part %}
                {% include 'modules/mpw/paragraphs_extension/templates/partials/_image-part--text-with-image.html.twig' %}
            {% endblock %}
        {% endif %}

        <div class="{{ (image_position == 'left' or image_position == 'right') ? 'medium-6 large-6 columns ' : '' }}text">
            {% if  paragraph.field_small_title.value and title %}
                {# <h3 class="small-title" style="color: {{ hex_color }}">{{ title | raw }}</h3> #}
                <h3 class="small-title">{{ title | raw }}</h3>
            {% endif %}

            {#{{ paragraph.field_small_title.value and title ? ('<h3 class="title" style="color: {{ hex_color }};">' ~ title ~ '</h3>') | raw }}#}
            {{ content|without('field_title', 'field_image','field_text_under_title') }}
        </div>

        {% if image_position == 'bottom' or image_position == 'right' %}
            {{ block('paragraph_image_part') }}
        {% endif %}
    </div>
</section>