{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title = paragraph.field_title.value %}
{% set block_position = paragraph.field_shape_position.getSettings()['allowed_values'][paragraph.field_shape_position.value]|lower %}
{% set block_color_term = getTaxonomyTermById(paragraph.field_color.target_id) %}
{% set block_color = block_color_term.field_classname.value|lower|replace(' ', '-') %}
{% set text_bg_color_term = getTaxonomyTermById(paragraph.field_color_2.target_id) %}
{% set text_bg_color = text_bg_color_term.field_classname.value|lower|replace(' ', '-') %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    block_position ~ '-block'
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/text_with_block') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder row">
        {% if block_position == 'left' %}
            {% block paragraph_block_part %}
                {% include 'modules/agnian/paragraphs_extension/templates/partials/_block-part--text-with-block.html.twig' %}
            {% endblock %}
        {% endif %}

        <div class="medium-8 large-8 columns text {{ text_bg_color ? 'bg-' ~ text_bg_color : 'bg-none' }}">
            {{ title ? ('<div class="title"><h3 class="title">' ~ title ~ '</h3></div>') | raw }}
            {{ content|without('field_title', 'field_bold_text', 'field_block_content_custom_block', 'field_block_content_site_content', 'field_block_content_views') }}
        </div>

        {% if block_position == 'right' %}
            {{ block('paragraph_block_part') }}
        {% endif %}
    </div>
</section>