{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set title = paragraph.field_title.value %}
{% set bigtitle = paragraph.field_title_event.value %}
{% set image_position = paragraph.field_shape_position.getSettings()['allowed_values'][paragraph.field_shape_position.value]|lower|replace({' ': '-', '(': '', ')': ''}) %}
{% set classes = [
    'paragraph',
    paragraph.bundle|clean_class,
    image_position ~ '-slide'
] %}
{{ attach_library('paragraphs_extension/default') }}
{{ attach_library('paragraphs_extension/events') }}
<section{{ attributes.addClass(classes) }}>
    <div class="holder row">
        {{ bigtitle ? ('<div class="title"><h3 class="title">' ~ bigtitle ~ '</h3></div>') | raw }}
        {% if image_position == 'left' %}
            {% block paragraph_slide_part %}
                {% include 'modules/agnian/paragraphs_extension/templates/partials/_slide-part--events.html.twig' %}
            {% endblock %}
        {% endif %}
        <div class="{{ (image_position == 'left' or image_position == 'right') ? 'medium-6 large-6 columns ' : '' }}text">
            {{ content|without('field_slides', 'field_title_event') }}
        </div>

        {% if image_position == 'bottom' or image_position == 'right' %}
            {{ block('paragraph_slide_part') }}
        {% endif %}
    </div>
</section>