<div id="contact-form-banner">
	<div class="holder row">
		{#<h2>CONTACT US</h2>#}
		{# <h3>BEST COMMERCIAL REAL ESTATE BLOGS</h3> #}
    <h3><a href="/blog">BEST COMMERCIAL REAL ESTATE BLOGS</a></h3>
		{#{{ contact_form }}#}
		{{ blog_front }}
	</div>
</div>
