<div class="office-space-sidebar medium-4 large-4 columns">
    <div class="search-block">
        <h3>Search</h3>
        {{ search_block }}
    </div>
    <div class="contact-form">
        <h3>Contact Us</h3>
        {{ contact_form }}
    </div>
    <div class="social-block">
        <h3>Follow Us</h3>
        {{ follow_block }}
        {{ simple_news }}
    </div>
    {% if node.bundle == 'city_page' %}
        {% if popular_search %}
            <div class="popular-search">
               {{ popular_search }}
            </div>
        {% endif %}
    {% endif %}
</div>
