.block-views-blocksitemap-block-1 {
  max-width: $custom-row-width;
  margin: 0 auto;
  .view-content {
    > .view-grouping {
      > .view-grouping-header {
        font-size: 22px;
        font-weight: bold;
      }
      > .view-grouping-content {
        padding-left: 20px;
        margin-bottom: 10px;
          > h3 {
            font-size: 20px;
            font-weight: normal;
            margin: 5px 0;
            > a {
              color: $red;
            }
          }
        > .views-row {
          padding-left: 20px;
          a {
            font-size: 16px;
            color: $red;
          }
        }
      }
    }
  }
}