.cstm-acc > .cstm-acc-item{
    position: relative;
    margin: 0 0 -1px;
    border: 1px solid #d9d9d9;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.cstm-acc > .cstm-acc-item > .cstm-acc-item-title{
    padding: 10px 40px;
    color: #231f20;
    font-size: 20px;
    cursor: pointer;
}
.cstm-acc > .cstm-acc-item > .cstm-acc-item-body{
    display: none;
    padding: 20px 40px;
    color: #515151;
}
.cstm-acc > .cstm-acc-item:after{
    content: '';
    position: absolute;
    top: 15px;
    right: 20px;
    width: 14px;
    height: 14px;
    background: url(images/arr_down.png) center no-repeat;
    pointer-events: none;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.cstm-acc > .cstm-acc-item:hover{border-left-width: 11px;}
.cstm-acc > .cstm-acc-item.cstm-acc-item-opened{
    z-index: 1;
    border-left: 11px solid;
    border-color: #fcb040;
}
.cstm-acc > .cstm-acc-item.cstm-acc-item-opened:after{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}