body.path-frontpage {
	background:  $light-gray;
	#clickable-map {
		background: #fff;
		@include section_arrow_top(#fff);
		overflow: visible;
	}

	.featured-content {
		position: relative;
		z-index: 1;
	}

	#clickable-map {

		> img {
			width: auto;
		}
		iframe {
			max-width: 450px;
			height: 315px;
			@include breakpoint($phone) {
				max-width: 900px !important;
				height: 500px !important;
			}
		}
		> .us-map {
			max-width: 100%;
			@include breakpoint($desk-mini) {
				max-width: 900px;
			}
			margin: 0 auto;
			overflow: hidden;
			padding-bottom: 40px;
			position: relative;
			> .map-info {
				position: relative;
				h3 {
					text-align: center;
					color: $red;
					font-size: 26px;
					margin-bottom: 0;
				}
				p {
					color: $gray;
					font-size: 12px;
					max-width: 290px;
				}
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					height: 35px;
					bottom: -30px;
					background: #fff;
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: 300px;
				height: 30px;
				right: 0;
				bottom: 30px;
				background: #fff;
			}
		}
	}
	#block-views-block-featured-locations-block-featured-location,
	#block-views-block-featured-locations-block-2,
	#block-views-block-featured-locations-block-all {
		@include section_arrow(#fff);
		//padding: 0;
	}
}
#front-featured-banner {
		position: relative;
		text-align: center;
		background: url('/themes/mpw/images/featured_banner-191815837.webp') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 320px;
		max-height: 500px;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,23,34,.25);
		}
		> .banner-text {
			position: absolute;
			//max-width: 940px;
			top: 50%;
			right: 0;
			left: 0;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			color: #fff;
			text-align: center;
			> h1 {
				font-size: 24px;
				font-weight: 700;
				@include breakpoint($tab-mini) {font-size: 26px;}
				@include breakpoint($tab) {font-size: 34px;}
				@include breakpoint($desk-mini) {font-size: 40px;}
				@include breakpoint($desk) {font-size: 48px;}
				> a {
					text-decoration: underline;
				}
			}
		}
		> img {
			width: 100%;
			visibility: hidden;
		}
		
		#views-exposed-form-office-space-search-page,
		#block-exposedformsolr-property-listingpage-1-2 {
			position: relative;
			margin: 0 auto;
			max-width: 500px;
			text-align: center;
			font-size: 20px;
			.form-item-location-geolocation-geocoder-google-places-api,
			.form-item-location-geolocation-geocoder-google-geocoding-api,
			.form-item-geolocation,
			.form-item-keyword {
				float: none;
				> input {
					width: 100%;
					padding: 5px 15px;
					background: rgba(#fff,0.25);
					border: solid 4px #fff;
					border-radius: 50px;
					@include breakpoint($desk-mini) {padding: 10px 30px;}
					&::-webkit-input-placeholder {
						color: #fff;
						font-size: 22px;
					}
					&::-moz-placeholder {
						color: #fff;
						font-size: 22px;
					}
					&:-ms-input-placeholder {
						color: #fff;
						font-size: 22px;
					}
					&:-moz-placeholder {
						color: #fff;
						font-size: 22px;
					}
				}
				> label,
				> .description {
					display: none;
				}
			}
			.form-actions {
				position: absolute;
    			top: 50%;
    			-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
    			right: 10px;
    			margin: 0;
    			& #edit-submit-solr-property-listing {
					background: #FFF;
					text-indent: 0;
					color: #000;
					right: 6px;
			    }
    			> .fa-search {
    				position: absolute;
    				top: 50%;
    				-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
    				right: 30px;
    				pointer-events: none;
    			}
    			> .form-submit {
					text-indent: -999999px;
					position: relative;
    				width: 50px;
    				margin: 0;
					background: none;
    			}
			}
		}
	}

.view-id-bootm_links {
	&.view-display-id-bottpm_links {
		max-width: $custom-row-width;
		margin: 0 auto;
		padding: 15px;
		.view-content {
			@include breakpoint($tab-mini) {
				display: flex;
			}
			> .link-group {
				flex: 1;
				@include breakpoint($tab-mini) {
					column-count: 2;
					column-gap: 20px;
				}
				@include breakpoint($tab) {
					column-count: 3;
				}
			}
		}
	}
	&.view-display-id-block_1 {
		max-width: $custom-row-width;
		margin: 0 auto;
		padding: 15px;
	}
}