body.node--type-property {
	article.node--type-property {
		> .image-cont {
			position: relative;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: center;
		    @include section_arrow(#fff);
		    padding: 0 !important;
		    margin-bottom: 25px;
			max-height: 400px;
			img { visibility: hidden; }

			> .holder {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 25px;
				@include breakpoint($tab) {
					bottom: 100px;
				}
				> h1 {
					display: inline-block;
					color: #fff;
					background:  rgba($red, .75);
					line-height: 1;
					padding: 15px 25px 15px 50px;
					font-size: 24px;
					@include breakpoint($tab-mini){
						padding: 20px 45px 20px 65px;
						font-size: 28px;
					}
					@include breakpoint($tab){
						padding: 20px 50px 20px 80px;
						font-size: 36px;
					}
					@include breakpoint($desk-mini){
						padding: 25px 50px 25px 100px;
						font-size: 48px;
					}
					@include breakpoint($desk){font-size: 52px;}
				}
			}
			> .overlay {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0,.10);
			}
		}
		> .holder {
			&.top {
				max-width: 1042px;
				margin: 0 auto;
				> .map {

					padding-right: 40px;
					.contact-info {
						padding: 10px 0 30px;
						border-bottom: solid 2px $gray;
						color: $gray;
						font-size: 16px;
						> .address {
							.field--name-field-address {
								display: inline-block;
								br { display: none; }
							}
						}
						> .numbers {
							> .phone {
								display: inline-block;
								> div {
									display: inline-block;
									a {color:$gray;}
								}
							}
						}
						> .mail {
							a {color: $gray;}
						}
					}
				}
				> .contact {
					padding: 5px 20px 20px;
				    position: relative;
				    //top: -90px;
					background: $light_gray;
					> .contact_form {
						padding-bottom: 12px;
						border-bottom: solid 1px $gray;
						> h3 {
							margin: 0;
							font-size: 24px;
							color: $gray;
						}
					}
					> .book-a-tour {
						padding-bottom: 12px;
						border-bottom: solid 1px $gray;
						> h3 {
							margin: 0;
							font-size: 24px;
							color: $gray;
						}
					}
					> .search {
						padding-bottom: 12px;
						border-bottom: solid 1px $gray;
						> h3 {
							margin: 0;
							font-size: 24px;
							color: $gray;
						}
						form {
							position: relative;
							.form-item-location-geolocation-geocoder-google-places-api,
							.form-item-location-geolocation-geocoder-google-geocoding-api {
								> input {
									width: 100%;
									padding: 8px 18px;
									background: #fff;
									border-radius: 50px;
									box-shadow: none;
									border: none;
									&::-webkit-input-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&::-moz-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&:-ms-input-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&:-moz-placeholder {
										font-size: 12px;
										color: $gray;
									}
								}
							}
							.form-actions {
								position: absolute;
				    			top: 50%;
				    			-webkit-transform: translateY(-50%);
								transform: translateY(-50%);
				    			right: 8px;
				    			margin: 0;
				    			> .fa-search {
				    				position: absolute;
				    				top: 50%;
				    				-webkit-transform: translateY(-50%);
									transform: translateY(-50%);
				    				right: 30px;
				    				pointer-events: none;
				    				font-size: 12px;
				    				color: $gray;
				    			}
				    			> .form-submit {
									text-indent: -999999px;
									position: relative;
				    				width: 50px;
				    				margin: 0;
									background: none;
									background: none;
				    			}
							}
						}
					}
					> .contact_form {
						padding-top: 20px;
						//border-top: solid 1px $gray;
						> h3 {
							margin: 0;
							font-size: 24px;
							color: $gray;
						}
						form {
							> fieldset {
								border: none;
								padding: 0;
								margin: 0;
							}
							.form-item {margin: 10px 0;}
							input,
							textarea {
									width: 100%;
									padding: 8px 18px;
									background: #fff;
									border-radius: 50px;
									box-shadow: none;
									border: none;
									&::-webkit-input-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&::-moz-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&:-ms-input-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&:-moz-placeholder {
										font-size: 12px;
										color: $gray;
									}
									&.webform-webform-telephone-international {
										padding-left: 50px;
									}
								}
								textarea {border-radius: 10px;}
						}
					}
				}
			}
			&.bottom {

				> .field--name-body {
					padding: 30px 0 40px;
				    border-bottom: solid 2px $gray;
					max-width: 980px;
					margin: 0 auto;
					@include breakpoint($tab) {
						-moz-column-count: 2;
						-webkit-column-count: 2;
						column-count: 2;
					}
				}
				> .avaibility {
					padding: 30px 0 40px;
					border-bottom: solid 2px $gray;
					max-width: 980px;
					margin: 0 auto;
					.field__label {
						padding: 20px 0;
						margin: 0;
						color: $red;
						font-size: 28px;
					}
					table {
						width: 100%;
						text-align: left;
						border-collapse: collapse;
						td,
						th {
							border: 1px solid #ddd;
							padding: 8px;
						}
						thead {
							th {
								padding-top: 12px;
								padding-bottom: 12px;
								background-color: $red;
								color: white;
							}
						}
					}
				}
				> .images-block {
					max-width: 1020px;
					margin: 0 auto;
					padding: 28px 0 75px;
					> .title {
						padding: 0 20px;
						margin: 0;
						color: $red;
					}
					> .field--name-field-image {
						overflow: hidden;
						> .field__item {
							float: left;
							width: 100%;
							@include breakpoint($phone) {
								width: 50%;
								padding: 10px;
							}
							@include breakpoint($tab) {
								width: 33.33333%;
								padding: 20px;
							}
							img {width: 100%;}
						}
					}
				}
			}
		}
	}
}
