#content.office_space {
  #block-frontpagempwawesomethings {
    &:before,
    &:after {background: #fff;}
  }
  .holder {
    //max-width: $custom_row_width;
    //margin: 0 auto;
    > .office-page-content {
      .view-office-space {
        &.view-display-id-search_page {
          .attachment.attachment-before {
            display: none;
          }
        }
        > .view-content {
          > .views-row {
            position: relative;
            border-bottom: solid  2px $gray;
            padding: 30px 0 15px;
            > .views-field-title {
              a {
                font-size: 24px;
                color: $red;
              }
            }
            > .views-field-field-image {
              margin: 2px 0 12px;
              position: relative;
              > .owl-carousel {
                > .owl-controls {
                  > .owl-nav {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-size: 42px;
                    color: #fff;
                    > .owl-prev {
                      float: left;
                      padding: 10px;
                      display: inline-block;
                    }
                    > .owl-next {
                      float: right;
                      display: inline-block;
                      padding: 10px;
                    }
                  }
                }
              }
            }
            > .views-field-view-node {
              position: absolute;
              right: 0;
              bottom: -8;
              background: #fff;
              padding-left: 3px;
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    > .office-space-sidebar {
      position: relative;
      //top: -90px;
      background: $light_gray;
      padding-bottom: 20px;
      > div {
        padding: 30px 0 20px;
        border-bottom: solid 1px $gray;
        > h3 {
          margin: 0;
          font-size: 24px;
          color: $gray;
          padding-left: 17px;
        }
      }
      > .search-block {
        form {
          position: relative;
          .form-item-location-geolocation-geocoder-google-places-api,
          .form-item-location-geolocation-geocoder-google-geocoding-api,
          .form-item-geolocation {
            > input {
              width: 100%;
              padding: 12px 18px;
              background: #fff;
              border-radius: 50px;
              box-shadow: none;
              border: none;
              &::-webkit-input-placeholder {
                font-size: 16px;
                color: $red;
              }
              &::-moz-placeholder {
                font-size: 16px;
                color: $red;
              }
              &:-ms-input-placeholder {
                font-size: 16px;
                color: $red;
              }
              &:-moz-placeholder {
                font-size: 16px;
                color: $red;
              }
            }
          }
          .form-actions {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 8px;
            margin: 0;
            > .fa-search {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              right: 30px;
              pointer-events: none;
              font-size: 12px;
              color: $gray;
            }
            > .form-submit {
              text-indent: -999999px;
              position: relative;
              width: 50px;
              margin: 0;
              visibility: hidden;
            }
          }
        }
      }
      > .contact-form {
        form {
          > fieldset {
            border: none;
            padding: 0;
            margin: 0;
          }
          .form-item {margin: 10px 0;}
          .form-actions {
            position: relative;
            &:after {
              content: '>';
              position: absolute;
              top: 50%;
              right: 0;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              font-size: 24px;
              color: $gray;
            }
            > input {
              border: none;
              background: none;
              color: $gray;
              font-size: 24px;
              text-align: right;
              text-transform: uppercase;
            }
          }
        }
      }
      > .social-block {
        .social-media-links--platforms {
          > li {
            a {
              display: block;
              color: #fff;
              height: 35px;
              width: 35px;
              background: $gray;
              border-radius: 50%;
              > span {
                font-size: 20px !important;
                line-height: 35px;
              }
            }
          }
        }
        .block-simplenews {
            form {
              .form-item-message { display: none; }
              .field--name-mail {
                > .form-item {
                  > .description {display: none;}
                }
              }
              .form-actions {
                position: relative;
                &:after {
                  content: '>';
                  position: absolute;
                  top: 50%;
                  right: 0;
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  transform: translateY(-50%);
                  font-size: 24px;
                  color: $gray;
                }
                > input {
                  border: none;
                  background: none;
                  color: $gray;
                  font-size: 24px;
                  text-align: right;
                  text-transform: uppercase;
                }
              }
            }

        }
      }
      @include breakpoint($tab_mini) {
        &:before {
          content: '';
          position: absolute;
          top: -30px;
          left: 0;
          right: 0;
          height: 54px;
          background: #f1f3ee;
          z-index: 3;
          width: 300%;
          transform-origin: bottom left;
          transform: rotate(-3deg);
        }
        &:after {
          content: '';
          position: absolute;
          top: -2%;
          bottom: 0;
          width: 300%;
          left: 100%;
          background: #f1f3ee;
        }
      }
    }
  }
}
#city-page-banner {
  .view-office-space {
    .view-content {
      .image-cont {
        text-align: left;
        width: attr(data-image px);
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include section_arrow(#fff);
        padding: 0 !important;
        /*margin-bottom: 25px;*/
        max-height: 400px;
        img { visibility: hidden; }
        > .title-contnent {
          //position: absolute;
          //left: 0;
          //right: 0;
          //bottom: 100px;
          text-align: center;
          > h1 {
            // display: inline-block;
            // color: #fff;
            color: #be1722;
            // background:  rgba($red, .75);
            // line-height: 1;
            // padding: 25px 50px 25px 100px;
            font-size: 26px;
            // @include breakpoint($tab-mini){font-size: 28px;}
            // @include breakpoint($tab){font-size: 36px}
            // @include breakpoint($desk-mini){font-size: 48px;}
            // @include breakpoint($desk){font-size: 52px;}
            @include breakpoint($tab-mini){font-size: 16px;}
            @include breakpoint($tab){font-size: 20px}
            @include breakpoint($desk-mini){font-size: 26px;}
            @include breakpoint($desk){font-size: 30px;}
          }
        }
      }

      .text {
        /*padding-bottom: 30px;*/
        overflow: hidden;
        text-align: left;
      }
      .views-row {
        > a {
          display: block;
          max-width: 66.25rem;
          padding: 0 20px;
          text-align: right;
          margin: 10px auto;
          //margin: 10px 0;
        }
      }
    }
    .view-footer {
      > .city-title {
        > h2 {
          margin:0px 0px 20px 0px;
        }
      }
    }
  }
}
.city-content-map {
    margin-bottom: 55px;
}


@include breakpoint($lt-phone ) { 
  .images-block a img {
      padding-bottom: 10px;
  }

  .view-id-blog .view-content .views-row > .views-field-field-image .image-content .category {
    display: none;
  }
}