body.node--type-featuret-locations,
body.node--type-city-page,
.row.blog {
  .small-description-ciy {
    padding-bottom: 20px;
    overflow: hidden;
  }
  .node--type-city-page {
    > a {
      display: block;
      max-width: 66.25rem;
      padding: 0 20px;
      text-align: right;
      margin: 10px auto;
    }
  }
  #property_page_banner {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-postition: center;
    @include section_arrow(#fff);
    padding: 0 !important;
    margin-bottom: 25px;
    max-height: 400px;
    img { visibility: hidden; }
    > .holder {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      @include breakpoint($tab) {
        bottom: 100px;
      }
      > h1 {
        display: inline-block;
        color: #fff;
        background:  rgba($red, .75);
        line-height: 1;
        padding: 15px 25px 15px 50px;
        font-size: 24px;
        @include breakpoint($tab-mini){
          padding: 20px 45px 20px 65px;
          font-size: 28px;
        }
        @include breakpoint($tab){
          padding: 20px 50px 20px 80px;
          font-size: 36px;
        }
        @include breakpoint($desk-mini){
          padding: 25px 50px 25px 100px;
          font-size: 48px;
        }
        @include breakpoint($desk){font-size: 52px;}
      }
    }
    > .overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.10);
    }
  }
  #block-frontpagempwawesomethings {
    &:before,
    &:after {background: #fff;}
  }

    //max-width: $custom_row_width;
    //margin: 0 auto;
    .office-page-content {
      padding-bottom: 20px;
      .view-office-space {
        > .view-content {
          > .views-row {
            position: relative;
            border-bottom: solid  2px $gray;
            padding: 30px 0 15px;
            > .views-field-title {
              a {
                font-size: 24px;
                color: $red;
              }
            }
            > .views-field-field-image {
              margin: 2px 0 12px;
              position: relative;
              > .owl-carousel {
                > .owl-controls {
                  > .owl-nav {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);
                    font-size: 42px;
                    color: #fff;
                    > .owl-prev {
                      float: left;
                      padding: 10px;
                      display: inline-block;
                    }
                    > .owl-next {
                      float: right;
                      display: inline-block;
                      padding: 10px;
                    }
                  }
                }
              }
            }
            > .views-field-view-node {
              position: absolute;
              right: 0;
              bottom: -8;
              background: #fff;
              padding-left: 3px;
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .office-space-sidebar {
      position: relative;
      //top: -90px;
      background: $light_gray;
      padding-bottom: 20px;
      > div {
        padding: 30px 0 20px;
        border-bottom: solid 1px $gray;
        > h3 {
          margin: 0;
          font-size: 24px;
          color: $gray;
          padding-left: 17px;
        }
      }
      > .search-block {
        form {
          position: relative;
          .form-item-location-geolocation-geocoder-google-places-api,
          .form-item-location-geolocation-geocoder-google-geocoding-api,
          .form-item-geolocation {
            > input {
              width: 100%;
              padding: 12px 18px;
              background: #fff;
              border-radius: 50px;
              box-shadow: none;
              border: none;
              &::-webkit-input-placeholder {
                font-size: 16px;
                color: $red;
              }
              &::-moz-placeholder {
                font-size: 16px;
                color: $red;
              }
              &:-ms-input-placeholder {
                font-size: 16px;
                color: $red;
              }
              &:-moz-placeholder {
                font-size: 16px;
                color: $red;
              }
            }
          }
          .form-actions {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 8px;
            margin: 0;
            //visibility: hidden;
            > .fa-search {
              position: absolute;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              right: 30px;
              pointer-events: none;
              font-size: 12px;
              color: $gray;
            }
            > .form-submit {
              text-indent: -999999px;
              position: relative;
              width: 50px;
              margin: 0;
              visibility: hidden;
            }
          }
        }
      }
      > .contact-form {
        form {
          > fieldset {
            border: none;
            padding: 0;
            margin: 0;
          }
          .form-item {margin: 10px 0;}
          .form-actions {
            position: relative;
            &:after {
              content: '>';
              position: absolute;
              top: 50%;
              right: 0;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              font-size: 24px;
              color: $gray;
            }
            > input {
              border: none;
              background: none;
              color: $gray;
              font-size: 24px;
              text-align: right;
              text-transform: uppercase;
            }
          }
        }
      }
      > .social-block {
        .social-media-links--platforms {
          > li {
            a {
              display: block;
              color: #fff;
              height: 35px;
              width: 35px;
              background: $gray;
              border-radius: 50%;
              > span {
                font-size: 20px !important;
                line-height: 35px;
              }
            }
          }
        }
        .block-simplenews {
          form {
            .form-item-message { display: none; }
            .field--name-mail {
              > .form-item {
                > .description {display: none;}
              }
            }
            .form-actions {
              position: relative;
              &:after {
                content: '>';
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 24px;
                color: $gray;
              }
              > input {
                border: none;
                background: none;
                color: $gray;
                font-size: 24px;
                text-align: right;
                text-transform: uppercase;
              }
            }
          }

        }
      }
      @include breakpoint($tab_mini) {
        &:before {
          content: '';
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          height: 45px;
          background: #f1f3ee;
          z-index: 3;
          width: 300%;
          transform-origin: bottom left;
          transform: rotate(-3deg);
        }
        &:after {
          content: '';
          position: absolute;
          top: -2%;
          bottom: 0;
          width: 300%;
          left: 100%;
          background: #f1f3ee;
        }
      }
    }

  #contact-form-banner {
    &:before,
    &:after {
      background: #fff;
    }
  }
  #block-frontpagempwawesomethings {
    &:before,
    &:after {
      height: 45px;
    }
  }
}

.city-title {
  text-align: center;
  color: #be1722;
  font-size: 30px;
}

#block-mpwcitypagecontent {
 .node--type-city-page {
    > a {
      display: block;
      max-width: 66.25rem;
      padding: 0 20px;
      text-align: right;
      margin: 10px auto;
    }
  }
}

#block-mpwcitypagecontentmap {
  .city-content-map .location-content .views-field.views-field-body {
    font-family: "Proxima Nova Soft",sans-serif;
  }
  .city-content-map h2.location-title {
      font-size: 14px;
  }

  .city-content-map .location-content .views-field.views-field-body .field-content h2 {
      font-size: 14px;
  }
  .city-content-map .gm-style-iw.gm-style-iw-c {
      width: 250px;
  }
}

#block-views-block-office-space-property-city-map {
  
  @include breakpoint($desk){
    height: 500px;
    overflow: hidden;
  }
  
  .location-content .views-field.views-field-body {
    font-family: "Proxima Nova Soft",sans-serif;
  }
  h2.location-title {
      font-size: 14px;
  }

  .location-content h2{
      font-size: 14px;
  }
  .gm-style-iw.gm-style-iw-c {
      width: 250px;
  }
}

#block-exposedformsolr-property-listingpage-1 {
  border-bottom: 1px solid #7d7d7d;
  margin-bottom: 5px;

  form#views-exposed-form-solr-property-listing-page-1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    width: 500px;
  }

  input#edit-keyword {
    border: 1px solid #7d7d7d;
  }
  input#edit-submit-solr-property-listing {
    width: 25%;
    border: 1px solid #7d7d7d;
  }
}

#block-mpw-content {
  .property-row {
    .medium-8 {
      padding-left: 0px;
      padding-right: 4px;

      .gm-style-iw.gm-style-iw-c {
        width: 250px;
      }
      h2.location-title,
      .location-content,
      .location-content h2,
      .location-content p {
        font-size: 14px;
        font-family: "Proxima Nova Soft",sans-serif;
      }
    }

    .medium-4.columns {
      border-left: 1px solid #7d7d7d;
      padding-left: 4px;
      padding-right: 0px;
      margin-top: -5px;
    }
    .views-row {
      position: relative;
      border-bottom: solid 1px #7d7d7d;
      padding: 5px 0 5px;
      .views-field-body {
        font-size: 13px;
        p{
          font-size: 13px;  
        }
      }
    }
    .read-more {
      font-size: 12px;
      position: absolute;
      right: 0;
      bottom: -8px;
      background: #fff;
      padding-left: 3px;
    }
    .owl-nav {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      font-size: 42px;
      color: #fff;
    }
    .owl-prev {
      float: left;
      display: inline-block;
      padding: 10px;
    }
    .owl-next {
      float: right;
      display: inline-block;
      padding: 10px;
    }
  }
}
