#block-blogpagewelcome {
  @include section_arrow(#fff);
  background: rgba(147,0,29,.35) url('/themes/mpw/images/mpw_front_block_back.webp') center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  .holder * {color:#fff;}
  .under_title {color:$red;}
}
body.node--type-blog {
  article.node--type-blog {
    > .image-cont {
      position: relative;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include section_arrow(#fff);
      padding: 0 !important;
      margin-bottom: 25px;
      max-height: 400px;
      > img { visibility: hidden; }
      > .holder {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        > h1 {
          display: inline-block;
          color: #fff;
          background:  rgba($red, .75);
          line-height: 1;
          padding: 25px 50px 25px 100px;
          font-size: 26px;
          @include breakpoint($tab-mini){font-size: 28px;}
          @include breakpoint($tab){font-size: 36px}
          @include breakpoint($desk-mini){font-size: 48px;}
          @include breakpoint($desk){font-size: 52px;}
        }
      }
      > .overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.10);
      }
    }
    > .holder {
        max-width: 1042px;
        margin: 0 auto;
        > .image {
          padding-top: 20px;
          > .image-cont {
            position: relative;
            img {
              width: 100%;
            }
            > .category {
              position: absolute;
              top: 20px;
              left: -5px;
              background: $red;
              color: #fff;
              padding: 5px 20px;
              text-transform: uppercase;
            }
          }
          > .contnet {
            .page-title {
              color: $red;
            }
            > .field--name-body {
              position: relative;
              padding-bottom: 20px;
              margin-bottom: 20px;
              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 20%;
                background: $red;
              }
            }
            > .slideshow {
              position: relative;
              max-width: 1020px;
              margin: 0 auto;
              padding: 28px 0 75px;
              .owl-item {
                padding: 0 10px;
              }
              .owl-prev,
              .owl-next {
                position: absolute;
                top: 40%;
                background: none;
                color: $red;
                padding: 0;
                i {
                  font-size: 26px;
                  font-weight: bold;
                }
              }
              .owl-prev { left: -10px; }
              .owl-next { right: -10px; }

              > .field--name-field-images {
                overflow: hidden;
                margin: 0 -20px;
                > .field__item {
                  float: left;
                  width: 100%;
                  @include breakpoint($phone) {
                    width: 50%;
                    padding: 10px;
                  }
                  @include breakpoint($tab) {
                    width: 33.33333%;
                    padding: 20px;
                  }
                  img {width: 100%;}
                }
              }

            }

          }
        }
        > .contact {
          position: relative;
          padding: 20px 20px 20px;
          position: relative;
          //top: -90px;
          background: $light_gray;
          > .contact_form {
            padding-top: 20px;
            //border-top: solid 1px $gray;
            > h3 {
              margin: 0;
              font-size: 24px;
              color: $gray;
            }
            form {
              > fieldset {
                border: none;
                padding: 0;
                margin: 0;
              }
              .form-item {margin: 10px 0;}
              input,
              textarea {
                width: 100%;
                padding: 8px 18px;
                background: #fff;
                border-radius: 50px;
                box-shadow: none;
                border: none;
                &::-webkit-input-placeholder {
                  font-size: 12px;
                  color: $gray;
                }
                &::-moz-placeholder {
                  font-size: 12px;
                  color: $gray;
                }
                &:-ms-input-placeholder {
                  font-size: 12px;
                  color: $gray;
                }
                &:-moz-placeholder {
                  font-size: 12px;
                  color: $gray;
                }
                &.webform-webform-telephone-international {
                  padding-left: 50px;
                }
              }
              textarea {border-radius: 10px;}
            }
          }
          @include breakpoint($tab_mini) {
            &:before {
              content: '';
              position: absolute;
              top: -10px;
              left: 0;
              right: 0;
              height: 45px;
              background: #f1f3ee;
              z-index: 3;
              width: 300%;
              transform-origin: bottom left;
              transform: rotate(-3deg);
            }
            &:after {
              content: '';
              position: absolute;
              top: -2%;
              bottom: 0;
              width: 300%;
              left: 100%;
              background: #f1f3ee;
            }
          }
        }

    }
  }
}
.view-id-blog {
  .view-content {
    overflow: hidden;
    max-width: 980px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
    .views-row {
      // float: left;
      width: 100%;
      @include breakpoint($lt-tab-mini) {
        margin-bottom: 25px;
        .views-field-body { padding: 0 10px; }
        img {width: 100%;}
      }
      @include breakpoint($tab-mini) {
        width: 50%;
        padding: 10px 20px;
      }
      > .views-field-title {
        padding: 5px 0 10px;
        font-size: 16px;
        @include breakpoint($tab) { padding: 10px 0 15px; }
        font-weight: bold;
        a {color: $red;}
      }
      > .views-field-body {
        text-align: left;
        color: $gray;
        font-size: 12px;
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 20px;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 20%;
          background: $red;
        }
      }

      > .views-field-field-image {
        .image-content {
          position: relative;
          .category {
            position: absolute;
            padding: 2px 10px;
            top: 10px;
            left: -5px;
            color: #fff;
            background: $red;
          }
        }
      }
    }
  }
}