.user-login-form {
  input {
    border: 1px solid;
    width: 50%;
    border-radius: 0px;
  }
  input[type="submit"] {
    background-color: #be1722;
    color:#fff;
    @include breakpoint($phone) {
      width: 33.33333%;
    }
    @include breakpoint($tab) {
      width: 33.33333%;
    }
    @include breakpoint($desk){
      width: 10%;
    }
  }
}

.mpw-subscription-form {
  input {
    border: 1px solid;
    @include breakpoint($phone) {
      width: 90%;
    }
    @include breakpoint($tab) {
      width: 80%;
    }
    @include breakpoint($desk){
      width: 80%;
    }
  }
  input[type="submit"] {
    margin-bottom: 10px;
   @include breakpoint($phone) {
      width: 40%;
    }
    @include breakpoint($tab) {
      width: 33%;
    }
    @include breakpoint($desk){
      width: 33%;
    }
  }
}

.user-pass {
  input {
    border: 1px solid;
    width: 50%;
    border-radius: 0px;
  }
  input[type="submit"] {
   width: 10%;
   background-color: #be1722;
   color:#fff;
  }
}

.webform-submission-quick-quote-add-form {
  input[type=checkbox] {
   width: 10%;
  }
}

#block-views-block-featured-locations-block-all,
#block-views-block-featured-locations-cities,
#block-views-block-featured-locations-block-featured-location {
  > h2{
    margin-bottom: 15px;
  }
  > div {
    .view-content {
      .views-row {
        padding: 5px;
        text-align: justify;
        > .views-field-title {
          font-size: 16px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: unset;
          padding: 0px;
        }
        > .views-field-title a {
          position: unset;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: #be1722;
          padding: 0px;
          background: unset;
          &:hover {
            background: unset;
          }
        }
      }
    }
  }
}

#block-views-block-featured-locations-cities > div .view-content .views-row {
  padding: 5px 15px 5px 5px;
}

body.node--type-property {
  article.node--type-property {
    > .property-title h1 {
    color: #FFF;
    background: rgba(190,23,34,.75);
    text-align: center;
      @include breakpoint($tab-mini){
        padding: 20px 45px 20px 65px;
        font-size: 24px;
      }
      @include breakpoint($tab){
        padding: 20px 50px 20px 80px;
        font-size: 32px;
      }
      @include breakpoint($desk-mini){
        padding: 25px 50px 25px 100px;
        font-size: 46px;
      }
      @include breakpoint($desk){
        font-size: 50px;
      }
    }
  }
}

input#edit-tour-date-date {
    width: 90%;
    margin-bottom: 10px;
}

img.ui-datepicker-trigger {
    display: inline;
}

#webform-submission-book-tour-node-166-add-form fieldset#edit-name-title .form-item:first-child {
  margin-bottom:0px;
}



.pricing-container {
  max-width: 750px;
  margin: 30px auto;

  .silver, .plat {

    background: rgba(255,255,255,1);
    text-align: center;
    @include breakpoint($phone) {
      width: 100%;
      padding: 10px;
    }
    @include breakpoint($tab) {
      width: 33.33333%;
      padding: 20px;
      float: left;
    }
    @include breakpoint($desk){
      width: 230px;
      float: left;
    }
    .border {
      border: 2px solid #e74c3c;
      border-radius: 10px;
      padding: 8px 4px;
    }
  }

  .gold {
    position: relative;
    padding: 50px 0;
    background: rgba(52, 152, 219,1.0);
    text-align: center;
    border-radius: 5px;

    & > .price {
      background: rgba(255,255,255,1);
      color: rgba(0,0,0,.7);
    }

    & > h1, & > h2, & > p, & > span {
      color: rgba(255,255,255,1);
    }
    @include breakpoint($phone) {
      width: 100%;
      padding: 10px;
    }
    @include breakpoint($tab) {
      width: 33.33333%;
      padding: 20px;
      float: left;
    }
    @include breakpoint($desk) {
      float: left;
      width: 237px;
      top: -50px;
    }
    .border {
      border: 2px solid #e74c3c;
      border-radius: 10px;
      padding: 8px 4px;
    }
  }

  h1 {
    margin: 20px 0 10px 0;
    font-size: 1.25em;
    color: rgba(0,0,0,0.8);
  }

  h2 {
    font-size: 1em;
    color: rgba(0,0,0,.6);
    font-weight: 100;
    letter-spacing: 1px;
  }

  p {
    color: rgba(0,0,0,.7);
    margin: 10px 0;
    font-weight: 100;
    font-size: 1em;
  }

  span {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-block;
    width: 125px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .price {
    height: 135px;
    width: 135px;
    text-align: center;
    background-color: rgba(231, 76, 60,1.0);
    border-radius: 50%;
    line-height: 135px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    margin: 20px auto;
  }

  a.button {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 35px;
    border-bottom: 5px solid rgba(192, 57, 43,1.0);
    background: rgba(231, 76, 60,1.0);
    border: none;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    font-size: 1em;
    font-weight: 100;
    transition: all ease-in-out .2s;

    &:hover {
      background: rgba(192, 57, 43,1.0);
    }
  }

  .pricing-title {
    margin-bottom: 70px;
    text-align: center;
  }
}

#user-email-result a {
    color: #be1722;
}

.pay-secure-button {
  width: 32%;
  margin-right: 0px;
  margin-left: 0px;
}

.user-login-p {
  text-align:center;
}

.ana-add-listing {
  border: 1px solid;
  padding: 7px;
  border-radius: 5px;
  border-color: #FFFFFF;
  width: 111px;
  color: #FFFFFF;
  background: #be1722;
  > a {
    color: #FFFFFF;
  }
}
.form-item-terms-condition input[type="checkbox"] {
    width: 15px;
}

#webform_submission_book_a_tour_add_form-ajax {
  input.hasDatepicker {
    width: 90%;
  }
}

#webform_submission_contact_add_form-ajax {
  .webform-submission-contact-form {
    fieldset.js-webform-type-fieldset {
      border: none;
      margin: 0px;
      padding: 0px;
      .js-form-type-tel {
        margin-bottom: 0px;
      }
    }
  }
}


#block-mpwsearchblock {
  .typeahead.form-text {
    width: 100%;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.25);
    border: solid 4px #fff;
    border-radius: 50px;
    max-width: 500px;
    font-size: 20px;
    &::-webkit-input-placeholder {
      color: #fff;
      font-size: 22px;
    }
    &::-moz-placeholder {
      color: #fff;
      font-size: 22px;
    }
    &:-ms-input-placeholder {
      color: #fff;
      font-size: 22px;
    }
    &:-moz-placeholder {
      color: #fff;
      font-size: 22px;
    }
  }

  #multiple-datasets {
    label {
      display: none;
    }
    .form-actions {
      width: 100px;
      margin: 0 auto;
      color: #000;
      font-size: 18px;
      /*
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: 0;
      right: 430px;
      @include breakpoint($phone){
        right: 7px;
      }
      @include breakpoint($tab-mini){
        right: 66px;
      }
      @include breakpoint($tab){
        right: 141px;
      }
      @include breakpoint($desk-mini){
        right: 253px;
      }
      @include breakpoint($desk){
        right: 430px;
      }
      @include breakpoint($desk-big){
        right: 457px;
      }
      @include breakpoint($screen-mini){
        right: 727px;
      }
      @include breakpoint($screen){
        right: 1037px;
      }
      */

    }
    /*
    .js-form-submit {
      position: relative;
      width: 50px;
      margin: 0px;
      background: #FFF;
      color: #000;
      top: 97px;
    }
    */
  }
}

.path-search-property {
  .block-mpw-solrautocomplete {
      border-bottom: 1px solid #7d7d7d;
      margin-bottom: 5px;
  }
  form#multiple-datasets {
    position: relative;
    width: 500px;
    margin: 0 auto;
    text-align: center;

    input#edit-keywords {
      border: 1px solid #7d7d7d;
      width: 100%;
      height: 50px;
      border-radius: 50px;
    }
    input.form-submit {
      width: 25%;
      border: 1px solid #7d7d7d;
      font-size: 20px;
    }
  }
  .tt-hint {
    height: 50px;
    color: #999;
  }
}

.path-frontpage {
  form#multiple-datasets {
   .tt-hint {
      color: #fff;
    } 
  }
}

.path-search-property {
 footer {
    padding: 20px 10px 10px;
    > .holder.desctop {
      > .footer-item {
        &.logo {
          font-size: 16px;
          text-align: center;
          img {
            margin: 0 auto 10px auto;
          }
        }
      }
    }
  }
}

a#edit-backlink {
  position: relative;
  top: 80px;
}

.node-preview-container {
  width: auto;
}

/************Register*************/
.user-registration-form, .upgrade-subscription-form {
  input {
    border: 1px solid;
    border-radius: 0px;
    width: 100%;
  }
  input[type="submit"] {
   width: 25%;
   background-color: #be1722;
   color:#fff;
  }
  select {
    width: 100%;
    padding: 8px 18px;
  }
  #edit-actions {
    text-align: center;
  }
}
/************Register*************/


/************Reset Password*********************/

#user-pass-reset #edit-submit {
    background: #be1722;
    width: 20%;
    color: #fff;
    border-radius: 0px;
}

/*********************************/