/* for admin */
body.toolbar{
    padding-top: 0 !important;
    #toolbar{display: none;}
    @include breakpoint($tab) {
        padding-top: 50px !important;
        #toolbar{display: block;}
        #header{top: 50px;}
    }
    @include breakpoint($desk-mini) {
        padding-top: 30px !important;
        #header{top: 30px;}
    }
}
body.toolbar-horizontal {
    #header {
        top: 38px;
    }
    &.toolbar-tray-open {
        #header {
            top: 79px;
        }
    }
}
body.popup-opened{overflow: hidden;}

body{
    max-width: 2700px;
    margin: 0 auto;
    // padding-top: 50px !important;
    // @include breakpoint($tab) {padding-top: 118px !important;}
    // @include breakpoint($desk-mini) {padding-top: 104px !important;}
    &.mobile-menu-oppened {
        #main {
            position: relative;
            #overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,.5);
                z-index: 2;
            }
        }
        
    }
}

#content {
    overflow: hidden;
}

.path-mpw-solr-form,
.path-frontpage {
    #content {
        overflow: visible;
    }
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("/themes/mpw/images/pin.gif") center no-repeat #fff;
}