#header {
	background-color: $light-gray;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	-webkit-box-shadow: 0px 4px 7px -1px rgba(157,157,156,.8);
	-moz-box-shadow: 0px 4px 7px -1px rgba(157,157,156,.8);
	box-shadow: 0px 4px 7px -1px rgba(157,157,156,.8);
	> .holder {
		// display: -webkit-flex;
		// display: -webkit-box;
	 //    display: -ms-flexbox;
	 //    display: flex;
	 //    -webkit-flex-flow: row nowrap;
	 //    -ms-flex-flow: row nowrap;
	 //    flex-flow: row nowrap;
	 @include breakpoint($lt-tab) {
		 border-bottom: solid 1px $red;
		 padding: 7px 20px;
	 }
		> div {
			//flex: 1;

			vertical-align: middle;
			&.desctop-menu {
				//overflow: hidden;
				display: none;
				padding-left: 20px;
				@include breakpoint($tab) {
					display: inline-block;
					padding-left: 5px;
				}
				@include breakpoint($desk-mini) {
					padding-left: 20px;
				}
				@include breakpoint($desk) {
					padding-left: 40px;
				}
				> .region-header {
					display: inline-block;
					vertical-align: middle;
					@include breakpoint($tab) {
						padding-right: 5px;
					}
					@include breakpoint($desk-mini) {
						padding-right: 10px;
					}
					@include breakpoint($desk) {
						padding-right: 20px;
					}
					> .menu--main {
						> ul.menu {
							margin: 0;
							//overflow: hidden;
							display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
							display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
							display: -ms-flexbox;      /* TWEENER - IE 10 */
							display: -webkit-flex;     /* NEW - Chrome */
							display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
							> li {
								position: relative;
								display: inline-block;
								vertical-align: middle;
								padding: 0;
								flex: auto;
								z-index: 20;
								> a {
									display: inline-block;
									font-size: 15px;
									text-transform: uppercase;
									color: $dark-blue;
									font-weight: bold;
									border-left: solid 2px $dark-gray;
									@include breakpoint($tab) {
										padding: 32px 2px;
										font-size: 11px;
									}
									@include breakpoint($desk-mini) {font-size: 14px;}
									@include breakpoint($desk) {
										padding: 32px 5px;
										font-size: 15px;
									}
									&.is-active {
										background-color: $red;
										color: #fff;
										border-left: none;
									}
								}
								&:hover {
									> a {
										background-color: rgba($red, .8);
										color: #fff;
										border-left: none;
									}
								}
								&:last-child {
									>a {border-right: solid 2px $dark-gray;}
								}
								> ul.menu {
									display: none;
									position: absolute;
									top: 100%;
									background: #f1f3ee;
									z-index: 10;
									left: 0;
									min-width: 205px;
									margin: 0;
									//animation: menumove 1s ease-in-out;
								}
								&:hover {
									> ul.menu {
										display: block;
										li {
											padding: 5px 10px;
											border-bottom: solid 2px $dark-gray;
											a {
												font-size: 15px;
												text-transform: uppercase;
												color: $dark-blue;
												&:hover { color: $red; }
											}
										}
									}
								}
							}
						}
					}
				}
		> .contact-info {
			display: inline-block;
			vertical-align: middle;
			> .numbers {
				> i {
					display: inline-block;
					vertical-align: middle;
					color: $red;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					margin-right: 5px;
				}
				> .phone {
					display: inline-block;
					vertical-align: top;
					font-size: 16px;
					a {
						font-size: 18px;
						font-weight: bold;
						color: $dark-blue;
					}

				}
			}
			> .mail {
				> i {
					display: inline-block;
					vertical-align: middle;
					color: $red;
					margin-right: 5px;
				}
				> a {
					display: inline-block;
					vertical-align: middle;
					font-size: 16px;
					color: $dark-blue;

				}
			}

		}
			}
		&.logo-cont {
			display: inline-block;
			img {
				max-width: 100%;
				width: inherit;
				&.mobile {
					display: block;
					@include breakpoint($desk-mini) {display: none;}
				}
				&.desctop {
					display: none;
					@include breakpoint($desk-mini) {display: block;}
				}
			}

		}
	}
	&.mobile {
		display: block;
		border: none;
		text-align: center;
		font-size: 24px;
		i {
			color: $red;
			margin-right: 5px;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		@include breakpoint($tab) {display: none;}
	}
	}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes menumove {
	from {top: 0;}
	to {top: 100%;}
}

/* Standard syntax */
@keyframes menumove {
	from {top: 0;}
	to {top: 100%;}
}

a.button{
  background-color: #be1722;
  color: white;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

a.button:hover {
  background-color: rgba(190,23,34,.8);
}

a.button:active {
  background-color: black;
}

.menu-row {
	width: 72rem;
	padding: 0 20px;
	margin: 0 auto;
}

.user-info {
	padding-left: 20px;
}

.services-listing .info {
  float: left;
  padding: 10px;
  display: block;
  width: 50%;
}

#subscription_modal_form .form-item {
  display: inline-block;
  width: 47%;
  margin: 10px;
}

#subscription_modal_form select.form-select {
  padding: 6px;
  border-radius: 2px;
}
