#block-views-block-featured-locations-block-featured-location,
#block-views-block-featured-locations-block-2,
#block-views-block-featured-locations-block-all,
#block-views-block-featured-locations-cities,
#block-views-block-featured-locations-block-1 {
  padding: 20px 0;
  text-align: center;
  background: $light-gray;
  position: relative;
  > h2 {
    max-width: 72.5rem;
    margin: 0 auto;
    font-size: 32px;
    color: $red;
    text-transform:  uppercase;
  }
  > div {
    max-width: 72.5rem;
    margin: 0 auto;
    .view-content {
      overflow: hidden;
      max-width: 980px;
      margin: 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: wrap row;
      flex-flow: wrap row;
      .views-row {
       // float: left;
        width: 100%;
        @include breakpoint($lt-tab-mini) {
          margin-bottom: 25px;
          .views-field-body { padding: 0 10px; }
          img {width: 100%;}
        }
        @include breakpoint($tab-mini) {
          width: 33.33333%;
          padding: 10px 20px;
        }
        > .views-field-title {
          padding: 15px 0;
          font-size: 26px;
          @include breakpoint($tab) { padding: 35px 0 15px; }
          //font-weight: bold;
          a {color: $red;}
        }
        > .views-field-body {
          text-align: left;
          color: $gray;
          font-size: 12px;
        }
      }
    }
    .view-footer {
      padding: 50px 0 0;
      > .button {
        display: inline-block;
        padding: 7px 50px;
        /*color: $red;*/
        color: #ffffff;
        border: solid 2px;
        border-radius: 50px;
      }
    }
  }
}
#block-views-block-featured-locations-block-1 {
  > div {
    .view-content {
      .views-row {
        @include breakpoint($tab-mini) {
          width: 50%;
          padding: 7px;
        }
        @include breakpoint($tab) {
          width: 33.3333%;
        }
      }
    }
  }
}
#block-frontpageblockhowitworks {
  background: #fff;
  padding-top: 10px;
  @include section_arrow($light-gray);
  .infographics {
    max-width: 1020px;
    margin: 0 auto;
  }
  .paragraph.infographics-item {
    > .holder{
      //> .field--name-field-image{
      //  position: relative;
      //  width: 180px;
      //  height: 180px;
      //  border: solid 9px $red;
      //  border-radius: 50%;
      //  background-color: $light-gray;
      //  margin: 0 auto;
      //  img {
      //    position: absolute;
      //    top: 50%;
      //    left: 50%;
      //    margin-right: -50%;
      //    transform: translate(-50%, -50%);
      //  }
      //}
    }
  }
  .paragraph.button {padding: 0;}
}
#block-frontpageaboutus {
  //@include section_arrow(#d296a2);
  background: $light-gray;
  .paragraph.image-with-text {
    max-width: 1020px;
    margin: 0 auto;
  }
  .paragraph.button {padding: 0;}
}
#block-frontpagempwawesomethings {
  @include section_arrow_top($light-gray);
  padding-bottom: 37px;
  background: rgba(147,0,29,.5) url('/themes/mpw/images/mpw_front_block_back.webp') center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  .holder * {color:#fff;}
  .under_title {color:$red;}
}

#contact-form-banner {
  @include section_arrow($light-gray);
  //background: url('/themes/mpw/images/contact-image-min.png') top no-repeat;
  //background: url('/themes/mpw/images/lawren141200014_hiweb.jpg') top no-repeat;
  background: url('/themes/mpw/images/light-gray-background.webp') top no-repeat;
  background-size: cover;
  background-color: rgba(49, 51, 50, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  text-align: center;
  color: #fff;

  > .holder.row > div {
    //max-width: 700px;
    margin: 0 auto;
    input {
      width: 100%;
      padding: 7px 20px;
      background: rgba(#fff,0.25);
      border: solid 2px #fff;
      border-radius: 50px;
      font-size: 12px;
      color: #fff;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
        // font-weight: bold;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
        // font-weight: bold;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #fff;
        // font-weight: bold;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #fff;
        // font-weight: bold;
      }
    }
    form {
      > fieldset {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 0;
        border: none;
        @include breakpoint($tab-mini) {
          width: 49%;
          padding-right: 10%;
        }
        .form-item {
          margin: 0 0 10px 0;
          .intl-tel-input {
            width: 100%;
            input {
              padding: 7px 45px;
            }
            .country-list {color: $dark-blue;}
          }
          input {
            width: 100%;
            padding: 7px 20px;
            background: rgba(#fff,0.25);
            border: solid 2px #fff;
            border-radius: 50px;
            font-size: 12px;
            color: #fff;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #fff;
              // font-weight: bold;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: #fff;
              // font-weight: bold;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: #fff;
              // font-weight: bold;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #fff;
              // font-weight: bold;
            }
          }
        }


      }
      > .form-type-textarea  {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        @include breakpoint($tab-mini) {
          width: 49%;
          padding-left: 10%;
        }
        textarea {
          width: 100%;
          padding: 7px 20px;
          background: rgba(#fff,0.25);
          border: solid 2px #fff;
          border-radius: 20px;
          font-size: 12px;
          color: #fff;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
            // font-weight: bold;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
            // font-weight: bold;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
            // font-weight: bold;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
            // font-weight: bold;
          }
        }
      }
      > .form-actions {
        > .form-submit {
          padding: 7px 50px;
          background: rgba(#fff,0.25);
          border: solid 2px #fff;
          border-radius: 50px;
          font-size: 12px;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
  }


}

#block-views-block-featured-locations-cities,
#block-views-block-featured-locations-block-2,
#block-views-block-featured-locations-block-1,
#block-views-block-featured-locations-block-featured-location,
#block-views-block-featured-locations-block-all,
#block-views-block-blog-block-front {
  .views-exposed-form {
    .form-actions {
      .form-submit {
        display: none;
      }
    }
  }
  > div {
    .view-content {
      max-width: initial;
      .views-row {
        width: 100%;
        position: relative;
        > .views-field-title {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @include breakpoint($tab-mini) {
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
          }
          a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: white;
            padding: 30px 10px 10px;
            background: rgba(0,0,0, .4);
            &:hover {
              background: rgba(0,0,0, .5);
            }
          }
        }
        > .views-field-field-image {
          img {
            width: 100%;
          }
        }
        @include breakpoint($lt-tab-mini) {
          margin-bottom: 25px;
          .views-field-body { padding: 0 10px; }
          img {width: 100%;}
        }
        @include breakpoint($tab-mini) {
          width: 50%;
          padding: 15px;
        }
        @include breakpoint($desk-mini) {
          width: 33.333%;
        }
        > .views-field-body {
          padding-top: 15px;
        }
      }
    }
  }
}

.view-display-id-featured_locations_20 {
.view-content {
      overflow: hidden;
      max-width: 980px;
      margin: 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: wrap row;
      flex-flow: wrap row;
      .views-row {
       // float: left;
        width: 100%;
        @include breakpoint($lt-tab-mini) {
          margin-bottom: 25px;
          .views-field-body { padding: 0 10px; }
          img {width: 100%;}
        }
        @include breakpoint($tab-mini) {
          width: 50%;
          padding: 10px 20px;
        }
        > .views-field-title {
          padding: 10px 0 25px;
          font-size: 26px;
          text-align: center;
          //font-weight: bold;
          a {color: $red;}
        }
        > .views-field-body {
          text-align: left;
          color: $gray;
          font-size: 12px;
        }
      }
    }
}

#block-mpw-breadcrumbs {
  display: none;
  @include breakpoint($tab) {
    display: block;
    padding: 10px 10px 2px;
  }

}

a.morelink {
  text-decoration: none;
  outline: none;
}
.morecontent span {
  display: none;
}

article[data-history-node-id="221"] .paragraph.text > .holder:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**********service page**************/
.listing-btn { 
  border:1px solid #be1722; 
  color:#be1722; 
  padding:8px 20px;
  display: inline-block;
}
.listing-btn:hover, .listing-fill { 
  background:#be1722; color:#fff;
}
.listing-fill:hover { 
  background:none; color:#be1722;
}

.text-center {
  text-align: center!important;
}

.heading-width {
  max-width: 630px;
  padding-right: 0;
  margin: 0 auto;
}
.commercial-section { 
  padding:100px 0 0;
}
.commercial { 
  background:#f9e6e4;  
  padding:80px;
}
.commercial .heading-group { 
  padding:0 0 25px 0;
}
.btn-extra-mar { 
  margin-top:45px;
}
.monthly-section{ 
  position:relative; 
  background:url(../images/service-banner.jpg) no-repeat; 
  background-size:cover; 
  padding:100px 0; 
  color:#fff;
  margin: 0;
}
.monthly-section:before { 
  position:absolute;
  content:"";
  background:rgba(0, 0, 0, 0.3);
  width:100%;
  height:100%;
  top:0;
}
.monthly-section h2{ 
  font-weight:900;
  font-size:40px;
  line-height:140%;
  margin: 0px;
    @include breakpoint($lt-tab-mini) {
      font-size:32px;
    }
}
.monthly-right p {
  font-size: 16px;
  font-weight: 300;
  color:#ddd;
  margin-bottom: 50px;
  padding-top:10px;
}
.monthly-right {
  padding-left: 80px;
    @include breakpoint($lt-tab-mini) {
      padding-left: 0px;
      font-size: 18px;
      margin-top: 10px;
    }
}
.heading-width h1 { 
  text-shadow:none;
}
.heading-group {
  padding-right: 40px;
  padding-bottom: 50px;
  @include breakpoint($lt-tab-mini) {
    padding-right: 5px;
    padding-left: 5px
  }
}
.heading-group h1 {
  font-size: 36px;
  font-weight: 900;
  color: #d91200;
  line-height: 55px;
  text-shadow: 0 3px 6px #c2130259;
}
.help-box { 
  padding:40px 0 60px;
  position:relative;
}
.help-box::before {
  position: absolute;
  content: "";
  background: #f4f4f4;
  width: 100%;
  bottom: 0;
  height: 230px;
  left: 0;
}
.heading-group p {
  font-size: 16px;
  padding: 15px 25px;
  font-weight: 300;
}

.help-inner{ 
  border: 1px solid #70707050;
  padding:40px 40px 50px;
  background:#fff;
   @include breakpoint($lt-tab-mini) {
    margin-bottom: 5px;
  }
}
.help-inner h6{ font-weight:900; color:#000; margin-bottom:25px; font-size:15px;}
.help-inner p{ color:#373737; font-weight:300; margin:0; min-height:65px;}
.value{ padding:20px 0 5px; color:#d91200; font-weight:900; font-size:40px;}
.value sup {
    color:  #000;
    font-size: 13px;
    top: -24px;
    left: 7px;
    font-weight: 800;
}
.value sub {
    color:    #000;
    font-size: 13px;
    bottom: 0;
    right: 9px;
    font-weight: 800;
}
.help-inner p.per{ opacity: 0.7;font-size: 13px; min-height:inherit;}
.help-inner .listing-btn{ margin-top:18px;}
.help-inner:hover{ border-color:#a55458;}

table.table.table-striped { border: 0px; }

.plan-section{ background:#f4f4f4; text-align:center; color:#333;padding: 10px 0 30px;}
.plan-section table tbody td:first-child { 
  text-align:left;
  padding-left:100px;
  width:30%;
  @include breakpoint($lt-tab-mini) {
    width:25%;
    padding-left: 5px;
  }
}
.plan-section table tbody td:nth-child(3){ background:rgba(245, 109, 27, 0.1);}
.plan-section table td{ padding:14px 10px; color:#333;}
.plan-section table { padding:15px 10px;}
.plan-section table h6 { 
  font-weight:800;
  padding-bottom:10px;
  font-size: 18px;
  margin: 10px 0 10px 0;
  @include breakpoint($lt-tab-mini) {
    font-size: 16px;
    margin: 10px 6px 10px 0;
  }
}
.plan-section table h6 a{ text-decoration:underline; color:#333;}
.plan-section thead td{ border:0px;}
.plan-section table tbody td{ border-right:1px solid #dbdbdb;}  
.plan-section table tbody tr:last-child td{border-bottom:1px solid #dbdbdb;}
.plan-section h2{ color:#be1722; font-weight:800; font-size:25px; margin-bottom:40px; margin-top: 0px;}

.btn-design{
  background: #9f0d18;
  color:#fff;
  border-radius:0px;
  padding:8px 20px;
  cursor:pointer;
  border:1px solid #9f0d18;
  @include breakpoint($lt-tab-mini) {
    padding:5px 2px 5px 2px;
  }
}

.btn-design:hover{ background:#fff;  color:#9f0d18;}

table.table.table-striped td { 
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
  @include breakpoint($lt-tab-mini) {
    padding: .20rem;
  }
}
table.table.table-striped thead td{ border:0px; text-align: center;}
.plan-text { min-height: 72px;}
/********************Service page ***************************/