footer {
	padding: 30px 10px 50px;
	background: $black;
	* {color: #fff;}
	> .holder {
		overflow: hidden;
		&.desctop {
			display: none;
			@include breakpoint($tab) {
				display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;      /* TWEENER - IE 10 */
				display: -webkit-flex;     /* NEW - Chrome */
				display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
			}
			> .footer-item {
				-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-flex: 1;         /* OLD - Firefox 19- */
				width: 20%;               /* For old syntax, otherwise collapses. */
				-webkit-flex: 1;          /* Chrome */
				-ms-flex: 1;              /* IE 10 */
				flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
				&.logo {
					position: relative;
					.social-media {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						> .social-icons {
							padding: 0;
							list-style-type: none;
							> .social-icon {
								display: inline-block;
								i {font-size: 20px;}
								&:not(:last-child),
								&:not(:first-child) {
									padding: 0 9px;
								}
								a:hover {
									opacity: .8;
								}
							}
						}
					}
				}
				.menu--quick-lins {
					h2 {
						margin: 0;
						margin-bottom: 20px;
					}
					ul.menu {
						margin: 0;
						> li {
							position: relative;
							padding: 7px 18px;
							&:not(:last-child) {
								border-bottom: solid 1px $light-dark-gray;
							}
							&:before {
								content: '';
								position: absolute;
								left: 4px;
								top: 50%;
								width: 10px;
							    height: 13px;                    	
							    background-image: url('/themes/mpw/images/arr-bullet.png');
								-webkit-transform: translateY(-50%);
								-moz-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								-o-transform: translateY(-50%);
								transform: translateY(-50%);
								color: $red;
							}
							a {
								&:hover {
									color: $gray;
								}
							}
						}
					}
				}
				&:not(:last-child) {
					padding-right: 20px;
				}
				&:not(:first-child) {
					padding-left: 20px;
				}
				&.logo {
					font-size: 12px;
					img {
						margin: 0 0 10px;
					}
				}
				&.contacts {
					> h2 {
						margin: 0;
						margin-bottom: 20px;
					}
					> div {
						margin-bottom: 15px;
						> i {
							color: $red;
							vertical-align: top;
							margin-right: 10px;
						}
						> div {
							display: inline-block;
							width: 88%;
							vertical-align: top;
						}
					}
				}
			}
		}
		&.mobile {
			@include breakpoint($tab) {display: none;}
			text-align: center;
			> .contacts {
				margin-bottom: 10px;
					> h2 {
						margin: 0;
						margin-bottom: 20px;
					}
					> div {
						margin-bottom: 15px;
						> i {
							color: $red;
							vertical-align: top;
							margin-right: 10px;
						}
						> div {
							display: inline-block;
							vertical-align: top;
						}
					}
				}
				> .logo {
					> .info {text-align: left;}
				}
			.social-media {

				> .social-icons {
					padding: 0;
					list-style-type: none;
					> .social-icon {
						display: inline-block;
						i {font-size: 20px;}
						&:not(:last-child),
						&:not(:first-child) {
							padding: 0 9px;
						}
						a:hover {
							opacity: .8;
						}
					}
				}
			}

			.footer-links {
				margin-bottom: 30px;
				ul.menu {
					margin: 0;
					text-align: center;
				}
			}
		}
	}
}