#mobile-menu-cont{
    position: absolute;
    width: 45%;
    
    top: 55px;
    right: 0;
    z-index: 3;
    background-color: $black;
	@include breakpoint($tab-mini) {top: 60px;}
	>.menu-button {
		position: absolute;
		width: 100%;
        top: -56px;
        right: 0;
		padding: 10px 10px 22px 0px;
        cursor: pointer;
        text-align: right;
        z-index: 3;
        > .text {
        	display: inline-block;
        	vertical-align: middle;
        	color: $red;
        	margin-left: 25px;
        }
		> .trigger{
        	display: inline-block;
        	vertical-align: middle;
        	width: 37px;
			> span {
				position: absolute;
				height: 2px;
				width: 25px;
				background-color: $black;
				-webkit-transform: translateZ(0) rotate(0);
				-moz-transform: translateZ(0) rotate(0);
				-ms-transform: translateZ(0) rotate(0);
				-o-transform: translateZ(0) rotate(0);
				transform: translateZ(0) rotate(0);
				-webkit-transition: all 0.3s ease-in 0s;
				-moz-transition: all 0.3s ease-in 0s;
				-ms-transition: all 0.3s ease-in 0s;
				-o-transition: all 0.3s ease-in 0s;
				transition: all 0.3s ease-in 0s;
				&:before {
					position: absolute;
					display: block;
					content: '';
					top: -7px;
					height: 2px;
					width: 25px;
					background-color: $black;
					-webkit-transform: translateZ(0) rotate(0);
					-moz-transform: translateZ(0) rotate(0);
					-ms-transform: translateZ(0) rotate(0);
					-o-transform: translateZ(0) rotate(0);
					transform: translateZ(0) rotate(0);
					
				}
				&:after {
					position: absolute;
					display: block;
					content: '';
					bottom: -7px;
					height: 2px;
					width: 25px;
					background-color: $black;
					-webkit-transform: translateZ(0) rotate(0);
					-moz-transform: translateZ(0) rotate(0);
					-ms-transform: translateZ(0) rotate(0);
					-o-transform: translateZ(0) rotate(0);
					transform: translateZ(0) rotate(0);
				}
			}
    }
    &.actv {
    	background-color: $black;
			> .trigger > span {
				background-color: transparent;
				-webkit-transition: all 0 ease-in 0s;
				-moz-transition: all 0 ease-in 0s;
				-ms-transition: all 0 ease-in 0s;
				-o-transition: all 0 ease-in 0s;
				transition: all 0 ease-in 0s;
				&:before {
					top: 0;
					background-color: #fff;
					-webkit-transform: translateZ(0) rotate(45deg);
					-moz-transform: translateZ(0) rotate(45deg);
					-ms-transform: translateZ(0) rotate(45deg);
					-o-transform: translateZ(0) rotate(45deg);
					transform: translateZ(0) rotate(45deg);
				}
				&:after {
					bottom: 0;
					background-color: #fff;
					-webkit-transform: translateZ(0) rotate(-45deg);
					-moz-transform: translateZ(0) rotate(-45deg);
					-ms-transform: translateZ(0) rotate(-45deg);
					-o-transform: translateZ(0) rotate(-45deg);
					transform: translateZ(0) rotate(-45deg);
				}
			}
		}
	}

    > .mobile-menu{
        display: none;
        position: relative;
        background-color: $black;
        padding: 30px 20px;
            > .menu{
                margin: 0;
                > li{
                    display: block;
					//text-align: center;
					cursor: pointer;
                    padding: 10px 15px 10px 18px;
                    position: relative;
                    &:before {
                    	content: '';
                    	position: absolute;
                    	left: 5px;
					    top: 16px;
					    bottom: 0;
					    width: 10px;
					    height: 13px;                    	
					    background-image: url('/themes/mpw/images/arr-bullet.png');
                    }
                    &:not(:last-child) { border-bottom: solid 2px $light-dark-gray; }
                    a{
						color: #fff;
                        
                    }
					&:hover{
						a {
							font-weight: bold;
						}
					}
					> .menu {
						display: none;
					}
                }
            }
        &.actv{display: block;}
    }
    @include breakpoint($tab) {display: none;}
}