//@import "breakpoint";
@import "1_init";

/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */

$phone      : 480px;
$tab_mini   : 620px;
$tab        : 768px;
$desk_mini  : 992px;
$desk       : 1200px;
$desk_big   : 1400px;
$screen_mini: 1940px;
$screen     : 2560px;

$gt_phone      : $phone +1;
$gt_tab_mini   : $tab_mini +1;
$gt_tab        : $tab +1;
$gt_desk_mini  : $desk_mini +1;
$gt_desk       : $desk +1;
$gt_desk_big   : $desk_big +1;
$gt_screen_mini: $screen_mini +1;
$gt_screen     : $screen +1;

$lte_phone      : max-width $phone;
$lte_tab_mini   : max-width $tab_mini;
$lte_tab        : max-width $tab;
$lte_desk_mini  : max-width $desk_mini;
$lte_desk       : max-width $desk;
$lte_desk_big   : max-width $desk_big;
$lte_screen_mini: max-width $screen_mini;
$lte_screen     : max-width $screen;

/* ========================= END OF BREAKPOINTS ========================== */

/* ========================= COLORS =============================== */
$gray: #7d7d7d;
$brown: #8A7967;
$orange: #EC881D;
$wine: #663230;
$blue: #00788c;
$sky_blue: #077DC2;
$green: #BABF10;
$dark_green: #638658;
$dark_yellow: #D2A429;
$praemium_gray: #657384;
$dark-gray : #9d9d9c;

$red: #be1722;
$violet : #413082;
$yellow: #8c8600;
$orange: #eb681d;
$green: #28a55d;
$violet2: #a9499a;
$brown: #956735;
$light-gray: #f1f3ee;
/* ========================= END OF COLORS ======================== */

/* ========================= FONTS =============================== */
$segoe_ui_bd: 'SegoeUI-Bold', sans-serif;
$segoe_ui_semi_bd: 'SegoeUI-Semibold', sans-serif;
$segoe_ui_semi_lt: 'SegoeUI-Semilight', sans-serif;
$titilium_999: 'TitilliumMaps26L-999wt';
$titilium_750: 'TitilliumMaps26L-750wt';
$titilium_500: 'TitilliumMaps26L-500wt';
$titilium_250: 'TitilliumMaps26L-250wt';
$titilium_1: 'TitilliumMaps26L-1wt';
$proxima: 'Proxima Nova Soft', sans-serif;
/* ========================= END OF FONTS ======================== */

$custom_row_width: 63.75rem /*rem-calc(1160)*/!default;

/* ========================= MIXINS =============================== */
// styles owl-carousel
@mixin owl_carousel($has_pager: true, $color: white, $pager_bg_col: #cdced1, $pager_act_bg_col: $sky_blue) {
    position: relative;
    //padding: 0 30px;
    .owl-stage{
        margin: 0 auto;
        > .owl-item{
            display: inline-block;
            float: none;
            vertical-align: middle;
			margin: 0 !important;
            // -webkit-box-shadow: 0 0 10px rgb(113, 128, 138);
            // box-shadow: 0 0 10px rgb(113, 128, 138);
            img{
                width: auto;
                &.max-height-250{max-height: 250px;}
            }
        }
    }
    .owl-dots{
        @if $has_pager {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 20px 0 0;
            > .owl-dot{
                display: inline-block;
                margin: 0 5px;
                vertical-align: top;
                > span{
                    display: block;
                    width: 13px;
                    height: 13px;
                    background-color: $pager_bg_col;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }
                &:hover > span,
                &.active > span{background-color: $pager_act_bg_col;}
            }
        }
        @else {display: none;}
    }
    .owl-nav{
        margin: 0 auto;
			position: absolute;
			top: 30%;
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 0;
			right: 0;
			> .owl-next {
                //display: block;
                  //text-indent: -9999px;
                  //width: 128px;
                  //height: 128px;
                  //background: url(../images/arr-left.svg);
                  //background-size: 128px 128px;
				@include retina_ready_sprite(workflow-arr);
				position: absolute;
				right: 0;
				-webkit-transform: scale(.3);
				transform: scale(.3);
				@include breakpoint($desk-mini) { 
					-webkit-transform: scale(.6);
					transform: scale(.6);
					}
				&:hover {@include retina_ready_sprite(workflow-arr)}
				&.disabled {display: none;}
			}
			> .owl-prev {
				@include retina_ready_sprite(workflow-arr);
				position: absolute;
				left: 0;
				-webkit-transform: scale(.3) rotate(180deg);
				transform: scale(.3) rotate(180deg);
				@include breakpoint($desk-mini) { 
					-webkit-transform: scale(.7) rotate(180deg);
					transform: scale(.6) rotate(180deg);
					}
				&:hover {@include retina_ready_sprite(workflow-arr)}
				&.disabled {display: none;}
			}
    }
    //@include breakpoint($gt_tab) {padding: 0 40px;}
}
@mixin section_arrow($bg_color) {
    position: relative;
    overflow: hidden;
    padding-bottom: 70px;
    &:before {
        content: "";
        position: absolute;
        width: 53%;
        height: 80px;
        bottom: -80px;
        left: -10px;
        background: $bg_color;
        transform: rotate(3deg);
        transform-origin: right top;
        z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        width: 53%;
        height: 80px;
        bottom: -80px;
        right: -10px;
        background: $bg_color;
        transform: rotate(-3deg);
        transform-origin: left top;
        z-index: 2;
    }

}
@mixin section_arrow_top($bg_color) {
    position: relative;
    overflow: hidden;
    padding-top: 81px;
    &:before {
        content: "";
        position: absolute;
        width: 53%;
        height: 80px;
        top: 0;
        left: -3%;
        background: $bg_color;
        transform: rotate(3deg);
        transform-origin: right bottom;
        z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        width: 53%;
        height: 80px;
        top: 0;
        right: -3%;
        background: $bg_color;
        transform: rotate(-3deg);
        transform-origin: left bottom;
        z-index: 2;
    }

}
/* ========================= END OF MIXINS =============================== */