@import "base";

#edit-field-paragraphs-wrapper{
    .field--name-field-block-content-views,
    .field--name-field-block-content-site-content,
    .field--name-field-block-content-custom-block{display: none;}
    .block-contents-list{
        margin: 20px 0 0;
        padding: 5px 0 0;
        border-top: 1px solid #ccc;
    }
    
    .field-multiple-table{
        > thead{
            cursor: pointer;
            .field-label{
                position: relative;
                &:after{
                    content: '-';
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 24px;
                    height: 24px;
                    color: $sky_blue;
                    font-size: 28px;
                }
            }
        }
        .paragraph-type-top{
            position: relative;
            &:after{
                content: '-';
                position: absolute;
                top: 4px;
                right: 0;
                width: 24px;
                height: 24px;
                color: $sky_blue;
                font-size: 28px;
                pointer-events: none;
            }
            > .paragraph-type-title{
                padding: 5px 10px;
                border: solid #bfbfba;
                border-width: 1px 0;
                background-color: #f5f5f2;
                cursor: pointer;
            }
            &.collapsed{
                &:after{content: '+';}
                & + .paragraphs-subform{display: none;}
            }
        }
        .paragraphs-subform{
            .field--name-field-files-list select{
                min-height: 400px;
                width: 100%;
            }
            .form-checkboxes{
                max-height: 400px;
                overflow-y: auto;
                > .form-type-checkbox{
                    float: left;
                    width: 30%;
                    margin: 0 3% 0 0;
                }
            }
        }
        &.collapsed{
            > thead .field-label:after{content: '+';}
            > tbody{display: none;}
        }
    }
}