@import "base";

.paragraph.awards-section {
	max-width: 1000px;
	margin: 0 auto;
	.field--name-field-award {
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	    overflow: hidden;
	    text-align: center;
		> .field__item {
			float: left;
			width: 50%;
			position: relative;
			overflow: hidden;
			border: solid 3px #fff;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
    		padding: 10px;
    		.title {
    			font-size: 32px;
    			color: #646161;
    		}
    		.description {
    			padding: 10px 18px 0 18px;
    			font-size: 18px;
    			line-height: 1.2em;
    		}
			img {display: inline-block;}
		}
	}
	&.grid-3 {
		.field--name-field-award {
			> .field__item {
			
				@include breakpoint($gt_tab_mini) {
					width: 33.33333%;
					padding: 20px;
				}
				
			}
		}
	}
	&.grid-4 {
		.field--name-field-award {
			> .field__item {
			
				@include breakpoint($gt_tab_mini) {
					width: 25%;
					padding: 20px;
				}
				
			}
		}
	}
	&.grid-5 {
		.field--name-field-award{
			> .field__item {
			
				@include breakpoint($gt_tab_mini) {
					width: 20%;
					padding: 20px;
				}
				
			}
		}
	}
}