@import "base";
.paragraph.big-banner {
	position: relative;
	padding: 0;
	.big-banner-image {
		> .image-cont {
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center; 
			width: 100%;
			@include section_arrow(#fff);
			padding: 0 !important;
			> img {display: none;}
			> .overlay {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0,.10);
			}
		}
		> .title-contnent {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 100px;
				> h1 {
					display: inline-block;
					font-size: 48px;
					color: #fff;
					background:  rgba($red, .75);
					line-height: 1;
					padding: 25px 50px 25px 100px;
				}
			}
	}
	&.normal {
		.down-arrow { display: none; }
		max-height: 460px;
		margin-bottom: 20px;
		.paragraph.big-banner-image {
			padding: 0;
			> .image-cont {
				min-height: 180px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center; 
				img{
					display: block;
					//min-height: 150px;
					visibility: hidden;
					width: 100%;
					@include breakpoint($lte_tab_mini) {display: none;}
					
					}
				}
			}
			
		.title-contnent {
			> h1 {
				font-size: 22px;
				@include breakpoint($tab-mini){font-size: 28px;}
				@include breakpoint($tab){font-size: 36px}
				@include breakpoint($desk-mini){font-size: 48px;}
				@include breakpoint($desk){font-size: 60px;}
			}
		}
	}
	&.height-300px {
		
		.image-cont {
			max-height: 300px;
			img { visibility: hidden; }
		} 
		.title-contnent {
			> h1 {
				font-size: 22px;
				@include breakpoint($tab-mini){font-size: 24px;}
				@include breakpoint($tab){font-size: 28px}
				@include breakpoint($desk-mini){font-size: 36px;}
				@include breakpoint($desk){font-size: 48px;}
			}
		}
	}
	&.height-400px {
		.image-cont {
			max-height: 400px;
			img { visibility: hidden; }
		} 
		.title-contnent {
			> h1 {
				font-size: 26px;
				@include breakpoint($tab-mini){font-size: 28px;}
				@include breakpoint($tab){font-size: 36px}
				@include breakpoint($desk-mini){font-size: 48px;}
				@include breakpoint($desk){font-size: 52px;}
			}
		}
	}
	&.height-500px {
		.image-cont {
			max-height: 500px;
			img { visibility: hidden; }
		} 
		.title-contnent {
			> h1 {
				font-size: 26px;
				@include breakpoint($tab-mini){font-size: 28px;}
				@include breakpoint($tab){font-size: 36px}
				@include breakpoint($desk-mini){font-size: 48px;}
				@include breakpoint($desk){font-size: 52px;}
			}
		}
	}
	&.height-600px {
		.image-cont {
			max-height: 600px;
			img { visibility: hidden; }
		} 
		.title-contnent {
			> h1 {
				font-size: 26px;
				@include breakpoint($tab-mini){font-size: 28px;}
				@include breakpoint($tab){font-size: 36px}
				@include breakpoint($desk-mini){font-size: 48px;}
				@include breakpoint($desk){font-size: 54px;}
			}
		}
	}
	&.height-200px {
		.image-cont {
			max-height: 120px;
			img { visibility: hidden; }
		}
		.title-contnent {
			bottom: 0;
			top: 0;
			> h1 {
				display: block;
				font-size: 16px;
				@include breakpoint($tab-mini){font-size: 18px;}
				@include breakpoint($tab){font-size: 22px}
				@include breakpoint($desk-mini){font-size: 26px;}
				@include breakpoint($desk){font-size: 32px;}
				background: none;
				text-align: center;
			}
		}
	}

}
