@import "base";
.paragraph.button {
	> .holder {
		> .link-cont {
			text-align: center;
			font-size: 14px;
			> a{
                display: inline-block;
                padding: 10px 50px;
                border-radius: 50px;
                border: 2px solid $red;
                //background-color: rgba(0, 0, 0, .4);
                color: $red;
				&:hover {
					background-color: $red;
					color: #fff;
			    }
			a.external {
				border: none;
				&:after {
					content: "";
					background: url('../images/up_red.png');
					width: 20px;
					height: 20px;
					display: inline-block;
					margin-lefT: 12px;
				}
				&:hover {
					color: $gray;
					&:after {background: url('../images/up_gray.png');}
					}
				}
			}
		}
	}
}
