@import "base";

.paragraph.client-section {
	> .holder {
		> .title {
			margin: 26px 0 0;
			color: #fff;
			.title {color: #fff;}
			}
	}
	.field--name-field-logo {
		padding: 0 20px;
		.owl-item {
			img {
				width: inherit;
			}
		}
		.owl-nav{
				> .owl-prev,
				> .owl-next{
					position: absolute;
					top: 50%;
					left: -3px;
					margin: -27px 0 0;
					-webkit-transform: scale(.5);
					transform: scale(.5);
					@include retina_ready_sprite(left-right-big-white);
					//&:hover{@include retina_ready_sprite(arr-left-right-30px-actv);}
					&.disabled{display: none !important;}
					
					@include breakpoint($gt_tab) {
						left: 0;
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
				}
				> .owl-next{
					left: auto;
					right: -3px;
					-webkit-transform: scale(.5) rotate(180deg);
					transform: scale(.5) rotate(180deg);
					@include breakpoint($gt_tab) {
						right: 0;
						-webkit-transform: scale(.7) rotate(180deg);
						transform: scale(.7) rotate(180deg);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: rotate(180deg) scale(.7);
						transform: rotate(180deg) scale(.7);
					}
				}
			}
	} 
}
article {
	&.bg-violet {.paragraph.client-section{background-color: $violet;}}
	&.bg-red {.paragraph.client-section{background-color: $red;}}
	&.bg-yellow {.paragraph.client-section{background-color: $yellow;}}
	&.bg-blue {.paragraph.client-section{background-color: $blue;}}
	&.bg-none {.paragraph.client-section{background-color: $red;}}
}