@import "base";

.paragraph.columns{
    float: none;
    //padding: 0;
	padding-top: 25px;
	&.fill-color {
		.content {
			> .field--name-field-columns {
				max-width: 1044px;
				margin: 0 auto;
				padding: 20px;
				color: #fff;
				.paragraph,
				.text,
				.title,
				p { color: #fff; }

			}
		}
		&.color-dark-green > .holder >  .content{ background-color: #049584; }
		&.color-light-green > .holder >  .content{ background-color: #84BE41; }
		&.color-red > .holder >  .content{ background-color: #C52253; }
		&.color-violet > .holder >  .content{ background-color: #613982; }
		&.color-blue > .holder >  .content{ background-color: #0297C9; }
		&.color-orange > .holder >  .content{ background-color: #EB8C2D; }
	}
    > .holder {
		
		// &.row {max-width: 1044px;}
		> .title{
			margin: 0 auto 20px;
			padding: 0 10px;
			@include breakpoint($gt_phone) {padding: 0 15px;}
			@include breakpoint($gt_tab_mini) {padding: 0 30px;}
			@include breakpoint($gt_tab) {
				font-size: 35px;
				padding: 0 50px;
			}
		}
		> .content > .field--name-field-columns { overflow: hidden; }
	}
	&.custom {
		> .holder {
			// max-width: 1044px;
		}
	}
    .paragraph{
		padding: 0;
        &.paragraph--type--column{
			overflow: inherit;
			@include breakpoint($lte_tab) {padding: 0;}
			}
		&.text {
			padding: 0 0 5px;
			//max-width: 580px;
			
			&.bg-none {color: #646161;}
			> .holder {
				padding: 0 10px;
			}
			}
		.title {
			text-align: left;
			> .title {
				border: none;
				color: #646161;
				text-align: left;
				font-size: 24px;
				padding: 0 15px;
				margin: 0;
				font: 20x/normal $titilium_500;
				@include breakpoint($tab) {
					font-size: 22px;
					padding: 15px;
					}
				@include breakpoint($desk-mini) {font-size: 28px;}
			}
		}
    }
    &.columns-3,
    &.columns-2{
        > .holder > .content > .field--name-field-columns{
            @include breakpoint($gt_tab) {
                text-align: center;
                > .field__item{
                    float: left;
                    width: 50%;
                    //vertical-align: top;
                    text-align: left;
                }
            }
        }
    }
    &.columns-3{
        > .holder > .content > .field--name-field-columns{
            @include breakpoint($gt_desk) {
                > .field__item{width: 33.333%;}
            }
        }
    }
}