@import "base";

.paragraph{
    padding: 0 0 30px;
    overflow: hidden;
	@include breakpoint($gt_tab) {padding: 0 0 35px;}
	&.style-oneliner.grid-1-column.carousel {
		@include breakpoint($gt_tab) {padding: 20px 0 50px;}
	}
    .title{
        margin: 20px auto 15px;
        color: $red;
        font: 20px/normal;
		text-align: center;
        @include breakpoint($gt_tab) {font-size: 24px;}
        @include breakpoint($gt_desk_mini) {font-size: 32px;}
        h3 {
            line-height: 1;
        }
    }
    .under_title {
        margin-bottom: 35px;
        font-size: 16px;
        text-align: center;
        color: #000;
    }
    .text,
    .field--name-body,
    .field--name-field-text{
        color: $gray;
        @include breakpoint($gt_tab) {font-size: 18px;}
        > *:last-child{margin-bottom: 0;}
        p{
            font-size: 16px;
            margin: 0 0 10px;
			padding: 0 15px;
            @include breakpoint($gt_tab) {margin: 0 0 15px;}
            @include breakpoint($lte_phone) {
              font-size: 20px;
            }
            @include breakpoint($lte_tab_mini) {
              font-size: 20px;
            }
        }
        ul{
            margin: 0 0 15px 24px;
            padding: 0;
            //list-style: none;
			padding-left: 10px; 
            @include breakpoint($gt_tab) {margin: 0 0 20px 24px;}
            > li{
                position: relative;
                margin: 0 0 5px;
                //padding: 0 0 0 40px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 12px;
                    left: 10px;
                    width: 10px;
                    height: 12px;
                    //background: url(../images/plus-sign.png) center no-repeat;
                }
            }
        }
        ol{
            margin: 0 0 15px;
            > li{margin: 0 0 5px;}
        }
        h1,h2,h3,h4,h5,h6{color: $red;}
        bold,strong{
			font-family: $proxima;
			color: #646161;
		}
        table{
            /* Hack for long tables */
            display: inherit;
            overflow-x: auto;
            /* End Of Hack for long tables */
            margin: 0 0 20px;
            border: none;
            text-align: left;
            font: 14px/1.3 $proxima;
            > thead > tr > th,
            > tbody > tr > th,
            > tbody > tr > td{
                padding: 7px 5px;
                border: none;
                color: $red;
                p{margin: 0;}
            }
            > thead{
                font-family: $proxima;
                > tr{
                    background-color: $red;
                    > th{color: #fff;}
                }
            }
            > tbody{
                > tr:not(:last-child){border-bottom: 1px solid $red;}
                > tr > th[scope="row"]{font-family: $proxima;}
            }
            
            @include breakpoint($gt_tab) {font-size: 18px;}
        }
    }
    
    .bg-none{color: $gray;}
    .bg-gray{
        background-color: $gray;
        color: #fff;
        .title {color: #fff !important;} 
    }
    .bg-brown{
        background-color: $brown;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-orange{
        background-color: $orange;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-wine{
        background-color: $wine;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-blue{
        background-color: $blue;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-sky-blue{
        background-color: $sky_blue;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-green{
        background-color: $green;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-dark-green{
        background-color: $dark_green;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-dark-yellow{
        background-color: $dark_yellow;
        color: #fff;
        .title {color: #fff !important;}
    }
    .bg-praemium-gray{
        background-color: $praemium_gray;
    }
    
    
}