@import "base";

.paragraph.events{
    > .holder{
        .field--name-field-slides{
            @include owl_carousel(false);
            .paragraph > .holder,
            .paragraph{padding: 0;}
            //@include breakpoint($gt_tab) {padding: 0 50px;}
			.owl-nav{
				> .owl-prev,
				> .owl-next{
					position: absolute;
					top: 50%;
					left: -3px;
					margin: -27px 0 0;
					-webkit-transform: scale(.5);
					transform: scale(.5);
					@include retina_ready_sprite(arr-left-right-30px);
					&:hover{@include retina_ready_sprite(arr-left-right-30px-actv);}
					&.disabled{display: none !important;}
					
					@include breakpoint($gt_tab) {
						left: -10px;
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
				}
				> .owl-next{
					left: auto;
					right: -3px;
					-webkit-transform: scale(.5) rotate(180deg);
					transform: scale(.5) rotate(180deg);
					@include breakpoint($gt_tab) {
						right: -10px;
						-webkit-transform: scale(.7) rotate(180deg);
						transform: scale(.7) rotate(180deg);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: rotate(180deg) scale(.7);
						transform: rotate(180deg) scale(.7);
					}
				}
			}
        }
		.field--name-field-title {
			font-family: $titilium_999;
			line-height: 1;
			margin-bottom: 15px;
			@include breakpoint($tab) {font-size: 24px;}
			@include breakpoint($tab) {font-size: 26px;}
		}
		.field--name-field-date-text { margin-bottom: 20px;}
		.field--name-field-text { margin-bottom: 20px;}
    }
}