@import "base";

.paragraph.files{
    > .holder{
        padding: 0 10px;
        @include breakpoint($gt_phone) {padding: 0 15px;}
        @include breakpoint($gt_tab_mini) {padding: 0 30px;}
        @include breakpoint($gt_tab) {padding: 0 50px;}
        > .field--name-field-files{
            .file{
                &.file--application-pdf{
                    margin: 0 0 5px;
                    padding: 0;
                    background: none;
                    &:before{
                        content: '';
                        display: inline-block;
                        margin: 0 4px 0 0;
                        @include retina_ready_sprite(icon_pdf);
                    }
                    > a{
                        display: inline-block;
                        vertical-align: 16px;
                    }
                    &:hover:before{@include retina_ready_sprite(icon_pdf-active);}
                }
            }
        }
    }
}