@import "base";

.paragraph.forms {
	> .holder {
		> .columns {
			display: inline-block;
			width: 49.7%;
			vertical-align: top;
			padding: 0;
			> .holder {
				padding: 0 30px;
				@include breakpoint($gt_tab) {padding: 0 50px;}
			}
		}
		form {
			> .holder.form-wrapper {
				@include breakpoint($gt_tab_mini) {
					width: 100%;
					//margin: 0 7% 2% 0;
					textarea,
					input{
						@include breakpoint($gt_tab) {padding: .2rem;}
					}
				}
			}
			> .hexagon {
				width: 150px;
				height: 69.98px;
				margin: 31.49px 0 0;
				padding: 10px 50px;
				font-size: 12px;
				&:before,
				&:after {
					display: none;
				}
			}
		}
	}
} 