@import "base";

.paragraph.image{
    > .holder{
        text-align: center;
        > .img-cont-link,
        > .img-cont{
            display: inline-block;
            position: relative;
            > .holder{position: relative;}
            .text{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                //padding: 20px 30px;
                text-align: left;
                color: #fff;
                font: 16px/1.1 $segoe_ui_bd;
				background-color: rgba(0, 0, 0, .6);
				height: 50px;
                @include breakpoint($gt_tab) {
                    //padding: 30px 50px;
                    font-size: 22px;
					height: 50px;
					overflow: hidden;
                }
				> p {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					padding: 0 20px;
					@include breakpoint($gt_tab) {font-size: 18px;}
				}
            }
            .description{
                font-size: 18px;
                @include breakpoint($gt_desk_mini) {font-size: 22px;}
                > p{
                    padding: 10px 30px;
                    @include breakpoint($gt_tab) {padding: 20px 50px;}
                }
            }
        }
        > .img-cont > .link-cont{
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            padding: 0 30px;
            text-align: center;
            @include breakpoint($gt_tab) {
                bottom: 30px;
                padding: 0 50px;
            }
            @include breakpoint($gt_desk_mini) {font-size: 20px;}
            > a{
                display: inline-block;
                padding: .2em 1em;
                border: 1px solid #fff;
                background-color: rgba(0, 0, 0, .4);
                color: #fff;
				&:hover {
					background-color: rgba(208, 17, 43, .9);
				}
				
            }
			&.link {
				a.external {
					border: none;
					background: none;
					color: $gray;
					&:after {
						content: "";
						background: url('../images/up_gray.png');
						width: 20px;
						height: 20px;
						display: inline-block;
						margin-lefT: 12px;
					}
					&:hover {
						color: $red;
						&:after {background: url('../images/up_red.png');}
					}
				}
			}  
        }
		> .img-cont.link {
			@include breakpoint($lte_tab) {padding-bottom: 20px;}
		}
		> .img-cont.normal {
			@include breakpoint($lte_tab) {
				padding-bottom: 60px;
				> .link-cont {
					padding: 0;
					bottom: 0;
					a {
						padding: 0 10px;
						font-size: 14px;
					}
				}
			}
		}
    }
    
    &.caption-overlay-bottom,
    &.caption-overlay-top{
        .description{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(7, 125, 194, .7);
            text-align: left;
            color: #fff;
            @include breakpoint($gt_phone) {display: block;}
        }
    }
    &.caption-overlay-bottom .description{
        top: auto;
        bottom: 0;
    }
}
.paragraph.grid-images {
	.paragraph.image {padding: 0;}
	.field--name-field-images {
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	    overflow: hidden;
		> .field__item {
			float: left;
			width: 50%;
			position: relative;
			overflow: hidden;
			border: solid 3px #fff;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
    		padding: 10px;

			img {display: inline-block;}
		}
	}
	&.grid-3 {
		.field--name-field-images {
			> .field__item {
			
				@include breakpoint($gt_tab_mini) {
					width: 33.33333%;
					padding: 20px;
				}
				
			}
		}
	}
	&.grid-4 {
		.field--name-field-images {
			> .field__item {
			
				@include breakpoint($gt_tab_mini) {
					width: 25%;
					padding: 20px;
				}
				
			}
		}
	}
	&.grid-5 {
		.field--name-field-images {
			> .field__item {
			
				@include breakpoint($gt_tab_mini) {
					width: 20%;
					padding: 20px;
				}
				
			}
		}
	}
	&.wide {
		max-width: 1000px;
		margin: 20px auto;
	}
} 