@import "base";

.paragraph.infographics{
	
	@include breakpoint($lte_tab) {padding: 30px 0;}
    > .holder{
        > .text-cont{
            padding: 0 10px;
            > .field--name-field-text{
                margin: 0 0 20px;
                text-align: center;
                color: $gray;
                font-size: 14px;
            }
            @include breakpoint($gt_phone) {padding: 0 15px;}
            @include breakpoint($gt_tab_mini) {padding: 0 30px;}
            @include breakpoint($gt_tab) {padding: 0 50px;}
        }
        > .field--name-field-infographic{
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
            -webkit-flex-flow: row wrap; /* Safari 6.1+ */
            flex-flow: row wrap;
            text-align: center;
            overflow: hidden;
            padding: 20px 0;
            @include owl_carousel(false);
            > .field__item {
                width: 100%;               /* For old syntax, otherwise collapses. */
                @include breakpoint($gt_tab_mini) {width: 20%;}
                
            }
        }
    }
	.owl-nav{
        > .owl-prev,
        > .owl-next{ @include breakpoint($lte_tab_mini) {top: 115% !important;}}
	}
    &.items-2 {
        .field--name-field-infographic{
            > .field__item {
                @include breakpoint($tab-mini) {
                    width: 50%;
                }

            }
        }
    }
    &.items-3 {
        .field--name-field-infographic{
            > .field__item {
                @include breakpoint($tab) {
                    width: 33.3333%;
                }

            }
        }
    }
    &.items-4 {
        .field--name-field-infographic{
            > .field__item {
                @include breakpoint($tab-mini) {
                    width: 50%;
                }
                @include breakpoint($tab) {
                    width: 25%;
                }

            }
        }
    }
    &.items-5 {
        .field--name-field-infographic{
            > .field__item {
                @include breakpoint($desk-mini) {
                    width: 20%;
                }

            }
        }
    }
    &.square {
        > .holder{
            > .field--name-field-infographic{
                > .field__item {
                    border: solid 2px $red;
                    &:hover {
                        @include breakpoint($gt_tab_mini) {
                            transform: scaleY(1.1);
                        }
                    }
                }
            }
        }
    }
}

.paragraph.infographics-item{
    padding: 0;
    @include breakpoint($gt_tab_mini) {padding: 20px 0;}
    @include breakpoint($gt_tab) {padding: 35px 0;}
    > .holder{
        position: relative;
        > .field--name-field-image{
            > img{
                width: auto;
                // @include breakpoint($lte_tab_mini) {
                //     max-width: 45px;
                //     max-height: 40px;
                // }
                // @include breakpoint($lte_phone) {
                //     max-width: 35px;
                //     max-height: 30px;
                // }
            }

            @include breakpoint($lte_tab_mini) {
                display: inline-block;
                width: 30%;
                vertical-align: middle;
            }
        }
        > .field--name-field-text-line{
            padding: 10px 0;
            > .field__item{
                display: block;
                font-size: 12px;
                color: $gray;
                text-align: center;
                &:first-child{
                    color: $red;
                    line-height: 1;
                    font-size: 16px;
                    padding: 20px 0 10px;
                }
            }

            @include breakpoint($lte_tab_mini) {
                display: inline-block;
                width: 65%;
                vertical-align: middle;
                text-align: left;
                line-height: 1.2;
            }
        }
        > .link {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        }
    }
}

.device-mobile.device-phone .paragraph.infographics > .holder .paragraph.infographics-item{
    padding: 0 0 8px;
    @include breakpoint($gt_phone) {padding: 0 0 12px;}
}