@import "base";
article[data-history-node-id="70"] {
	.paragraph.logo {
		padding: 0 0 30px;
	}
}
.paragraph.logo {
	padding: 30px 0;
	@include breakpoint($tab){ padding: 40px 0; }
	@include breakpoint($desk){ padding: 60px 0; }
	.field--name-field-slogan {
		font-family: $titilium_1;
		font-size: 28px;
		text-align: center;
		margin-bottom: 15px;
		@include breakpoint($tab) {
			font-size: 36px;
			margin-bottom: 25px;
		}
		@include breakpoint($desk) {
			font-size: 59px;
			margin-bottom: 40px;
		}
	}
	.field--name-field-infographic {
		padding: 0 20px;
		.paragraph.infographics-item {
			font-size: 18px;
			padding: 0;
			@include breakpoint($tab) {
				font-size: 22px;
				text-align: center;
			}
			.field--name-field-text-line {
				margin: 20px 0 0;
				text-align: center;
			}
		}
		.owl-item {
			img {
				width: inherit;
			}
		}
		.owl-nav{
				> .owl-prev,
				> .owl-next{
					position: absolute;
					top: 50%;
					left: -1px;
					margin: -27px 0 0;
					-webkit-transform: scale(.5);
					transform: scale(.5);
					@include retina_ready_sprite(arr-left-right-30px);
					&:hover{@include retina_ready_sprite(arr-left-right-30px-actv);}
					&.disabled{display: none !important;}
					
					@include breakpoint($gt_tab) {
						left: 0;
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
				}
				> .owl-next{
					left: auto;
					right: -1px;
					-webkit-transform: scale(.5) rotate(180deg);
					transform: scale(.5) rotate(180deg);
					@include breakpoint($gt_tab) {
						right: 0;
						-webkit-transform: scale(.7) rotate(180deg);
						transform: scale(.7) rotate(180deg);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: rotate(180deg) scale(.7);
						transform: rotate(180deg) scale(.7);
					}
				}
			}
	} 
}
article {
	&.bg-violet {.paragraph.logo .field--name-field-text-line {color: $violet;}}
	&.bg-red {.paragraph.logo .field--name-field-text-line {color: $red; }}
	&.bg-yellow {.paragraph.logo .field--name-field-text-line {color: $yellow;}}
	&.bg-blue {.paragraph.logo .field--name-field-text-line {color: $blue;}}
} 