@import "base";

#video-block {
	position: relative;
	overflow: hidden;
	padding: 0 !important;
	margin-bottom: 35px;
	> .down-arrow{
		position: absolute;
		bottom: 35px !important;
		z-index: 1;
		left: 0;
		right: 0;
		text-align: center;
		cursor: pointer;
		> span {
			display: inline-block;
			@include retina_ready_sprite(down-arrow);
		}
	}
	.holder {
		> .button {
			position: absolute;
			bottom: 120px;
			left: 0;
			right: 0;
			text-align: center;
			> .link-cont {
				text-align: center;
				font-size: 20px;
				> a{
	                display: inline-block;
	                padding: .4em 2em;
	                border: 1px solid #fff;
	                background-color: rgba(0, 0, 0, .4);
	                color: #fff;
					&:hover {
						background-color: rgba(208, 17, 43, .9);
				    }
				a.external {
					border: none;
					background: none;
					color: $gray;
					&:after {
						content: "";
						background: url('../images/up_gray.png');
						width: 20px;
						height: 20px;
						display: inline-block;
						margin-lefT: 12px;
					}
					&:hover {
						color: $red;
						&:after {background: url('../images/up_red.png');}
						}
					}
				}
			}
		}
		> .video-cont {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
			height: 100%;
			  //z-index: -100;
			  
			video {
				//display: none;
				/*position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				background-size: cover;*/
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -100;
				@media (min-aspect-ratio: 16/9) {
					height: 300%;
					top: -100%;				  
				}
				@media (max-aspect-ratio: 16/9) {
					width: 300%;
					left: -100%;
				}
			}
			> .message {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				color: #fff;
				text-align: center; 
				font-size: 24px;
				overflow: hidden;
				text-transform: uppercase;
				@include breakpoint($tab-mini){font-size: 32px;}
				@include breakpoint($tab){font-size: 40px}
				@include breakpoint($desk-mini){font-size: 56px;}
				@include breakpoint($desk){font-size: 74px;}
				> span {
					width: 100%;
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					//animation: type 4s steps(50, end); 
					}
				&.start > span{animation: type 4s steps(50, end); }
				&.end > span{width:0 ; }
			}
      >h2.message{
        color: $red;
        padding: 0 20px;
        span{
          white-space: initial;
        }
       }
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba(0,0,0, .3) !important;
			}
		}
    > .video-cont.img-cont{
      &:before {				
				background: rgba(0,0,0, .3);
			}
    }
	}	
	/*&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0, .6);
	}*/
	&.visible {
		.holder  > .video-cont video {@include breakpoint($gt_tab){display: block;}}
		//.holder > .video-cont {@include breakpoint($gt_tab){background:none !important;}}
		.holder > .video-cont {background:none !important;}
    .holder > .video-cont .image-for-mobile {@include breakpoint($gt_tab){display: none;}}
	}
	&.button-shining-button {
		.button a {                     
            color: #fff;                      
            background-color: $red !important;  
            -webkit-animation: shine 2.5s infinite forwards;                                    
            animation: shine 2.5s infinite forwards;                                    
            background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.25),rgba(255,255,255,0));
            background-image: -webkit-linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.25),rgba(255,255,255,0));  
            background-image: -moz-linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.25),rgba(255,255,255,0));  
            background-image: -o-linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,.25),rgba(255,255,255,0));   
            background-position: -2500px 0;
           	background-repeat: no-repeat;
            border-radius: .16em;
           	box-shadow: 0 4px 0 0 rgba(28,34,38,.1),inset 0 1px 0 0 rgba(255,255,255,.2);                                 
		}
	}
	&.button-red-button {
		a {                     
            color: #fff;                      
            background-color: $red !important;  
            border: 1px solid $red;
            &:hover {
            	border: 1px solid $red !important;
            	color: $red !important;
            	background-color: #fff !important;

            }                               
		}
	}
}

@keyframes type{
    from { width: 0; }
}
@-webkit-keyframes type{
    from { width: 0; }
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
   
@-webkit-keyframes shine {
    20%{ background-position: 0 0; }
    100% { background-position:2500px 0; }
}
@keyframes shine {
	20%{ background-position: 0 0; }
    100% { background-position:2500px 0; }
}