@import "base";

.paragraph.menu{
    > .holder{
        padding: 0 10px;
        text-align: center;
        > .field--name-field-menu-items{
            > .field__item{
                margin: 0 0 5px;
                font: 18px/1.5 $segoe_ui_semi_bd;
                a{
                    padding: 0 20px;
                    &:hover{color: $orange;}
                }
                @include breakpoint($gt_phone) {
                    display: inline-block;
                    position: relative;
                    font-size: 22px;
                    &:not(:last-child):after{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: -3px;
                        right: -3px;
                        width: 2px;
                        background-color: $sky_blue;
                    }
                }
            }
        }
        @include breakpoint($gt_phone) {padding: 0 15px;}
        @include breakpoint($gt_tab_mini) {padding: 0 30px;}
        @include breakpoint($gt_tab) {padding: 0 50px;}
    }
    .paragraph.menu-item{padding: 0;}
}