@import "base";

.paragraph{
    .text,
    .field--name-body,
    .field--name-field-text{
        position: relative;
        table{
            /* This hack is required for the below hack to work properly, but it was defined in default.scss file, so here we commented it out */
            /* Hack for long tables */
            //display: inherit;
            //overflow-x: auto;
            /* End Of Hack for long tables */
            
            /* Hack for small sizes to fix the first column in table (this hack uses the upper "Hack for long tables") */
            /* Hack works with the help of Javascript, which adds "fixed-first-column" class to tables */
            @include breakpoint($lte_tab) {
                &.fixed-first-column{
                    padding: 0 0 0 140px;
                    th:first-child,
                    td:first-child{
                        position: absolute;
                        top: auto;
                        left: 0;
                        width: 140px;
                        height: 33px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        background-color: #fff;
                        border: solid $blue;
                        border-width: 0 1px 1px 0;
                    }
                    > tbody > tr:last-child{
                        th:first-child,
                        td:first-child{border-bottom-width: 0;}
                    }
                    > thead > tr > th:first-child{
                        background-color: $blue;
                        border-right-color: #A0A0A0;
                    }
                    > thead > tr > th,
                    > tbody > tr > th,
                    > tbody > tr > td{white-space: nowrap;}
                }
            }
            /* End Of Hack for small sizes to fix the first column in table */
        }
    }
}