@import "base";

.paragraph.slideshow{
    > .holder{
        > .title{
            margin: 0 auto 20px;
            padding: 0 10px;
            @include breakpoint($gt_phone) {padding: 0 15px;}
            @include breakpoint($gt_tab_mini) {padding: 0 30px;}
            @include breakpoint($gt_tab) {padding: 0 50px;}
            @include breakpoint($gt_desk_mini) {margin-bottom: 30px;}
        }
        > .field--name-field-slides{
            @include owl_carousel(false);
            .paragraph > .holder,
            .paragraph{padding: 0;}
            //@include breakpoint($gt_tab) {padding: 0 50px;}
        }
    }
    &.wide{
        max-width: 2700px;
        margin: 0 auto;
        > .holder > .field--name-field-slides .paragraph.text > .holder{max-width: inherit;}
    }
    &.slideshow-mobile-background {
        overflow: visible;
        max-width: 330px;
        background: url('../images/smartphone.png') center no-repeat;
        height: 650px;
        margin-bottom: 35px;
        .img-cont {
            padding: 76px 0;
            img {
                height: 496px;
                width: 280px !important;
                border-radius: 2px;
            }
        }
        > .holder{
            max-width: 280px;
            margin: 0 auto; 
            > .field--name-field-slides{ 
                 .owl-nav {
                    max-width: 800px;
                    .owl-next,
                    .owl-prev {

                       @include retina_ready_sprite(workflow-arr-gray);
                       &:hover {@include retina_ready_sprite(workflow-arr)}
                    }
                    .owl-prev{
                        left: -50px !important;
                        @include breakpoint($tab) {left: -125px !important;}
                    }
                    .owl-next{
                        right: -50px !important;
                        @include breakpoint($tab) {right: -125px !important;}
                    }
                }
            }
        }
        
    }
    &.slideshow-desktop-background {
        overflow: visible;
        max-width: 742px;
        margin-bottom: 35px;
        padding: 0 35px;
         @include breakpoint($desk-mini) {
            padding: 0;
            background: url('../images/desctop.png') center no-repeat;
            height: 666px;
         }
        .img-cont {
            padding: 65px 0;
            img {
                @include breakpoint($desk-mini) {
                    height: 382px;
                    width: 678px !important;
                    border-radius: 2px;
                }
                
            }
        }
        > .holder{
            max-width: 678px;
            margin: 0 auto; 
            > .field--name-field-slides{ 
                 .owl-nav {
                    max-width: 800px;
                    .owl-next,
                    .owl-prev {

                       @include retina_ready_sprite(workflow-arr-gray);
                       &:hover {@include retina_ready_sprite(workflow-arr)}
                    }
                    .owl-prev{
                        left: -50px !important;
                        @include breakpoint($desk-mini) {left: -125px !important;}
                    }
                    .owl-next{
                        right: -50px !important;
                        @include breakpoint($desk-mini) {right: -125px !important;}
                    }
                }
            }
        }
        
    }
}