@import "base";

.paragraph.tabs{
    > .holder{
        padding: 0 10px;
        @include breakpoint($gt_phone) {padding: 0 15px;}
        @include breakpoint($gt_tab_mini) {padding: 0 30px;}
        @include breakpoint($gt_tab) {padding: 0 50px;}
        > .tabs-header{
            > .tab-title{
                margin: 0 0 4px;
                padding: 5px 10px;
                border: 1px solid #ccc;
                background-color: #F5F5F5;
                text-align: center;
                font-size: 14px;
                cursor: pointer;
                &:hover,
                &.actv{
                    border-color: $sky_blue;
                    background-color: $sky_blue;
                    color: #fff;
                    font-family: $segoe_ui_semi_bd;
                }
                
                @include breakpoint($gt_tab_mini) {
                    display: inline-block;
                    width: 50%;
                    margin: 0 0 -1px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:nth-child(even){border-width: 1px 1px 1px 0;}
                }
                @include breakpoint($gt_desk_mini) {
                    width: 33.3333333%;
                    border-width: 1px 1px 1px 0;
                    &:nth-child(3n+1){border-width: 1px;}
                }
                @include breakpoint($gt_desk) {
                    position: relative;
                    z-index: 0;
                    float: left;
                    width: auto;
                    margin: 0;
                    padding: 10px 20px;
                    border-color: $sky_blue;
                    color: $sky_blue;
                    font-family: $segoe_ui_semi_bd;
                    &.actv{
                        z-index: 2;
                        border-width: 2px 2px 0 1px;
                        background-color: #fff;
                        color: $orange;
                        &:first-child{border-left-width: 2px;}
                    }
                }
            }
            
            @include breakpoint($gt_tab_mini) {margin: 0;}
            @include breakpoint($gt_desk) {
                margin: 0 0 -2px;
                overflow: hidden;
            }
        }
        > .tabs-body{
            border: 1px solid $sky_blue;
            > .tab-body{
                display: none;
                &.actv{display: block;}
                .paragraph{
                    padding: 0;
                    > .holder{
                        padding: 6px 10px;
                        @include breakpoint($gt_tab) {padding: 10px 15px;}
                        @include breakpoint($gt_desk_mini) {padding: 15px 20px;}
                    }
                }
                a{
                    display: inline;
                    padding: 0;
                    background-color: transparent;
                }
            }
            @include breakpoint($gt_desk_mini) {border-width: 2px;}
            @include breakpoint($gt_desk) {
                position: relative;
                z-index: 1;
            }
        }
    }
    
    &.wide .paragraph .holder.row{max-width: inherit;}
}