@import "base";
section.paragraph.testimonial {
	//text-align: center;
	margin: 30px 0;
	padding: 20px 0;
	@include owl_carousel(false);
	.owl-dots {
		text-align: center;
		> .owl-dot {
			display: inline-block;
			margin: 0 8px;
			> span {
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background: #928cad;
			} 
			&.active > span { background: #7d7c7c; }
		}
	}
	.owl-nav{
				> .owl-prev,
				> .owl-next{
					position: absolute;
					top: 50%;
					left: -3px;
					margin: -27px 0 0;
					-webkit-transform: scale(.5);
					transform: scale(.5);
					@include retina_ready_sprite(arr-left-right-30px);
					&:hover{@include retina_ready_sprite(arr-left-right-30px-actv);}
					&.disabled{display: none !important;}
					
					@include breakpoint($gt_tab) {
						left: -10px;
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: scale(.7);
						transform: scale(.7);
					}
				}
				> .owl-next{
					left: auto;
					right: -3px;
					-webkit-transform: scale(.5) rotate(180deg);
					transform: scale(.5) rotate(180deg);
					@include breakpoint($gt_tab) {
						right: -10px;
						-webkit-transform: scale(.7) rotate(180deg);
						transform: scale(.7) rotate(180deg);
					}
					@include breakpoint($gt_desk) {
						-webkit-transform: rotate(180deg) scale(.7);
						transform: rotate(180deg) scale(.7);
					}
				}
			}
	.paragraph.testimonial-item {
		padding: 0 0 10px;
		> .holder {
		padding: 0 32px;
		color: $gray;
		@include breakpoint($tab) {padding: 0 70px;}
		@include breakpoint($desk-mini) {padding: 0 120px;}
		> .author {
			font-size: 18px;
			@include breakpoint($tab) {font-size: 20px;}
			@include breakpoint($desk) {font-size: 24px;}
		}
		> .author-holder {
			text-align: right;
			margin-top: 20px;
			> .author {
				font-size: 16px;
				margin-bottom: 5px;
				font-family: $titilium_750;
				display: block;
			}
			> .position {
				font-size: 14px;
				display: block;
			}
		}
	}
	}
	&.bg-blue {
		background-color: $blue;
		.paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
			
		}
		}
		 
	}
	&.bg-violet {
		background-color: $violet;
		 .paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
	&.bg-yellow {
		background-color: $yellow;
		 .paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
	&.bg-red {
		background-color: $red;
		.paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
	&.bg-orange {
		background-color: $orange;
		.paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
	&.bg-green {
		background-color: $green;
		.paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
	&.bg-violet2 {
		background-color: $violet2;
		//background-image: url('../images/a.png');
		.paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
	&.bg-brown {
		background-color: $brown;
		.paragraph.testimonial-item {
			> .holder {
			color: #e6e6e6 !important;
			position: relative;
			@include breakpoint($desk-mini) {
				&:before {
					content: "";
					position: absolute;
					@include retina_ready_sprite(quote-icon);
					left: 40px;
				}
			}
		}
		}
	}
}