@import "base";

.paragraph.image-with-text{
	margin-top: 30px;
    > .holder{
        padding: 0 10px;
        @include breakpoint($gt_phone) {padding: 0 15px;}
        @include breakpoint($gt_tab_mini) {padding: 0 30px;}
        @include breakpoint($gt_tab) {padding: 0 50px;}
        > .image-cont{
            padding: 0;
            > .description{
                margin: 10px 0 0;
                text-align: center;
                font: 22px/1.1 $segoe_ui_semi_bd;
            }
        }
    }
    .text {
    	.title,
    	.small-title {
    		margin-top: 0;
    	}
    }
    &.right-image > .holder > .text,
    &.right-inline-image > .holder > .image-cont,
    &.left-inline-image > .holder > .image-cont,
    &.left-image > .holder > .image-cont{@include breakpoint($lte_tab_mini) {margin: 0 0 30px;}}
    &.bottom-image > .holder > .text,
    &.top-image > .holder > .image-cont{margin: 0 0 30px;}
    &.left-image > .holder{
        > .text{
            padding: 0;
            @include breakpoint($gt_tab_mini) {padding: 0 0 0 10px;}
        }
        > .image-cont {
            @include breakpoint($gt_tab_mini) {padding: 0 10px 0 0;}
        }
    }
    &.right-image > .holder{
        > .text{
            padding: 0;
            @include breakpoint($gt_tab_mini) {padding: 0 10px 0 0;}
        }
        > .image-cont {
            @include breakpoint($gt_tab_mini) {padding: 0 0 0 10px;}
        }
    }
    
    &.right-inline-image,
    &.left-inline-image,
    &.right-image,
    &.left-image{
        > .holder > .image-cont{
            @include breakpoint($gt_tab_mini) {padding-top: 7px;}
            @include breakpoint($gt_tab) {padding-top: 9px;}
        }
         &.style-70x30 {
            > .holder {
                > .image-cont {
                    width: 100%;
                    //img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 30%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 70%;} 
                }
            }
        }
        &.style-30x70 {
            > .holder {
                > .image-cont {
                    width: 100%;
                   // img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 70%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 30%;} 
                }
            }
        }
        &.style-40x60 {
            > .holder {
                > .image-cont {
                    width: 100%;
                   // img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 60%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 40%;} 
                }
            }
        }
        &.style-60x40 {
            > .holder {
               > .image-cont {
                    width: 100%;
                    //img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 40%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 60%;} 
                }
            }
        }
        &.style-50x50 {
            > .holder {
                > .image-cont {
                    width: 100%;
                    //img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 50%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 50%;} 
                }
            }
        }
    }
    &.left-image{
        > .holder > .image-cont{
            @include breakpoint($gt_tab_mini) {padding-top: 7px;}
            @include breakpoint($gt_tab) {padding-top: 9px;}
        }
        &.style-70x30 {
            > .holder {
                > .image-cont {
                    width: 100%;
                   // img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 70%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 30%;} 
                }
            }
        }
        &.style-30x70 {
            > .holder {
                > .image-cont {
                    width: 100%;
                   // img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 30%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 70%;} 
                }
            }
        }
        &.style-40x60 {
            > .holder {
                > .image-cont {
                    width: 100%;
                   // img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 40%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 60%;} 
                }
            }
        }
        &.style-60x40 {
            > .holder {
               > .image-cont {
                    width: 100%;
                  //  img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 60%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 40%;} 
                }
            }
        }
        &.style-50x50 {
            > .holder {
                > .image-cont {
                    width: 100%;
                   // img    {width: 100%;}
                    @include breakpoint($gt_tab_mini) {width: 50%;} 
                }
                > .text {
                     width: 100%;
                    @include breakpoint($gt_tab_mini) {width: 50%;} 
                }
            }
        }
    }
    &.left-inline-image{
        > .holder > .image-cont{
            @include breakpoint($gt_tab_mini) {
                float: left;
                width: 47%;
                margin: 0 30px 20px 0;
            }
            @include breakpoint($gt_tab) {margin-right: 40px;}
        }
    }
    &.right-inline-image{
        > .holder > .image-cont{
            @include breakpoint($gt_tab_mini) {
                float: right;
                width: 47%;
                margin: 0 0 20px 30px;
            }
            @include breakpoint($gt_tab) {margin-left: 40px;}
        }
    }
}