@import "base";

.paragraph.text-with-block{
    color: #fff;
    > .holder{
        @include breakpoint($gt_tab_mini) {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
        > .text{
            padding: 30px;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                width: 400%;
                height: 100%;
                background-color: inherit;
            }
        }
        > .block{
            position: relative;
            padding: 30px;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                width: 800%;
                height: 100%;
                background-color: inherit;
            }
            > .inner-block{
                > .block-cont{
                    display: table;
                    width: 100%;
                    height: 100%;
                    > .holder{
                        display: table-cell;
                        vertical-align: middle;
                        max-width: 340px;
                    }
                }
            }
        }
    }
    &.left-block{
        > .holder{
            > .text:before{left: 100%;}
            > .block{
                margin: 0 30px 0 0;
                &:before{right: 100%;}
            }
        }
    }
    &.right-block{
        > .holder{
            > .text:before{right: 100%;}
            > .block{
                margin: 0 0 0 30px;
                &:before{left: 100%;}
            }
        }
    }
}