@import "base";

.paragraph.text{
    > .holder{
		// max-width: 1044px;
		margin: 0 auto;
		padding: 0 10px;
		@include breakpoint($gt_phone) {padding: 0 15px;}
		@include breakpoint($gt_tab_mini) {padding: 0 30px;}
		@include breakpoint($gt_tab) {padding: 0 50px;}
    }
   &.fill-color {
		margin-bottom: 35px;
		padding: 20px 0;
		color: #fff;
		.title { margin-top: 0;}
		.paragraph,
		.text,
		.title,
		p { color: #fff; }
		&.color-dark-green { background-color: #049584; }
		&.color-light-green { background-color: #84BE41; }
		&.color-red { background-color: #C52253; }
		&.color-violet { background-color: #613982; }
		&.color-blue { background-color: #0297C9; }
		&.color-orange { background-color: #EB8C2D; }
	}
    &.bold{
		text-align: center;
		padding: 20px 0 30px;
        p {
            font: 18px/1.25 $titilium_999;
            @include breakpoint($gt_tab) {
                margin: 0 0 5px;
                font-size: 20px;
            }
            @include breakpoint($gt_desk_mini) {font-size: 24px;}
        }
    }
	&.quote {
		text-align: center;
		padding: 15px 10px;
		margin-bottom: 35px;
		p, p span {
			@include breakpoint($lte_tab) {font-size: 24px !important;}
			@include breakpoint($lte_tab_mini) {font-size: 22px !important;}
			
			
		}
		p:last-child {
				@include breakpoint($lte_tab) {font-size: 18px !important;}
				@include breakpoint($lte_tab_mini) {font-size: 16px !important;}
			}
		> .holder {
			//color: #e6e6e6;
		}
		&.bg-blue {
		background-color: $blue;
		> .holder {
			color: #e6e6e6;
		}
		}
		&.bg-violet {
			background-color: $violet;
			> .holder {
				color: #e6e6e6;
			}
		}
		&.bg-yellow {
			background-color: $yellow;
			> .holder {
				color: #e6e6e6;
			}
		}
		&.bg-red {
			background-color: $red;
			> .holder {
				color: #e6e6e6;
			}
		}
		&.bg-orange {
			background-color: $orange;
			> .holder {
				color: #e6e6e6;
			}
		}
		&.bg-green {
			background-color: $green;
			> .holder {
				color: #e6e6e6;
			}
		}
		&.bg-violet2 {
			background-color: $violet2;
			> .holder {
				color: #e6e6e6;
			}
		}
		&.bg-brown {
			background-color: $brown;
			> .holder {
				color: #e6e6e6;
			}
		}
	}
}