@import "base";

.paragraph.title-with-icons {
	> .holder {
		> .small-title {
			padding: 0 15px;
			margin: 0;
			color: #000;
			font-size: 24px;
			@include breakpoint($gt_tab) {font-size: 28px;}
        	@include breakpoint($gt_desk_mini) {font-size: 36px;}
		}
		> img {
			margin: 0;
			padding: 0 15px;
		}
		> .text {
			margin: 15px 0;
		}
		> .link-cont {
			padding: 0 15px;
			> a {
				display: inline-block;
				position: relative;
				padding: 8px 17px;
				line-height: 1;
				font: 18px $titilium_250;
				border: solid 1px $red;
				border-radius: 5px;
				color: $red;
				@include breakpoint($gt_tab) {font-size: 22px;}
        		@include breakpoint($gt_desk_mini) {font-size: 26px;}
        		&:hover {
        			color: #fff;
        			background-color: $red;
        		}
				&.external {
					padding: 8px 42px 8px 17px;
					&:before {
						content: "";
						position: absolute;
						right: 0;
						height: 24px;
						width: 24px;
						margin: 6px 9px;
						background: url("../images/launch.png");
					}
				}
			}
		}
	}
}