@import "base";

.paragraph.video{
    > .holder{
        padding: 0 10px;
        @include breakpoint($gt_phone) {padding: 0 15px;}
        @include breakpoint($gt_tab_mini) {padding: 0 30px;}
        @include breakpoint($gt_tab) {padding: 0 50px;}
        > .video-cont{
            padding: 0;
            iframe{
                height: 250px;
                @include breakpoint($gt_tab) {height: 300px;}
            }
        }
    }
    &.right-video > .holder > .text,
    &.left-video > .holder > .video-cont{@include breakpoint($lte_tab_mini) {margin: 0 0 30px;}}
    &.bottom-video > .holder > .text,
    &.top-video > .holder > .video-cont{margin: 0 0 30px;}
    &.left-video > .holder{
        > .text{
            padding: 0;
            @include breakpoint($gt_tab_mini) {padding: 0 0 0 30px;}
        }
    }
    &.right-video > .holder{
        > .text{
            padding: 0;
            @include breakpoint($gt_tab_mini) {padding: 0 30px 0 0;}
        }
    }
    &.bottom-video,
    &.top-video{
        > .holder > .video-cont iframe{
            @include breakpoint($gt_phone) {height: 320px;}
            @include breakpoint($gt_tab) {height: 430px;}
            @include breakpoint($gt_desk_mini) {height: 550px;}
        }
        &.wide{
            > .holder{
                max-width: inherit;
                padding: 0;
                > .text{
                    max-width: $custom-row-width;
                    padding: 0 10px;
                    @include breakpoint($gt_phone) {padding: 0 15px;}
                    @include breakpoint($gt_tab_mini) {padding: 0 30px;}
                    @include breakpoint($gt_tab) {padding: 0 50px;}
                }
            }
        }
    }
    &.right-video,
    &.left-video{
        > .holder > .video-cont{@include breakpoint($gt_tab_mini) {padding-top: 5px;}}
    }
    &.right-video.wide,
    &.left-video.wide{> .holder{max-width: inherit;}}
}