@import "base";
.paragraph.webform {
	padding: 0 10px;
	overflow: visible;
	.field__label { display: none; }
	.webform-confirmation {
		padding: 20px;
	    text-align: center;
	    font-size: 25px;
	}
	form {
		padding: 0 25px;
		@include breakpoint($tab) {padding: 0;} 
		max-width: 800px;
	    margin: 0 auto !important;
	    display: block !important;
	    > .form-item {
	    	position: relative;
	    	text-align: left;
	    	margin: 11px 0 22px;
	    	input,
	    	textarea,
	    	select {
	    		width: 100%;
	    		border: none;
	    		font-size: 20px;
	    		background: transparent !important;
			    border-bottom: solid 1px #999 !important;
			    padding: 10px 3px 3px 5px !important;
			        outline: 0;
	    	}
	    	input::-webkit-contacts-auto-fill-button {
			  visibility: hidden;
			  display: none !important;
			  pointer-events: none;
			  position: absolute;
			  right: 0;
			}
			input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button { 
			  -webkit-appearance: none; 
			  margin: 0; 
			}
	    	> label {
	    		pointer-events: none;
	    		color: #999;
	    		position: absolute;
    			top: 6px;
    			left: 4px;
    			font-size: 20px;
    			background: #fff;
	    	}
	    	.description {
	    		padding-left: 5px;
    			color: #949090;
	    	}
	    	&.form-type-select {
	    		> label {
	    			background: #fff;
	    			width: 80%;
	    		}
	    	}
	    	&.clicked {
	    		border-color: $red;
	    		//margin-top: 30px;
	    		> label {
	    			top: -9px;
	    			color: $red;
	    			font-size: 13px;
	    			-webkit-transition: all 0.2s ease-in-out;
				    -moz-transition: all 0.2s ease-in-out;
				    -o-transition: all 0.2s ease-in-out;
				    transition: all 0.2s ease-in-out
	    		}
	    		input,
	    	textarea,
	    	select {
			   //border-bottom: solid 1px rgba(208, 17, 43, 0.6) !important;
	    	}
	    		&:after {
	    		 	width: 100%;
	    		 	-webkit-transition: width 0.5s ease-in-out;
				    -moz-transition: width 0.5s ease-in-out;
				    -o-transition: width 0.5s ease-in-out;
				    transition: width 0.5s ease-in-out;
	    		}
	    	}
	    	&:after {
	    	 	content: "";
	    	 	position: absolute;
	    	 	width: 0;
	    	 	height: 1px;
	    	 	bottom: 0;
	    	 	left: 0;
	     		right: 0;
	    		background: $red;
	    	 	z-index: 1;
	    	}
	    }
	    //#edit-actions {text-align: center;}
	    #edit-submit {
	    	font-size: 25px;
	    	background: $red;
	    	color: #fff !important;
	    	position: relative !important;
			display: inline-block !important;
			width: inherit !important;
			padding: 13px 80px !important;
			border: solid 1px $red !important;
			margin-top: 8px !important;
			&:hover {
			 	background: #fff !important;
			 	color: $red !important;
			}
	    }
	}
}