@import "base";
.field--name-field-paragraphs {
	.owl-controls {
		> .owl-nav {
			max-width: $custom_row_width;
			margin: 0 auto;
			position: absolute;
			top: 40%;
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 0;
			right: 0;
			> .owl-next {
				@include retina_ready_sprite(workflow-arr-white);
				position: absolute;
				right: 0;
				-webkit-transform: scale(.4);
				transform: scale(.4);
				@include breakpoint($desk-mini) { 
					transform: none;
					left: 93%;
					right: inherit;
					}
				&:hover {@include retina_ready_sprite(workflow-arr)}
				&.disabled {@include retina_ready_sprite(workflow-arr-gray);}
			}
			> .owl-prev {
				@include retina_ready_sprite(workflow-arr-white);
				position: absolute;
				left: 0;
				-webkit-transform: scale(.4) rotate(180deg);
				transform: scale(.4) rotate(180deg);
				@include breakpoint($desk-mini) {display: none !important;}
				&:hover {@include retina_ready_sprite(workflow-arr)}
				&.disabled {@include retina_ready_sprite(workflow-arr-gray);}
			}
      .disabled{
        cursor: default;
      }
		}
		> .owl-dots {
			position: absolute;
			bottom: 80px;
			left: 0;
			right: 0;
			text-align: center;
			//display: none !important;
			//@include breakpoint($desk-mini) {display: block !important;}
			> .owl-dot {
				display: inline-block;
				width: 12px;
				height: 12px;
				margin-right: 10px;
				border-radius: 50%;
				font-size: 14px;
				margin-bottom: 20px;
				background: #5f5d5d;
				text-indent: -99999px;
				&.active.past {background: #9a9797;}
				&:last-child {margin-right: 0;}
				@include breakpoint($desk-mini) {
					width: 80px;
					height: 80px;
					line-height: 55px;
					border: solid 11px #707070;
					border-radius: 50%;
					margin-right: 39px;
					position: relative;
					font-size: 24px;
					margin-bottom: 0;
					font-family: $titilium_999;
					background: none;
					text-indent: inherit;
					&:before {
						content: "";
						position: absolute;
						left: 60px;
						top: 50%;
            -ms-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
						@include retina_ready_sprite(grey-after-arr);
					}           
					&.active.past {
						color: #fff;
						background: none;           
					}
					&.past {
						color: $red;
						border-color: $red;
           	&:before {
              @include retina_ready_sprite(red-grey-after-arr);
              height: 50px;
            }
            &:after {
              content: "";
              position: absolute;
              left: -60px;
              top: 50%;
              -ms-transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);                        
              @include retina_ready_sprite(red-after-arr);                            
            }         
					}        
          &:last-child:before{
						content: none;
					}
          &:first-child:after{
            content: none;
          }
				}				
			}
			&:before {
				content: "DEVELOPMENT PROCESS";
				color: #ececec;
				font-size: 14px;
				position: absolute;
				left: 0;
				right: 0;
				top: -15px;
				z-index: 1;
				max-width: 72.5rem;
				margin: 0 auto;
				padding: 15px;
				text-align: center;
				transform: translateY(-70%);
				@include breakpoint($tab){
					font-size: 16px;
					//text-align: left;
					}
				@include breakpoint($desk){font-size: 18px;}
			}
			
		}
	}
	/*&:before {
		content: "DEVELOPMENT PROCESS";
		color: $red;
		font-size: 24px;
		position: absolute;
		left: 44px;
		right: 0;
		top: 30%;
		z-index: 1;
		max-width: 72.5rem;
		margin: 0 auto;
		padding: 15px;
		text-align: center;
		transform: translateY(-70%);
		@include breakpoint($tab){
			font-size: 28px;
			text-align: left;
			}
		@include breakpoint($desk-mini){
			font-size: 30px;
			left: 0;
		}
		@include breakpoint($desk){font-size: 36px;}
	}*/
}
.paragraph.workflow {
	> .image-cont {
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center; 
			> img {width: 100%;}
			&:after {
				content: "";
				position: absolute;
				top:0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(0,0,0, .7);
			}
		}
		> .holder {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			> .left,
			> .right {
				color: #fff;;
				position: absolute;
				top: 50%;
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			> .left{
				left: 0;
				width: 100%;
				right: 0;
				//overflow: hidden;
				padding: 0 60px;
				@include breakpoint($gt-tab) {
					right: inherit;
					width: 57%;
					left: 50px;
					padding: 0;
				}
				@include breakpoint($desk-mini) {
					width: 40%;
					left: 10px;
				}
				> .title {	
					color: #fff;
					text-align: left;
					margin: 0 0 10px 10px;
					font-size: 22px;
					font-family: $titilium_750;
					
					@include breakpoint($tab) {font-size: 24px;}
					@include breakpoint($desk-mini) {font-size: 30px;}
					
					}
					> .text { 
						border-top: solid 1px; 
						padding: 30px 10px;
						font-size: 16px;
						p{padding: 0;}
						@include breakpoint($tab) { p {font-size: 20px;}}
						@include breakpoint($desk-mini) { p {font-size: 22px;}}
					}
					> .link-cont {
						overflow: hidden;
						padding: 10px 50px;
						position: relative;
						@include breakpoint($gt-tab) {padding: 10px 0;}
						> .link {
							position: absolute;
							bottom: 0;
							right: 0;
							z-index: 1;
							font-size: 14px;
							&:before {
								content: "";
								width: 500%;
								height: 1px;
								position: absolute;
								background: #fff;
								right: 110%;
								bottom: 10px;
								max-width: 485px;
							}
							a:after {
								content: ">";
								margin-left: 5px;
							}
						}
					}
					
				}
				
				
			> .right{
				//top: %;
				right: 40px;
				text-align: center;
				width: 25%;
				//margin-bottom: 40px;
				display: none;
				@include breakpoint($gt-phone) {right: 50px;}
				@include breakpoint($gt-tab) {
					right: 50px;
					display: block;}
				@include breakpoint($desk-mini) {
					width: 36%;
					left: 50%;
					right: inherit;
				}
				.paragraph.workflow-infographics {
					border: solid 5px;
					border-radius: 50%;
					padding: 0 !important;
					margin-bottom: 70px;
					max-width: 350px;
					max-height: 350px;
					float: right;
					position: relative;
					> .holder {
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						margin: 0;
						-ms-transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
						padding: 0 15px;
						> .field--name-field-slogan {
							color: $red;
							font-size: 22px;
							font-family: $titilium_1;
							@include breakpoint($tab-mini) {font-size: 28px;}
							@include breakpoint($tab) {font-size: 44px;}
							@include breakpoint($desk-mini) {font-size: 64px;}
							@include breakpoint($desk) {font-size: 80px;}
						}
						> .field--name-field-text-line-plain {
							font-size: 14px;
							font-family: $titilium_250;
							@include breakpoint($tab-mini) {font-size: 16px;}
							@include breakpoint($tab) {font-size: 18px;}
							@include breakpoint($desk-mini) {font-size: 20px;}
							@include breakpoint($desk) {font-size: 22px;}
							}
					}
				}
			}
		}
		.down-arr{
			position: absolute;
			bottom: 50px;
			z-index: 1;
			left: 0;
			right: 0;
			text-align: center;
			cursor: pointer;
			> span {
				display: inline-block;
				@include retina_ready_sprite(workflow-arr-down);
			}
		}
	}