{%  set input = post.inputText %}
{%  set message = "City you have entered: " ~ input %} 

<h4>{{ title }}</h4>
 
<form action="" method="post">
  City: <input type="text" name="inputText"><br> 
  <input type="submit" value="Submit">
</form>


{% if post.inputText %}
	{{ message }}
{% endif %}
 
<table style="border-style: solid;border-color: light-grey">
  
{% for article in items %}
	<tr style="border-style: solid;border-color: black">
		<td style="border-style: solid;border-color: black">
			{{ article.name }}
		</td>
	</tr>

{% endfor %}

</table>