<section class="mpw--list-buttons">
  <h1 class="mpw--list-buttons-toggle js-mpw--list-buttons-toggle">{{ title }}</h1>
  <ul class="mpw--list-buttons-list js-mpw--list-buttons-list">
    {% for link in links %}
      <li>{{ link }}</li>
    {% endfor %}
  </ul>
</section>
