/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field--name-field-block-content-views,
#edit-field-paragraphs-wrapper .field--name-field-block-content-site-content,
#edit-field-paragraphs-wrapper .field--name-field-block-content-custom-block {
  display: none;
}
/* line 7, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .block-contents-list {
  margin: 20px 0 0;
  padding: 5px 0 0;
  border-top: 1px solid #ccc;
}
/* line 14, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table > thead {
  cursor: pointer;
}
/* line 16, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table > thead .field-label {
  position: relative;
}
/* line 18, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table > thead .field-label:after {
  content: '-';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  color: #077DC2;
  font-size: 28px;
}
/* line 30, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraph-type-top {
  position: relative;
}
/* line 32, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraph-type-top:after {
  content: '-';
  position: absolute;
  top: 4px;
  right: 0;
  width: 24px;
  height: 24px;
  color: #077DC2;
  font-size: 28px;
  pointer-events: none;
}
/* line 43, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraph-type-top > .paragraph-type-title {
  padding: 5px 10px;
  border: solid #bfbfba;
  border-width: 1px 0;
  background-color: #f5f5f2;
  cursor: pointer;
}
/* line 51, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraph-type-top.collapsed:after {
  content: '+';
}
/* line 52, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraph-type-top.collapsed + .paragraphs-subform {
  display: none;
}
/* line 56, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraphs-subform .field--name-field-files-list select {
  min-height: 400px;
  width: 100%;
}
/* line 60, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraphs-subform .form-checkboxes {
  max-height: 400px;
  overflow-y: auto;
}
/* line 63, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table .paragraphs-subform .form-checkboxes > .form-type-checkbox {
  float: left;
  width: 30%;
  margin: 0 3% 0 0;
}
/* line 71, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table.collapsed > thead .field-label:after {
  content: '+';
}
/* line 72, ../sass/add-edit-form.scss */
#edit-field-paragraphs-wrapper .field-multiple-table.collapsed > tbody {
  display: none;
}
