/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/awards.scss */
.paragraph.awards-section {
  max-width: 1000px;
  margin: 0 auto;
}
/* line 6, ../sass/awards.scss */
.paragraph.awards-section .field--name-field-award {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
  text-align: center;
}
/* line 15, ../sass/awards.scss */
.paragraph.awards-section .field--name-field-award > .field__item {
  float: left;
  width: 50%;
  position: relative;
  overflow: hidden;
  border: solid 3px #fff;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  padding: 10px;
}
/* line 25, ../sass/awards.scss */
.paragraph.awards-section .field--name-field-award > .field__item .title {
  font-size: 32px;
  color: #646161;
}
/* line 29, ../sass/awards.scss */
.paragraph.awards-section .field--name-field-award > .field__item .description {
  padding: 10px 18px 0 18px;
  font-size: 18px;
  line-height: 1.2em;
}
/* line 34, ../sass/awards.scss */
.paragraph.awards-section .field--name-field-award > .field__item img {
  display: inline-block;
}
@media (min-width: 621px) {
  /* line 39, ../sass/awards.scss */
  .paragraph.awards-section.grid-3 .field--name-field-award > .field__item {
    width: 33.33333%;
    padding: 20px;
  }
}
@media (min-width: 621px) {
  /* line 51, ../sass/awards.scss */
  .paragraph.awards-section.grid-4 .field--name-field-award > .field__item {
    width: 25%;
    padding: 20px;
  }
}
@media (min-width: 621px) {
  /* line 63, ../sass/awards.scss */
  .paragraph.awards-section.grid-5 .field--name-field-award > .field__item {
    width: 20%;
    padding: 20px;
  }
}
