/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 2, ../sass/big-banner.scss */
.paragraph.big-banner {
  position: relative;
  padding: 0;
}
/* line 6, ../sass/big-banner.scss */
.paragraph.big-banner .big-banner-image > .image-cont {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
  padding: 0 !important;
}
/* line 170, ../sass/_base.scss */
.paragraph.big-banner .big-banner-image > .image-cont:before {
  content: "";
  position: absolute;
  width: 53%;
  height: 80px;
  bottom: -80px;
  left: -10px;
  background: #fff;
  transform: rotate(3deg);
  transform-origin: right top;
  z-index: 2;
}
/* line 182, ../sass/_base.scss */
.paragraph.big-banner .big-banner-image > .image-cont:after {
  content: "";
  position: absolute;
  width: 53%;
  height: 80px;
  bottom: -80px;
  right: -10px;
  background: #fff;
  transform: rotate(-3deg);
  transform-origin: left top;
  z-index: 2;
}
/* line 14, ../sass/big-banner.scss */
.paragraph.big-banner .big-banner-image > .image-cont > img {
  display: none;
}
/* line 15, ../sass/big-banner.scss */
.paragraph.big-banner .big-banner-image > .image-cont > .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}
/* line 25, ../sass/big-banner.scss */
.paragraph.big-banner .big-banner-image > .title-contnent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
}
/* line 30, ../sass/big-banner.scss */
.paragraph.big-banner .big-banner-image > .title-contnent > h1 {
  display: inline-block;
  font-size: 48px;
  color: #fff;
  background: rgba(190, 23, 34, 0.75);
  line-height: 1;
  padding: 25px 50px 25px 100px;
}
/* line 40, ../sass/big-banner.scss */
.paragraph.big-banner.normal {
  max-height: 460px;
  margin-bottom: 20px;
}
/* line 41, ../sass/big-banner.scss */
.paragraph.big-banner.normal .down-arrow {
  display: none;
}
/* line 44, ../sass/big-banner.scss */
.paragraph.big-banner.normal .paragraph.big-banner-image {
  padding: 0;
}
/* line 46, ../sass/big-banner.scss */
.paragraph.big-banner.normal .paragraph.big-banner-image > .image-cont {
  min-height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 51, ../sass/big-banner.scss */
.paragraph.big-banner.normal .paragraph.big-banner-image > .image-cont img {
  display: block;
  visibility: hidden;
  width: 100%;
}
@media (max-width: 620px) {
  /* line 51, ../sass/big-banner.scss */
  .paragraph.big-banner.normal .paragraph.big-banner-image > .image-cont img {
    display: none;
  }
}
/* line 63, ../sass/big-banner.scss */
.paragraph.big-banner.normal .title-contnent > h1 {
  font-size: 22px;
}
@media (min-width: 620px) {
  /* line 63, ../sass/big-banner.scss */
  .paragraph.big-banner.normal .title-contnent > h1 {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  /* line 63, ../sass/big-banner.scss */
  .paragraph.big-banner.normal .title-contnent > h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  /* line 63, ../sass/big-banner.scss */
  .paragraph.big-banner.normal .title-contnent > h1 {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  /* line 63, ../sass/big-banner.scss */
  .paragraph.big-banner.normal .title-contnent > h1 {
    font-size: 60px;
  }
}
/* line 74, ../sass/big-banner.scss */
.paragraph.big-banner.height-300px .image-cont {
  max-height: 300px;
}
/* line 76, ../sass/big-banner.scss */
.paragraph.big-banner.height-300px .image-cont img {
  visibility: hidden;
}
/* line 79, ../sass/big-banner.scss */
.paragraph.big-banner.height-300px .title-contnent > h1 {
  font-size: 22px;
}
@media (min-width: 620px) {
  /* line 79, ../sass/big-banner.scss */
  .paragraph.big-banner.height-300px .title-contnent > h1 {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  /* line 79, ../sass/big-banner.scss */
  .paragraph.big-banner.height-300px .title-contnent > h1 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  /* line 79, ../sass/big-banner.scss */
  .paragraph.big-banner.height-300px .title-contnent > h1 {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 79, ../sass/big-banner.scss */
  .paragraph.big-banner.height-300px .title-contnent > h1 {
    font-size: 48px;
  }
}
/* line 89, ../sass/big-banner.scss */
.paragraph.big-banner.height-400px .image-cont {
  max-height: 400px;
}
/* line 91, ../sass/big-banner.scss */
.paragraph.big-banner.height-400px .image-cont img {
  visibility: hidden;
}
/* line 94, ../sass/big-banner.scss */
.paragraph.big-banner.height-400px .title-contnent > h1 {
  font-size: 26px;
}
@media (min-width: 620px) {
  /* line 94, ../sass/big-banner.scss */
  .paragraph.big-banner.height-400px .title-contnent > h1 {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  /* line 94, ../sass/big-banner.scss */
  .paragraph.big-banner.height-400px .title-contnent > h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  /* line 94, ../sass/big-banner.scss */
  .paragraph.big-banner.height-400px .title-contnent > h1 {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  /* line 94, ../sass/big-banner.scss */
  .paragraph.big-banner.height-400px .title-contnent > h1 {
    font-size: 52px;
  }
}
/* line 104, ../sass/big-banner.scss */
.paragraph.big-banner.height-500px .image-cont {
  max-height: 500px;
}
/* line 106, ../sass/big-banner.scss */
.paragraph.big-banner.height-500px .image-cont img {
  visibility: hidden;
}
/* line 109, ../sass/big-banner.scss */
.paragraph.big-banner.height-500px .title-contnent > h1 {
  font-size: 26px;
}
@media (min-width: 620px) {
  /* line 109, ../sass/big-banner.scss */
  .paragraph.big-banner.height-500px .title-contnent > h1 {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  /* line 109, ../sass/big-banner.scss */
  .paragraph.big-banner.height-500px .title-contnent > h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  /* line 109, ../sass/big-banner.scss */
  .paragraph.big-banner.height-500px .title-contnent > h1 {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  /* line 109, ../sass/big-banner.scss */
  .paragraph.big-banner.height-500px .title-contnent > h1 {
    font-size: 52px;
  }
}
/* line 119, ../sass/big-banner.scss */
.paragraph.big-banner.height-600px .image-cont {
  max-height: 600px;
}
/* line 121, ../sass/big-banner.scss */
.paragraph.big-banner.height-600px .image-cont img {
  visibility: hidden;
}
/* line 124, ../sass/big-banner.scss */
.paragraph.big-banner.height-600px .title-contnent > h1 {
  font-size: 26px;
}
@media (min-width: 620px) {
  /* line 124, ../sass/big-banner.scss */
  .paragraph.big-banner.height-600px .title-contnent > h1 {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  /* line 124, ../sass/big-banner.scss */
  .paragraph.big-banner.height-600px .title-contnent > h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  /* line 124, ../sass/big-banner.scss */
  .paragraph.big-banner.height-600px .title-contnent > h1 {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  /* line 124, ../sass/big-banner.scss */
  .paragraph.big-banner.height-600px .title-contnent > h1 {
    font-size: 54px;
  }
}
/* line 134, ../sass/big-banner.scss */
.paragraph.big-banner.height-200px .image-cont {
  max-height: 120px;
}
/* line 136, ../sass/big-banner.scss */
.paragraph.big-banner.height-200px .image-cont img {
  visibility: hidden;
}
/* line 138, ../sass/big-banner.scss */
.paragraph.big-banner.height-200px .title-contnent {
  bottom: 0;
  top: 0;
}
/* line 141, ../sass/big-banner.scss */
.paragraph.big-banner.height-200px .title-contnent > h1 {
  display: block;
  font-size: 16px;
  background: none;
  text-align: center;
}
@media (min-width: 620px) {
  /* line 141, ../sass/big-banner.scss */
  .paragraph.big-banner.height-200px .title-contnent > h1 {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  /* line 141, ../sass/big-banner.scss */
  .paragraph.big-banner.height-200px .title-contnent > h1 {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  /* line 141, ../sass/big-banner.scss */
  .paragraph.big-banner.height-200px .title-contnent > h1 {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  /* line 141, ../sass/big-banner.scss */
  .paragraph.big-banner.height-200px .title-contnent > h1 {
    font-size: 32px;
  }
}
