/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/button.scss */
.paragraph.button > .holder > .link-cont {
  text-align: center;
  font-size: 14px;
}
/* line 7, ../sass/button.scss */
.paragraph.button > .holder > .link-cont > a {
  display: inline-block;
  padding: 10px 50px;
  border-radius: 50px;
  border: 2px solid #be1722;
  color: #be1722;
}
/* line 14, ../sass/button.scss */
.paragraph.button > .holder > .link-cont > a:hover {
  background-color: #be1722;
  color: #fff;
}
/* line 18, ../sass/button.scss */
.paragraph.button > .holder > .link-cont > a a.external {
  border: none;
}
/* line 20, ../sass/button.scss */
.paragraph.button > .holder > .link-cont > a a.external:after {
  content: "";
  background: url("../images/up_red.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-lefT: 12px;
}
/* line 28, ../sass/button.scss */
.paragraph.button > .holder > .link-cont > a a.external:hover {
  color: #7d7d7d;
}
/* line 30, ../sass/button.scss */
.paragraph.button > .holder > .link-cont > a a.external:hover:after {
  background: url("../images/up_gray.png");
}
