/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 5, ../sass/client.scss */
.paragraph.client-section > .holder > .title {
  margin: 26px 0 0;
  color: #fff;
}
/* line 8, ../sass/client.scss */
.paragraph.client-section > .holder > .title .title {
  color: #fff;
}
/* line 11, ../sass/client.scss */
.paragraph.client-section .field--name-field-logo {
  padding: 0 20px;
}
/* line 14, ../sass/client.scss */
.paragraph.client-section .field--name-field-logo .owl-item img {
  width: inherit;
}
/* line 19, ../sass/client.scss */
.paragraph.client-section .field--name-field-logo .owl-nav > .owl-prev,
.paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  left: -3px;
  margin: -27px 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  height: 65px;
  width: 41px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -363px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 19, ../sass/client.scss */
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-prev,
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -363px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 29, ../sass/client.scss */
.paragraph.client-section .field--name-field-logo .owl-nav > .owl-prev.disabled,
.paragraph.client-section .field--name-field-logo .owl-nav > .owl-next.disabled {
  display: none !important;
}
@media (min-width: 769px) {
  /* line 19, ../sass/client.scss */
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-prev,
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
    left: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media (min-width: 1201px) {
  /* line 19, ../sass/client.scss */
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-prev,
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
/* line 41, ../sass/client.scss */
.paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
  left: auto;
  right: -3px;
  -webkit-transform: scale(0.5) rotate(180deg);
  transform: scale(0.5) rotate(180deg);
}
@media (min-width: 769px) {
  /* line 41, ../sass/client.scss */
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
    right: 0;
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.7) rotate(180deg);
  }
}
@media (min-width: 1201px) {
  /* line 41, ../sass/client.scss */
  .paragraph.client-section .field--name-field-logo .owl-nav > .owl-next {
    -webkit-transform: rotate(180deg) scale(0.7);
    transform: rotate(180deg) scale(0.7);
  }
}

/* line 60, ../sass/client.scss */
article.bg-violet .paragraph.client-section {
  background-color: #413082;
}
/* line 61, ../sass/client.scss */
article.bg-red .paragraph.client-section {
  background-color: #be1722;
}
/* line 62, ../sass/client.scss */
article.bg-yellow .paragraph.client-section {
  background-color: #8c8600;
}
/* line 63, ../sass/client.scss */
article.bg-blue .paragraph.client-section {
  background-color: #00788c;
}
/* line 64, ../sass/client.scss */
article.bg-none .paragraph.client-section {
  background-color: #be1722;
}
