/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/columns.scss */
.paragraph.columns {
  float: none;
  padding-top: 25px;
}
/* line 9, ../sass/columns.scss */
.paragraph.columns.fill-color .content > .field--name-field-columns {
  max-width: 1044px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}
/* line 14, ../sass/columns.scss */
.paragraph.columns.fill-color .content > .field--name-field-columns .paragraph,
.paragraph.columns.fill-color .content > .field--name-field-columns .text,
.paragraph.columns.fill-color .content > .field--name-field-columns .title,
.paragraph.columns.fill-color .content > .field--name-field-columns p {
  color: #fff;
}
/* line 21, ../sass/columns.scss */
.paragraph.columns.fill-color.color-dark-green > .holder > .content {
  background-color: #049584;
}
/* line 22, ../sass/columns.scss */
.paragraph.columns.fill-color.color-light-green > .holder > .content {
  background-color: #84BE41;
}
/* line 23, ../sass/columns.scss */
.paragraph.columns.fill-color.color-red > .holder > .content {
  background-color: #C52253;
}
/* line 24, ../sass/columns.scss */
.paragraph.columns.fill-color.color-violet > .holder > .content {
  background-color: #613982;
}
/* line 25, ../sass/columns.scss */
.paragraph.columns.fill-color.color-blue > .holder > .content {
  background-color: #0297C9;
}
/* line 26, ../sass/columns.scss */
.paragraph.columns.fill-color.color-orange > .holder > .content {
  background-color: #EB8C2D;
}
/* line 31, ../sass/columns.scss */
.paragraph.columns > .holder > .title {
  margin: 0 auto 20px;
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 31, ../sass/columns.scss */
  .paragraph.columns > .holder > .title {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 31, ../sass/columns.scss */
  .paragraph.columns > .holder > .title {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 31, ../sass/columns.scss */
  .paragraph.columns > .holder > .title {
    font-size: 35px;
    padding: 0 50px;
  }
}
/* line 41, ../sass/columns.scss */
.paragraph.columns > .holder > .content > .field--name-field-columns {
  overflow: hidden;
}
/* line 48, ../sass/columns.scss */
.paragraph.columns .paragraph {
  padding: 0;
}
/* line 50, ../sass/columns.scss */
.paragraph.columns .paragraph.paragraph--type--column {
  overflow: inherit;
}
@media (max-width: 768px) {
  /* line 50, ../sass/columns.scss */
  .paragraph.columns .paragraph.paragraph--type--column {
    padding: 0;
  }
}
/* line 54, ../sass/columns.scss */
.paragraph.columns .paragraph.text {
  padding: 0 0 5px;
}
/* line 58, ../sass/columns.scss */
.paragraph.columns .paragraph.text.bg-none {
  color: #646161;
}
/* line 59, ../sass/columns.scss */
.paragraph.columns .paragraph.text > .holder {
  padding: 0 10px;
}
/* line 63, ../sass/columns.scss */
.paragraph.columns .paragraph .title {
  text-align: left;
}
/* line 65, ../sass/columns.scss */
.paragraph.columns .paragraph .title > .title {
  border: none;
  color: #646161;
  text-align: left;
  font-size: 24px;
  padding: 0 15px;
  margin: 0;
  font: 20x/normal "TitilliumMaps26L-500wt";
}
@media (min-width: 768px) {
  /* line 65, ../sass/columns.scss */
  .paragraph.columns .paragraph .title > .title {
    font-size: 22px;
    padding: 15px;
  }
}
@media (min-width: 992px) {
  /* line 65, ../sass/columns.scss */
  .paragraph.columns .paragraph .title > .title {
    font-size: 28px;
  }
}
@media (min-width: 769px) {
  /* line 83, ../sass/columns.scss */
  .paragraph.columns.columns-3 > .holder > .content > .field--name-field-columns, .paragraph.columns.columns-2 > .holder > .content > .field--name-field-columns {
    text-align: center;
  }
  /* line 86, ../sass/columns.scss */
  .paragraph.columns.columns-3 > .holder > .content > .field--name-field-columns > .field__item, .paragraph.columns.columns-2 > .holder > .content > .field--name-field-columns > .field__item {
    float: left;
    width: 50%;
    text-align: left;
  }
}
@media (min-width: 1201px) {
  /* line 98, ../sass/columns.scss */
  .paragraph.columns.columns-3 > .holder > .content > .field--name-field-columns > .field__item {
    width: 33.333%;
  }
}
