/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/default.scss */
.paragraph {
  padding: 0 0 30px;
  overflow: hidden;
}
@media (min-width: 769px) {
  /* line 3, ../sass/default.scss */
  .paragraph {
    padding: 0 0 35px;
  }
}
@media (min-width: 769px) {
  /* line 7, ../sass/default.scss */
  .paragraph.style-oneliner.grid-1-column.carousel {
    padding: 20px 0 50px;
  }
}
/* line 10, ../sass/default.scss */
.paragraph .title {
  margin: 20px auto 15px;
  color: #be1722;
  font: 20px/normal;
  text-align: center;
}
@media (min-width: 769px) {
  /* line 10, ../sass/default.scss */
  .paragraph .title {
    font-size: 24px;
  }
}
@media (min-width: 993px) {
  /* line 10, ../sass/default.scss */
  .paragraph .title {
    font-size: 32px;
  }
}
/* line 17, ../sass/default.scss */
.paragraph .title h3 {
  line-height: 1;
}
/* line 21, ../sass/default.scss */
.paragraph .under_title {
  margin-bottom: 35px;
  font-size: 16px;
  text-align: center;
  color: #000;
}
/* line 27, ../sass/default.scss */
.paragraph .text,
.paragraph .field--name-body,
.paragraph .field--name-field-text {
  color: #7d7d7d;
}
@media (min-width: 769px) {
  /* line 27, ../sass/default.scss */
  .paragraph .text,
  .paragraph .field--name-body,
  .paragraph .field--name-field-text {
    font-size: 18px;
  }
}
/* line 32, ../sass/default.scss */
.paragraph .text > *:last-child,
.paragraph .field--name-body > *:last-child,
.paragraph .field--name-field-text > *:last-child {
  margin-bottom: 0;
}
/* line 33, ../sass/default.scss */
.paragraph .text p,
.paragraph .field--name-body p,
.paragraph .field--name-field-text p {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0 15px;
}
@media (min-width: 769px) {
  /* line 33, ../sass/default.scss */
  .paragraph .text p,
  .paragraph .field--name-body p,
  .paragraph .field--name-field-text p {
    margin: 0 0 15px;
  }
}
@media (max-width: 480px) {
  /* line 33, ../sass/default.scss */
  .paragraph .text p,
  .paragraph .field--name-body p,
  .paragraph .field--name-field-text p {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  /* line 33, ../sass/default.scss */
  .paragraph .text p,
  .paragraph .field--name-body p,
  .paragraph .field--name-field-text p {
    font-size: 20px;
  }
}
/* line 45, ../sass/default.scss */
.paragraph .text ul,
.paragraph .field--name-body ul,
.paragraph .field--name-field-text ul {
  margin: 0 0 15px 24px;
  padding: 0;
  padding-left: 10px;
}
@media (min-width: 769px) {
  /* line 45, ../sass/default.scss */
  .paragraph .text ul,
  .paragraph .field--name-body ul,
  .paragraph .field--name-field-text ul {
    margin: 0 0 20px 24px;
  }
}
/* line 51, ../sass/default.scss */
.paragraph .text ul > li,
.paragraph .field--name-body ul > li,
.paragraph .field--name-field-text ul > li {
  position: relative;
  margin: 0 0 5px;
}
/* line 55, ../sass/default.scss */
.paragraph .text ul > li:before,
.paragraph .field--name-body ul > li:before,
.paragraph .field--name-field-text ul > li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 10px;
  height: 12px;
}
/* line 66, ../sass/default.scss */
.paragraph .text ol,
.paragraph .field--name-body ol,
.paragraph .field--name-field-text ol {
  margin: 0 0 15px;
}
/* line 68, ../sass/default.scss */
.paragraph .text ol > li,
.paragraph .field--name-body ol > li,
.paragraph .field--name-field-text ol > li {
  margin: 0 0 5px;
}
/* line 70, ../sass/default.scss */
.paragraph .text h1, .paragraph .text h2, .paragraph .text h3, .paragraph .text h4, .paragraph .text h5, .paragraph .text h6,
.paragraph .field--name-body h1,
.paragraph .field--name-body h2,
.paragraph .field--name-body h3,
.paragraph .field--name-body h4,
.paragraph .field--name-body h5,
.paragraph .field--name-body h6,
.paragraph .field--name-field-text h1,
.paragraph .field--name-field-text h2,
.paragraph .field--name-field-text h3,
.paragraph .field--name-field-text h4,
.paragraph .field--name-field-text h5,
.paragraph .field--name-field-text h6 {
  color: #be1722;
}
/* line 71, ../sass/default.scss */
.paragraph .text bold, .paragraph .text strong,
.paragraph .field--name-body bold,
.paragraph .field--name-body strong,
.paragraph .field--name-field-text bold,
.paragraph .field--name-field-text strong {
  font-family: "Proxima Nova Soft", sans-serif;
  color: #646161;
}
/* line 75, ../sass/default.scss */
.paragraph .text table,
.paragraph .field--name-body table,
.paragraph .field--name-field-text table {
  /* Hack for long tables */
  display: inherit;
  overflow-x: auto;
  /* End Of Hack for long tables */
  margin: 0 0 20px;
  border: none;
  text-align: left;
  font: 14px/1.3 "Proxima Nova Soft", sans-serif;
}
/* line 84, ../sass/default.scss */
.paragraph .text table > thead > tr > th,
.paragraph .text table > tbody > tr > th,
.paragraph .text table > tbody > tr > td,
.paragraph .field--name-body table > thead > tr > th,
.paragraph .field--name-body table > tbody > tr > th,
.paragraph .field--name-body table > tbody > tr > td,
.paragraph .field--name-field-text table > thead > tr > th,
.paragraph .field--name-field-text table > tbody > tr > th,
.paragraph .field--name-field-text table > tbody > tr > td {
  padding: 7px 5px;
  border: none;
  color: #be1722;
}
/* line 90, ../sass/default.scss */
.paragraph .text table > thead > tr > th p,
.paragraph .text table > tbody > tr > th p,
.paragraph .text table > tbody > tr > td p,
.paragraph .field--name-body table > thead > tr > th p,
.paragraph .field--name-body table > tbody > tr > th p,
.paragraph .field--name-body table > tbody > tr > td p,
.paragraph .field--name-field-text table > thead > tr > th p,
.paragraph .field--name-field-text table > tbody > tr > th p,
.paragraph .field--name-field-text table > tbody > tr > td p {
  margin: 0;
}
/* line 92, ../sass/default.scss */
.paragraph .text table > thead,
.paragraph .field--name-body table > thead,
.paragraph .field--name-field-text table > thead {
  font-family: "Proxima Nova Soft", sans-serif;
}
/* line 94, ../sass/default.scss */
.paragraph .text table > thead > tr,
.paragraph .field--name-body table > thead > tr,
.paragraph .field--name-field-text table > thead > tr {
  background-color: #be1722;
}
/* line 96, ../sass/default.scss */
.paragraph .text table > thead > tr > th,
.paragraph .field--name-body table > thead > tr > th,
.paragraph .field--name-field-text table > thead > tr > th {
  color: #fff;
}
/* line 100, ../sass/default.scss */
.paragraph .text table > tbody > tr:not(:last-child),
.paragraph .field--name-body table > tbody > tr:not(:last-child),
.paragraph .field--name-field-text table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #be1722;
}
/* line 101, ../sass/default.scss */
.paragraph .text table > tbody > tr > th[scope="row"],
.paragraph .field--name-body table > tbody > tr > th[scope="row"],
.paragraph .field--name-field-text table > tbody > tr > th[scope="row"] {
  font-family: "Proxima Nova Soft", sans-serif;
}
@media (min-width: 769px) {
  /* line 75, ../sass/default.scss */
  .paragraph .text table,
  .paragraph .field--name-body table,
  .paragraph .field--name-field-text table {
    font-size: 18px;
  }
}
/* line 108, ../sass/default.scss */
.paragraph .bg-none {
  color: #7d7d7d;
}
/* line 109, ../sass/default.scss */
.paragraph .bg-gray {
  background-color: #7d7d7d;
  color: #fff;
}
/* line 112, ../sass/default.scss */
.paragraph .bg-gray .title {
  color: #fff !important;
}
/* line 114, ../sass/default.scss */
.paragraph .bg-brown {
  background-color: #956735;
  color: #fff;
}
/* line 117, ../sass/default.scss */
.paragraph .bg-brown .title {
  color: #fff !important;
}
/* line 119, ../sass/default.scss */
.paragraph .bg-orange {
  background-color: #eb681d;
  color: #fff;
}
/* line 122, ../sass/default.scss */
.paragraph .bg-orange .title {
  color: #fff !important;
}
/* line 124, ../sass/default.scss */
.paragraph .bg-wine {
  background-color: #663230;
  color: #fff;
}
/* line 127, ../sass/default.scss */
.paragraph .bg-wine .title {
  color: #fff !important;
}
/* line 129, ../sass/default.scss */
.paragraph .bg-blue {
  background-color: #00788c;
  color: #fff;
}
/* line 132, ../sass/default.scss */
.paragraph .bg-blue .title {
  color: #fff !important;
}
/* line 134, ../sass/default.scss */
.paragraph .bg-sky-blue {
  background-color: #077DC2;
  color: #fff;
}
/* line 137, ../sass/default.scss */
.paragraph .bg-sky-blue .title {
  color: #fff !important;
}
/* line 139, ../sass/default.scss */
.paragraph .bg-green {
  background-color: #28a55d;
  color: #fff;
}
/* line 142, ../sass/default.scss */
.paragraph .bg-green .title {
  color: #fff !important;
}
/* line 144, ../sass/default.scss */
.paragraph .bg-dark-green {
  background-color: #638658;
  color: #fff;
}
/* line 147, ../sass/default.scss */
.paragraph .bg-dark-green .title {
  color: #fff !important;
}
/* line 149, ../sass/default.scss */
.paragraph .bg-dark-yellow {
  background-color: #D2A429;
  color: #fff;
}
/* line 152, ../sass/default.scss */
.paragraph .bg-dark-yellow .title {
  color: #fff !important;
}
/* line 154, ../sass/default.scss */
.paragraph .bg-praemium-gray {
  background-color: #657384;
}
