/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 5, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-slides {
  position: relative;
}
/* line 82, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-stage {
  margin: 0 auto;
}
/* line 84, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-stage > .owl-item {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin: 0 !important;
}
/* line 91, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-stage > .owl-item img {
  width: auto;
}
/* line 93, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-stage > .owl-item img.max-height-250 {
  max-height: 250px;
}
/* line 97, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-dots {
  display: none;
}
/* line 122, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav {
  margin: 0 auto;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 131, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 131, ../sass/_base.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 131, ../sass/_base.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
/* line 147, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 147, ../sass/_base.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 148, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next.disabled {
  display: none;
}
/* line 150, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  -webkit-transform: scale(0.3) rotate(180deg);
  transform: scale(0.3) rotate(180deg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 150, ../sass/_base.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 150, ../sass/_base.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev {
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
  }
}
/* line 160, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 160, ../sass/_base.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 161, ../sass/_base.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev.disabled {
  display: none;
}
/* line 7, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-slides .paragraph > .holder,
.paragraph.events > .holder .field--name-field-slides .paragraph {
  padding: 0;
}
/* line 11, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev,
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  left: -3px;
  margin: -27px 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  height: 54px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: -30px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 11, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev,
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: -30px 0;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 20, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev:hover,
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next:hover {
  height: 54px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 20, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev:hover,
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 0;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 21, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev.disabled,
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next.disabled {
  display: none !important;
}
@media (min-width: 769px) {
  /* line 11, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev,
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    left: -10px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media (min-width: 1201px) {
  /* line 11, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-prev,
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
/* line 33, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
  left: auto;
  right: -3px;
  -webkit-transform: scale(0.5) rotate(180deg);
  transform: scale(0.5) rotate(180deg);
}
@media (min-width: 769px) {
  /* line 33, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    right: -10px;
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.7) rotate(180deg);
  }
}
@media (min-width: 1201px) {
  /* line 33, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-slides .owl-nav > .owl-next {
    -webkit-transform: rotate(180deg) scale(0.7);
    transform: rotate(180deg) scale(0.7);
  }
}
/* line 50, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-title {
  font-family: "TitilliumMaps26L-999wt";
  line-height: 1;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  /* line 50, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-title {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  /* line 50, ../sass/events.scss */
  .paragraph.events > .holder .field--name-field-title {
    font-size: 26px;
  }
}
/* line 57, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-date-text {
  margin-bottom: 20px;
}
/* line 58, ../sass/events.scss */
.paragraph.events > .holder .field--name-field-text {
  margin-bottom: 20px;
}
