/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/files.scss */
.paragraph.files > .holder {
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 4, ../sass/files.scss */
  .paragraph.files > .holder {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 4, ../sass/files.scss */
  .paragraph.files > .holder {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 4, ../sass/files.scss */
  .paragraph.files > .holder {
    padding: 0 50px;
  }
}
/* line 11, ../sass/files.scss */
.paragraph.files > .holder > .field--name-field-files .file.file--application-pdf {
  margin: 0 0 5px;
  padding: 0;
  background: none;
}
/* line 15, ../sass/files.scss */
.paragraph.files > .holder > .field--name-field-files .file.file--application-pdf:before {
  content: '';
  display: inline-block;
  margin: 0 4px 0 0;
  height: 45px;
  width: 38px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -99px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 15, ../sass/files.scss */
  .paragraph.files > .holder > .field--name-field-files .file.file--application-pdf:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -99px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 21, ../sass/files.scss */
.paragraph.files > .holder > .field--name-field-files .file.file--application-pdf > a {
  display: inline-block;
  vertical-align: 16px;
}
/* line 25, ../sass/files.scss */
.paragraph.files > .holder > .field--name-field-files .file.file--application-pdf:hover:before {
  height: 45px;
  width: 38px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -54px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 25, ../sass/files.scss */
  .paragraph.files > .holder > .field--name-field-files .file.file--application-pdf:hover:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -54px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
