/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 5, ../sass/forms.scss */
.paragraph.forms > .holder > .columns {
  display: inline-block;
  width: 49.7%;
  vertical-align: top;
  padding: 0;
}
/* line 10, ../sass/forms.scss */
.paragraph.forms > .holder > .columns > .holder {
  padding: 0 30px;
}
@media (min-width: 769px) {
  /* line 10, ../sass/forms.scss */
  .paragraph.forms > .holder > .columns > .holder {
    padding: 0 50px;
  }
}
@media (min-width: 621px) {
  /* line 16, ../sass/forms.scss */
  .paragraph.forms > .holder form > .holder.form-wrapper {
    width: 100%;
  }
}
@media (min-width: 621px) and (min-width: 769px) {
  /* line 20, ../sass/forms.scss */
  .paragraph.forms > .holder form > .holder.form-wrapper textarea,
  .paragraph.forms > .holder form > .holder.form-wrapper input {
    padding: .2rem;
  }
}

/* line 26, ../sass/forms.scss */
.paragraph.forms > .holder form > .hexagon {
  width: 150px;
  height: 69.98px;
  margin: 31.49px 0 0;
  padding: 10px 50px;
  font-size: 12px;
}
/* line 32, ../sass/forms.scss */
.paragraph.forms > .holder form > .hexagon:before, .paragraph.forms > .holder form > .hexagon:after {
  display: none;
}
