/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/image.scss */
.paragraph.image > .holder {
  text-align: center;
}
/* line 6, ../sass/image.scss */
.paragraph.image > .holder > .img-cont-link,
.paragraph.image > .holder > .img-cont {
  display: inline-block;
  position: relative;
}
/* line 10, ../sass/image.scss */
.paragraph.image > .holder > .img-cont-link > .holder,
.paragraph.image > .holder > .img-cont > .holder {
  position: relative;
}
/* line 11, ../sass/image.scss */
.paragraph.image > .holder > .img-cont-link .text,
.paragraph.image > .holder > .img-cont .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  color: #fff;
  font: 16px/1.1 "SegoeUI-Bold", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  height: 50px;
}
@media (min-width: 769px) {
  /* line 11, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont-link .text,
  .paragraph.image > .holder > .img-cont .text {
    font-size: 22px;
    height: 50px;
    overflow: hidden;
  }
}
/* line 28, ../sass/image.scss */
.paragraph.image > .holder > .img-cont-link .text > p,
.paragraph.image > .holder > .img-cont .text > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}
@media (min-width: 769px) {
  /* line 28, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont-link .text > p,
  .paragraph.image > .holder > .img-cont .text > p {
    font-size: 18px;
  }
}
/* line 36, ../sass/image.scss */
.paragraph.image > .holder > .img-cont-link .description,
.paragraph.image > .holder > .img-cont .description {
  font-size: 18px;
}
@media (min-width: 993px) {
  /* line 36, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont-link .description,
  .paragraph.image > .holder > .img-cont .description {
    font-size: 22px;
  }
}
/* line 39, ../sass/image.scss */
.paragraph.image > .holder > .img-cont-link .description > p,
.paragraph.image > .holder > .img-cont .description > p {
  padding: 10px 30px;
}
@media (min-width: 769px) {
  /* line 39, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont-link .description > p,
  .paragraph.image > .holder > .img-cont .description > p {
    padding: 20px 50px;
  }
}
/* line 45, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  padding: 0 30px;
  text-align: center;
}
@media (min-width: 769px) {
  /* line 45, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont > .link-cont {
    bottom: 30px;
    padding: 0 50px;
  }
}
@media (min-width: 993px) {
  /* line 45, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont > .link-cont {
    font-size: 20px;
  }
}
/* line 57, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont > a {
  display: inline-block;
  padding: .2em 1em;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
/* line 63, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont > a:hover {
  background-color: rgba(208, 17, 43, 0.9);
}
/* line 69, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont.link a.external {
  border: none;
  background: none;
  color: #7d7d7d;
}
/* line 73, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont.link a.external:after {
  content: "";
  background: url("../images/up_gray.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-lefT: 12px;
}
/* line 81, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont.link a.external:hover {
  color: #be1722;
}
/* line 83, ../sass/image.scss */
.paragraph.image > .holder > .img-cont > .link-cont.link a.external:hover:after {
  background: url("../images/up_red.png");
}
@media (max-width: 768px) {
  /* line 88, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont.link {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* line 91, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont.normal {
    padding-bottom: 60px;
  }
  /* line 94, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont.normal > .link-cont {
    padding: 0;
    bottom: 0;
  }
  /* line 97, ../sass/image.scss */
  .paragraph.image > .holder > .img-cont.normal > .link-cont a {
    padding: 0 10px;
    font-size: 14px;
  }
}
/* line 108, ../sass/image.scss */
.paragraph.image.caption-overlay-bottom .description, .paragraph.image.caption-overlay-top .description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(7, 125, 194, 0.7);
  text-align: left;
  color: #fff;
}
@media (min-width: 481px) {
  /* line 108, ../sass/image.scss */
  .paragraph.image.caption-overlay-bottom .description, .paragraph.image.caption-overlay-top .description {
    display: block;
  }
}
/* line 120, ../sass/image.scss */
.paragraph.image.caption-overlay-bottom .description {
  top: auto;
  bottom: 0;
}

/* line 126, ../sass/image.scss */
.paragraph.grid-images .paragraph.image {
  padding: 0;
}
/* line 127, ../sass/image.scss */
.paragraph.grid-images .field--name-field-images {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
}
/* line 135, ../sass/image.scss */
.paragraph.grid-images .field--name-field-images > .field__item {
  float: left;
  width: 50%;
  position: relative;
  overflow: hidden;
  border: solid 3px #fff;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  padding: 10px;
}
/* line 146, ../sass/image.scss */
.paragraph.grid-images .field--name-field-images > .field__item img {
  display: inline-block;
}
@media (min-width: 621px) {
  /* line 151, ../sass/image.scss */
  .paragraph.grid-images.grid-3 .field--name-field-images > .field__item {
    width: 33.33333%;
    padding: 20px;
  }
}
@media (min-width: 621px) {
  /* line 163, ../sass/image.scss */
  .paragraph.grid-images.grid-4 .field--name-field-images > .field__item {
    width: 25%;
    padding: 20px;
  }
}
@media (min-width: 621px) {
  /* line 175, ../sass/image.scss */
  .paragraph.grid-images.grid-5 .field--name-field-images > .field__item {
    width: 20%;
    padding: 20px;
  }
}
/* line 185, ../sass/image.scss */
.paragraph.grid-images.wide {
  max-width: 1000px;
  margin: 20px auto;
}
