/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
@media (max-width: 768px) {
  /* line 3, ../sass/infographics.scss */
  .paragraph.infographics {
    padding: 30px 0;
  }
}
/* line 7, ../sass/infographics.scss */
.paragraph.infographics > .holder > .text-cont {
  padding: 0 10px;
}
/* line 9, ../sass/infographics.scss */
.paragraph.infographics > .holder > .text-cont > .field--name-field-text {
  margin: 0 0 20px;
  text-align: center;
  color: #7d7d7d;
  font-size: 14px;
}
@media (min-width: 481px) {
  /* line 7, ../sass/infographics.scss */
  .paragraph.infographics > .holder > .text-cont {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 7, ../sass/infographics.scss */
  .paragraph.infographics > .holder > .text-cont {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 7, ../sass/infographics.scss */
  .paragraph.infographics > .holder > .text-cont {
    padding: 0 50px;
  }
}
/* line 19, ../sass/infographics.scss */
.paragraph.infographics > .holder > .field--name-field-infographic {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-flow: row wrap;
  /* Safari 6.1+ */
  flex-flow: row wrap;
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}
/* line 82, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-stage {
  margin: 0 auto;
}
/* line 84, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-stage > .owl-item {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin: 0 !important;
}
/* line 91, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-stage > .owl-item img {
  width: auto;
}
/* line 93, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-stage > .owl-item img.max-height-250 {
  max-height: 250px;
}
/* line 97, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-dots {
  display: none;
}
/* line 122, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav {
  margin: 0 auto;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 131, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-next {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 131, ../sass/_base.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 131, ../sass/_base.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-next {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
/* line 147, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-next:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 147, ../sass/_base.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 148, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-next.disabled {
  display: none;
}
/* line 150, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  -webkit-transform: scale(0.3) rotate(180deg);
  transform: scale(0.3) rotate(180deg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 150, ../sass/_base.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 150, ../sass/_base.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-prev {
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
  }
}
/* line 160, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 160, ../sass/_base.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 161, ../sass/_base.scss */
.paragraph.infographics > .holder > .field--name-field-infographic .owl-nav > .owl-prev.disabled {
  display: none;
}
/* line 31, ../sass/infographics.scss */
.paragraph.infographics > .holder > .field--name-field-infographic > .field__item {
  width: 100%;
  /* For old syntax, otherwise collapses. */
}
@media (min-width: 621px) {
  /* line 31, ../sass/infographics.scss */
  .paragraph.infographics > .holder > .field--name-field-infographic > .field__item {
    width: 20%;
  }
}
@media (max-width: 620px) {
  /* line 39, ../sass/infographics.scss */
  .paragraph.infographics .owl-nav > .owl-prev,
  .paragraph.infographics .owl-nav > .owl-next {
    top: 115% !important;
  }
}
@media (min-width: 620px) {
  /* line 44, ../sass/infographics.scss */
  .paragraph.infographics.items-2 .field--name-field-infographic > .field__item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 54, ../sass/infographics.scss */
  .paragraph.infographics.items-3 .field--name-field-infographic > .field__item {
    width: 33.3333%;
  }
}
@media (min-width: 620px) {
  /* line 64, ../sass/infographics.scss */
  .paragraph.infographics.items-4 .field--name-field-infographic > .field__item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 64, ../sass/infographics.scss */
  .paragraph.infographics.items-4 .field--name-field-infographic > .field__item {
    width: 25%;
  }
}
@media (min-width: 992px) {
  /* line 77, ../sass/infographics.scss */
  .paragraph.infographics.items-5 .field--name-field-infographic > .field__item {
    width: 20%;
  }
}
/* line 88, ../sass/infographics.scss */
.paragraph.infographics.square > .holder > .field--name-field-infographic > .field__item {
  border: solid 2px #be1722;
}
@media (min-width: 621px) {
  /* line 90, ../sass/infographics.scss */
  .paragraph.infographics.square > .holder > .field--name-field-infographic > .field__item:hover {
    transform: scaleY(1.1);
  }
}

/* line 101, ../sass/infographics.scss */
.paragraph.infographics-item {
  padding: 0;
}
@media (min-width: 621px) {
  /* line 101, ../sass/infographics.scss */
  .paragraph.infographics-item {
    padding: 20px 0;
  }
}
@media (min-width: 769px) {
  /* line 101, ../sass/infographics.scss */
  .paragraph.infographics-item {
    padding: 35px 0;
  }
}
/* line 105, ../sass/infographics.scss */
.paragraph.infographics-item > .holder {
  position: relative;
}
/* line 108, ../sass/infographics.scss */
.paragraph.infographics-item > .holder > .field--name-field-image > img {
  width: auto;
}
@media (max-width: 620px) {
  /* line 107, ../sass/infographics.scss */
  .paragraph.infographics-item > .holder > .field--name-field-image {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
}
/* line 126, ../sass/infographics.scss */
.paragraph.infographics-item > .holder > .field--name-field-text-line {
  padding: 10px 0;
}
/* line 128, ../sass/infographics.scss */
.paragraph.infographics-item > .holder > .field--name-field-text-line > .field__item {
  display: block;
  font-size: 12px;
  color: #7d7d7d;
  text-align: center;
}
/* line 133, ../sass/infographics.scss */
.paragraph.infographics-item > .holder > .field--name-field-text-line > .field__item:first-child {
  color: #be1722;
  line-height: 1;
  font-size: 16px;
  padding: 20px 0 10px;
}
@media (max-width: 620px) {
  /* line 126, ../sass/infographics.scss */
  .paragraph.infographics-item > .holder > .field--name-field-text-line {
    display: inline-block;
    width: 65%;
    vertical-align: middle;
    text-align: left;
    line-height: 1.2;
  }
}
/* line 149, ../sass/infographics.scss */
.paragraph.infographics-item > .holder > .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 160, ../sass/infographics.scss */
.device-mobile.device-phone .paragraph.infographics > .holder .paragraph.infographics-item {
  padding: 0 0 8px;
}
@media (min-width: 481px) {
  /* line 160, ../sass/infographics.scss */
  .device-mobile.device-phone .paragraph.infographics > .holder .paragraph.infographics-item {
    padding: 0 0 12px;
  }
}
