/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/logo.scss */
article[data-history-node-id="70"] .paragraph.logo {
  padding: 0 0 30px;
}

/* line 7, ../sass/logo.scss */
.paragraph.logo {
  padding: 30px 0;
}
@media (min-width: 768px) {
  /* line 7, ../sass/logo.scss */
  .paragraph.logo {
    padding: 40px 0;
  }
}
@media (min-width: 1200px) {
  /* line 7, ../sass/logo.scss */
  .paragraph.logo {
    padding: 60px 0;
  }
}
/* line 11, ../sass/logo.scss */
.paragraph.logo .field--name-field-slogan {
  font-family: "TitilliumMaps26L-1wt";
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  /* line 11, ../sass/logo.scss */
  .paragraph.logo .field--name-field-slogan {
    font-size: 36px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  /* line 11, ../sass/logo.scss */
  .paragraph.logo .field--name-field-slogan {
    font-size: 59px;
    margin-bottom: 40px;
  }
}
/* line 25, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic {
  padding: 0 20px;
}
/* line 27, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .paragraph.infographics-item {
  font-size: 18px;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 27, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .paragraph.infographics-item {
    font-size: 22px;
    text-align: center;
  }
}
/* line 34, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .paragraph.infographics-item .field--name-field-text-line {
  margin: 20px 0 0;
  text-align: center;
}
/* line 40, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .owl-item img {
  width: inherit;
}
/* line 45, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev,
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  left: -1px;
  margin: -27px 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  height: 54px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: -30px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 45, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev,
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: -30px 0;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 54, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev:hover,
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-next:hover {
  height: 54px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 54, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev:hover,
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 0;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 55, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev.disabled,
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-next.disabled {
  display: none !important;
}
@media (min-width: 769px) {
  /* line 45, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev,
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
    left: 0;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media (min-width: 1201px) {
  /* line 45, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-prev,
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
/* line 67, ../sass/logo.scss */
.paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
  left: auto;
  right: -1px;
  -webkit-transform: scale(0.5) rotate(180deg);
  transform: scale(0.5) rotate(180deg);
}
@media (min-width: 769px) {
  /* line 67, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
    right: 0;
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.7) rotate(180deg);
  }
}
@media (min-width: 1201px) {
  /* line 67, ../sass/logo.scss */
  .paragraph.logo .field--name-field-infographic .owl-nav > .owl-next {
    -webkit-transform: rotate(180deg) scale(0.7);
    transform: rotate(180deg) scale(0.7);
  }
}

/* line 86, ../sass/logo.scss */
article.bg-violet .paragraph.logo .field--name-field-text-line {
  color: #413082;
}
/* line 87, ../sass/logo.scss */
article.bg-red .paragraph.logo .field--name-field-text-line {
  color: #be1722;
}
/* line 88, ../sass/logo.scss */
article.bg-yellow .paragraph.logo .field--name-field-text-line {
  color: #8c8600;
}
/* line 89, ../sass/logo.scss */
article.bg-blue .paragraph.logo .field--name-field-text-line {
  color: #00788c;
}
