/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/media.scss */
#video-block {
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  margin-bottom: 35px;
  /*&:before {
  	content: "";
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background: rgba(0,0,0, .6);
  }*/
}
/* line 8, ../sass/media.scss */
#video-block > .down-arrow {
  position: absolute;
  bottom: 35px !important;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}
/* line 16, ../sass/media.scss */
#video-block > .down-arrow > span {
  display: inline-block;
  height: 18px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -345px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 16, ../sass/media.scss */
  #video-block > .down-arrow > span {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -345px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 22, ../sass/media.scss */
#video-block .holder > .button {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 28, ../sass/media.scss */
#video-block .holder > .button > .link-cont {
  text-align: center;
  font-size: 20px;
}
/* line 31, ../sass/media.scss */
#video-block .holder > .button > .link-cont > a {
  display: inline-block;
  padding: .4em 2em;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
/* line 37, ../sass/media.scss */
#video-block .holder > .button > .link-cont > a:hover {
  background-color: rgba(208, 17, 43, 0.9);
}
/* line 40, ../sass/media.scss */
#video-block .holder > .button > .link-cont > a a.external {
  border: none;
  background: none;
  color: #7d7d7d;
}
/* line 44, ../sass/media.scss */
#video-block .holder > .button > .link-cont > a a.external:after {
  content: "";
  background: url("../images/up_gray.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-lefT: 12px;
}
/* line 52, ../sass/media.scss */
#video-block .holder > .button > .link-cont > a a.external:hover {
  color: #be1722;
}
/* line 54, ../sass/media.scss */
#video-block .holder > .button > .link-cont > a a.external:hover:after {
  background: url("../images/up_red.png");
}
/* line 60, ../sass/media.scss */
#video-block .holder > .video-cont {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}
/* line 74, ../sass/media.scss */
#video-block .holder > .video-cont video {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
@media (min-aspect-ratio: 16 / 9) {
  /* line 74, ../sass/media.scss */
  #video-block .holder > .video-cont video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 74, ../sass/media.scss */
  #video-block .holder > .video-cont video {
    width: 300%;
    left: -100%;
  }
}
/* line 101, ../sass/media.scss */
#video-block .holder > .video-cont > .message {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
  text-transform: uppercase;
}
@media (min-width: 620px) {
  /* line 101, ../sass/media.scss */
  #video-block .holder > .video-cont > .message {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  /* line 101, ../sass/media.scss */
  #video-block .holder > .video-cont > .message {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  /* line 101, ../sass/media.scss */
  #video-block .holder > .video-cont > .message {
    font-size: 56px;
  }
}
@media (min-width: 1200px) {
  /* line 101, ../sass/media.scss */
  #video-block .holder > .video-cont > .message {
    font-size: 74px;
  }
}
/* line 117, ../sass/media.scss */
#video-block .holder > .video-cont > .message > span {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
/* line 124, ../sass/media.scss */
#video-block .holder > .video-cont > .message.start > span {
  animation: type 4s steps(50, end);
}
/* line 125, ../sass/media.scss */
#video-block .holder > .video-cont > .message.end > span {
  width: 0;
}
/* line 127, ../sass/media.scss */
#video-block .holder > .video-cont > h2.message {
  color: #be1722;
  padding: 0 20px;
}
/* line 130, ../sass/media.scss */
#video-block .holder > .video-cont > h2.message span {
  white-space: initial;
}
/* line 134, ../sass/media.scss */
#video-block .holder > .video-cont:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3) !important;
}
/* line 145, ../sass/media.scss */
#video-block .holder > .video-cont.img-cont:before {
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 769px) {
  /* line 160, ../sass/media.scss */
  #video-block.visible .holder > .video-cont video {
    display: block;
  }
}
/* line 162, ../sass/media.scss */
#video-block.visible .holder > .video-cont {
  background: none !important;
}
@media (min-width: 769px) {
  /* line 163, ../sass/media.scss */
  #video-block.visible .holder > .video-cont .image-for-mobile {
    display: none;
  }
}
/* line 166, ../sass/media.scss */
#video-block.button-shining-button .button a {
  color: #fff;
  background-color: #be1722 !important;
  -webkit-animation: shine 2.5s infinite forwards;
  animation: shine 2.5s infinite forwards;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background-position: -2500px 0;
  background-repeat: no-repeat;
  border-radius: .16em;
  box-shadow: 0 4px 0 0 rgba(28, 34, 38, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
/* line 182, ../sass/media.scss */
#video-block.button-red-button a {
  color: #fff;
  background-color: #be1722 !important;
  border: 1px solid #be1722;
}
/* line 186, ../sass/media.scss */
#video-block.button-red-button a:hover {
  border: 1px solid #be1722 !important;
  color: #be1722 !important;
  background-color: #fff !important;
}

@keyframes type {
  from {
    width: 0;
  }
}
@-webkit-keyframes type {
  from {
    width: 0;
  }
}
/* line 202, ../sass/media.scss */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

/* line 212, ../sass/media.scss */
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 221, ../sass/media.scss */
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 228, ../sass/media.scss */
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@-webkit-keyframes shine {
  20% {
    background-position: 0 0;
  }
  100% {
    background-position: 2500px 0;
  }
}
@keyframes shine {
  20% {
    background-position: 0 0;
  }
  100% {
    background-position: 2500px 0;
  }
}
