/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/menu.scss */
.paragraph.menu > .holder {
  padding: 0 10px;
  text-align: center;
}
/* line 8, ../sass/menu.scss */
.paragraph.menu > .holder > .field--name-field-menu-items > .field__item {
  margin: 0 0 5px;
  font: 18px/1.5 "SegoeUI-Semibold", sans-serif;
}
/* line 11, ../sass/menu.scss */
.paragraph.menu > .holder > .field--name-field-menu-items > .field__item a {
  padding: 0 20px;
}
/* line 13, ../sass/menu.scss */
.paragraph.menu > .holder > .field--name-field-menu-items > .field__item a:hover {
  color: #eb681d;
}
@media (min-width: 481px) {
  /* line 8, ../sass/menu.scss */
  .paragraph.menu > .holder > .field--name-field-menu-items > .field__item {
    display: inline-block;
    position: relative;
    font-size: 22px;
  }
  /* line 19, ../sass/menu.scss */
  .paragraph.menu > .holder > .field--name-field-menu-items > .field__item:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    bottom: -3px;
    right: -3px;
    width: 2px;
    background-color: #077DC2;
  }
}
@media (min-width: 481px) {
  /* line 4, ../sass/menu.scss */
  .paragraph.menu > .holder {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 4, ../sass/menu.scss */
  .paragraph.menu > .holder {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 4, ../sass/menu.scss */
  .paragraph.menu > .holder {
    padding: 0 50px;
  }
}
/* line 35, ../sass/menu.scss */
.paragraph.menu .paragraph.menu-item {
  padding: 0;
}
