/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/mobile-table-fix.scss */
.paragraph .text,
.paragraph .field--name-body,
.paragraph .field--name-field-text {
  position: relative;
}
/* line 8, ../sass/mobile-table-fix.scss */
.paragraph .text table,
.paragraph .field--name-body table,
.paragraph .field--name-field-text table {
  /* This hack is required for the below hack to work properly, but it was defined in default.scss file, so here we commented it out */
  /* Hack for long tables */
  /* End Of Hack for long tables */
  /* Hack for small sizes to fix the first column in table (this hack uses the upper "Hack for long tables") */
  /* Hack works with the help of Javascript, which adds "fixed-first-column" class to tables */
  /* End Of Hack for small sizes to fix the first column in table */
}
@media (max-width: 768px) {
  /* line 18, ../sass/mobile-table-fix.scss */
  .paragraph .text table.fixed-first-column,
  .paragraph .field--name-body table.fixed-first-column,
  .paragraph .field--name-field-text table.fixed-first-column {
    padding: 0 0 0 140px;
  }
  /* line 20, ../sass/mobile-table-fix.scss */
  .paragraph .text table.fixed-first-column th:first-child,
  .paragraph .text table.fixed-first-column td:first-child,
  .paragraph .field--name-body table.fixed-first-column th:first-child,
  .paragraph .field--name-body table.fixed-first-column td:first-child,
  .paragraph .field--name-field-text table.fixed-first-column th:first-child,
  .paragraph .field--name-field-text table.fixed-first-column td:first-child {
    position: absolute;
    top: auto;
    left: 0;
    width: 140px;
    height: 33px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #fff;
    border: solid #00788c;
    border-width: 0 1px 1px 0;
  }
  /* line 34, ../sass/mobile-table-fix.scss */
  .paragraph .text table.fixed-first-column > tbody > tr:last-child th:first-child,
  .paragraph .text table.fixed-first-column > tbody > tr:last-child td:first-child,
  .paragraph .field--name-body table.fixed-first-column > tbody > tr:last-child th:first-child,
  .paragraph .field--name-body table.fixed-first-column > tbody > tr:last-child td:first-child,
  .paragraph .field--name-field-text table.fixed-first-column > tbody > tr:last-child th:first-child,
  .paragraph .field--name-field-text table.fixed-first-column > tbody > tr:last-child td:first-child {
    border-bottom-width: 0;
  }
  /* line 37, ../sass/mobile-table-fix.scss */
  .paragraph .text table.fixed-first-column > thead > tr > th:first-child,
  .paragraph .field--name-body table.fixed-first-column > thead > tr > th:first-child,
  .paragraph .field--name-field-text table.fixed-first-column > thead > tr > th:first-child {
    background-color: #00788c;
    border-right-color: #A0A0A0;
  }
  /* line 41, ../sass/mobile-table-fix.scss */
  .paragraph .text table.fixed-first-column > thead > tr > th,
  .paragraph .text table.fixed-first-column > tbody > tr > th,
  .paragraph .text table.fixed-first-column > tbody > tr > td,
  .paragraph .field--name-body table.fixed-first-column > thead > tr > th,
  .paragraph .field--name-body table.fixed-first-column > tbody > tr > th,
  .paragraph .field--name-body table.fixed-first-column > tbody > tr > td,
  .paragraph .field--name-field-text table.fixed-first-column > thead > tr > th,
  .paragraph .field--name-field-text table.fixed-first-column > tbody > tr > th,
  .paragraph .field--name-field-text table.fixed-first-column > tbody > tr > td {
    white-space: nowrap;
  }
}
