/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 5, ../sass/slideshow.scss */
.paragraph.slideshow > .holder > .title {
  margin: 0 auto 20px;
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 5, ../sass/slideshow.scss */
  .paragraph.slideshow > .holder > .title {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 5, ../sass/slideshow.scss */
  .paragraph.slideshow > .holder > .title {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 5, ../sass/slideshow.scss */
  .paragraph.slideshow > .holder > .title {
    padding: 0 50px;
  }
}
@media (min-width: 993px) {
  /* line 5, ../sass/slideshow.scss */
  .paragraph.slideshow > .holder > .title {
    margin-bottom: 30px;
  }
}
/* line 13, ../sass/slideshow.scss */
.paragraph.slideshow > .holder > .field--name-field-slides {
  position: relative;
}
/* line 82, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-stage {
  margin: 0 auto;
}
/* line 84, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-stage > .owl-item {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin: 0 !important;
}
/* line 91, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-stage > .owl-item img {
  width: auto;
}
/* line 93, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-stage > .owl-item img.max-height-250 {
  max-height: 250px;
}
/* line 97, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-dots {
  display: none;
}
/* line 122, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav {
  margin: 0 auto;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 131, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-next {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 131, ../sass/_base.scss */
  .paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 131, ../sass/_base.scss */
  .paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-next {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
/* line 147, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-next:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 147, ../sass/_base.scss */
  .paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 148, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-next.disabled {
  display: none;
}
/* line 150, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  -webkit-transform: scale(0.3) rotate(180deg);
  transform: scale(0.3) rotate(180deg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 150, ../sass/_base.scss */
  .paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 150, ../sass/_base.scss */
  .paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-prev {
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
  }
}
/* line 160, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 160, ../sass/_base.scss */
  .paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 161, ../sass/_base.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .owl-nav > .owl-prev.disabled {
  display: none;
}
/* line 15, ../sass/slideshow.scss */
.paragraph.slideshow > .holder > .field--name-field-slides .paragraph > .holder,
.paragraph.slideshow > .holder > .field--name-field-slides .paragraph {
  padding: 0;
}
/* line 20, ../sass/slideshow.scss */
.paragraph.slideshow.wide {
  max-width: 2700px;
  margin: 0 auto;
}
/* line 23, ../sass/slideshow.scss */
.paragraph.slideshow.wide > .holder > .field--name-field-slides .paragraph.text > .holder {
  max-width: inherit;
}
/* line 25, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background {
  overflow: visible;
  max-width: 330px;
  background: url("../images/smartphone.png") center no-repeat;
  height: 650px;
  margin-bottom: 35px;
}
/* line 31, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background .img-cont {
  padding: 76px 0;
}
/* line 33, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background .img-cont img {
  height: 496px;
  width: 280px !important;
  border-radius: 2px;
}
/* line 39, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background > .holder {
  max-width: 280px;
  margin: 0 auto;
}
/* line 43, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav {
  max-width: 800px;
}
/* line 45, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-next,
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -428px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 45, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-next,
  .paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -428px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 49, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-next:hover,
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 49, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-next:hover,
  .paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 51, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
  left: -50px !important;
}
@media (min-width: 768px) {
  /* line 51, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
    left: -125px !important;
  }
}
/* line 55, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-next {
  right: -50px !important;
}
@media (min-width: 768px) {
  /* line 55, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-mobile-background > .holder > .field--name-field-slides .owl-nav .owl-next {
    right: -125px !important;
  }
}
/* line 64, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background {
  overflow: visible;
  max-width: 742px;
  margin-bottom: 35px;
  padding: 0 35px;
}
@media (min-width: 992px) {
  /* line 64, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-desktop-background {
    padding: 0;
    background: url("../images/desctop.png") center no-repeat;
    height: 666px;
  }
}
/* line 74, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background .img-cont {
  padding: 65px 0;
}
@media (min-width: 992px) {
  /* line 76, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-desktop-background .img-cont img {
    height: 382px;
    width: 678px !important;
    border-radius: 2px;
  }
}
/* line 85, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background > .holder {
  max-width: 678px;
  margin: 0 auto;
}
/* line 89, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav {
  max-width: 800px;
}
/* line 91, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-next,
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -428px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 91, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-next,
  .paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -428px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 95, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-next:hover,
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 95, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-next:hover,
  .paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 97, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
  left: -50px !important;
}
@media (min-width: 992px) {
  /* line 97, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-prev {
    left: -125px !important;
  }
}
/* line 101, ../sass/slideshow.scss */
.paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-next {
  right: -50px !important;
}
@media (min-width: 992px) {
  /* line 101, ../sass/slideshow.scss */
  .paragraph.slideshow.slideshow-desktop-background > .holder > .field--name-field-slides .owl-nav .owl-next {
    right: -125px !important;
  }
}
