/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/tabs.scss */
.paragraph.tabs > .holder {
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 4, ../sass/tabs.scss */
  .paragraph.tabs > .holder {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 4, ../sass/tabs.scss */
  .paragraph.tabs > .holder {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 4, ../sass/tabs.scss */
  .paragraph.tabs > .holder {
    padding: 0 50px;
  }
}
/* line 10, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-header > .tab-title {
  margin: 0 0 4px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #F5F5F5;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
/* line 18, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-header > .tab-title:hover, .paragraph.tabs > .holder > .tabs-header > .tab-title.actv {
  border-color: #077DC2;
  background-color: #077DC2;
  color: #fff;
  font-family: "SegoeUI-Semibold", sans-serif;
}
@media (min-width: 621px) {
  /* line 10, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title {
    display: inline-block;
    width: 50%;
    margin: 0 0 -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 33, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title:nth-child(even) {
    border-width: 1px 1px 1px 0;
  }
}
@media (min-width: 993px) {
  /* line 10, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title {
    width: 33.3333333%;
    border-width: 1px 1px 1px 0;
  }
  /* line 38, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title:nth-child(3n+1) {
    border-width: 1px;
  }
}
@media (min-width: 1201px) {
  /* line 10, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title {
    position: relative;
    z-index: 0;
    float: left;
    width: auto;
    margin: 0;
    padding: 10px 20px;
    border-color: #077DC2;
    color: #077DC2;
    font-family: "SegoeUI-Semibold", sans-serif;
  }
  /* line 50, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title.actv {
    z-index: 2;
    border-width: 2px 2px 0 1px;
    background-color: #fff;
    color: #eb681d;
  }
  /* line 55, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header > .tab-title.actv:first-child {
    border-left-width: 2px;
  }
}
@media (min-width: 621px) {
  /* line 9, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header {
    margin: 0;
  }
}
@media (min-width: 1201px) {
  /* line 9, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-header {
    margin: 0 0 -2px;
    overflow: hidden;
  }
}
/* line 66, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-body {
  border: 1px solid #077DC2;
}
/* line 68, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-body > .tab-body {
  display: none;
}
/* line 70, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-body > .tab-body.actv {
  display: block;
}
/* line 71, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-body > .tab-body .paragraph {
  padding: 0;
}
/* line 73, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-body > .tab-body .paragraph > .holder {
  padding: 6px 10px;
}
@media (min-width: 769px) {
  /* line 73, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-body > .tab-body .paragraph > .holder {
    padding: 10px 15px;
  }
}
@media (min-width: 993px) {
  /* line 73, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-body > .tab-body .paragraph > .holder {
    padding: 15px 20px;
  }
}
/* line 79, ../sass/tabs.scss */
.paragraph.tabs > .holder > .tabs-body > .tab-body a {
  display: inline;
  padding: 0;
  background-color: transparent;
}
@media (min-width: 993px) {
  /* line 66, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-body {
    border-width: 2px;
  }
}
@media (min-width: 1201px) {
  /* line 66, ../sass/tabs.scss */
  .paragraph.tabs > .holder > .tabs-body {
    position: relative;
    z-index: 1;
  }
}
/* line 93, ../sass/tabs.scss */
.paragraph.tabs.wide .paragraph .holder.row {
  max-width: inherit;
}
