/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 2, ../sass/testimonial.scss */
section.paragraph.testimonial {
  margin: 30px 0;
  padding: 20px 0;
  position: relative;
}
/* line 82, ../sass/_base.scss */
section.paragraph.testimonial .owl-stage {
  margin: 0 auto;
}
/* line 84, ../sass/_base.scss */
section.paragraph.testimonial .owl-stage > .owl-item {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin: 0 !important;
}
/* line 91, ../sass/_base.scss */
section.paragraph.testimonial .owl-stage > .owl-item img {
  width: auto;
}
/* line 93, ../sass/_base.scss */
section.paragraph.testimonial .owl-stage > .owl-item img.max-height-250 {
  max-height: 250px;
}
/* line 97, ../sass/_base.scss */
section.paragraph.testimonial .owl-dots {
  display: none;
}
/* line 122, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav {
  margin: 0 auto;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 131, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav > .owl-next {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 131, ../sass/_base.scss */
  section.paragraph.testimonial .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 131, ../sass/_base.scss */
  section.paragraph.testimonial .owl-nav > .owl-next {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
}
/* line 147, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav > .owl-next:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 147, ../sass/_base.scss */
  section.paragraph.testimonial .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 148, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav > .owl-next.disabled {
  display: none;
}
/* line 150, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav > .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  -webkit-transform: scale(0.3) rotate(180deg);
  transform: scale(0.3) rotate(180deg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 150, ../sass/_base.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 150, ../sass/_base.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev {
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.6) rotate(180deg);
  }
}
/* line 160, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav > .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 160, ../sass/_base.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 161, ../sass/_base.scss */
section.paragraph.testimonial .owl-nav > .owl-prev.disabled {
  display: none;
}
/* line 7, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-dots {
  text-align: center;
}
/* line 9, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-dots > .owl-dot {
  display: inline-block;
  margin: 0 8px;
}
/* line 12, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-dots > .owl-dot > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #928cad;
}
/* line 19, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-dots > .owl-dot.active > span {
  background: #7d7c7c;
}
/* line 23, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-nav > .owl-prev,
section.paragraph.testimonial .owl-nav > .owl-next {
  position: absolute;
  top: 50%;
  left: -3px;
  margin: -27px 0 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  height: 54px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: -30px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 23, ../sass/testimonial.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev,
  section.paragraph.testimonial .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: -30px 0;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 32, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-nav > .owl-prev:hover,
section.paragraph.testimonial .owl-nav > .owl-next:hover {
  height: 54px;
  width: 30px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 32, ../sass/testimonial.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev:hover,
  section.paragraph.testimonial .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 0;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 33, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-nav > .owl-prev.disabled,
section.paragraph.testimonial .owl-nav > .owl-next.disabled {
  display: none !important;
}
@media (min-width: 769px) {
  /* line 23, ../sass/testimonial.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev,
  section.paragraph.testimonial .owl-nav > .owl-next {
    left: -10px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
@media (min-width: 1201px) {
  /* line 23, ../sass/testimonial.scss */
  section.paragraph.testimonial .owl-nav > .owl-prev,
  section.paragraph.testimonial .owl-nav > .owl-next {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}
/* line 45, ../sass/testimonial.scss */
section.paragraph.testimonial .owl-nav > .owl-next {
  left: auto;
  right: -3px;
  -webkit-transform: scale(0.5) rotate(180deg);
  transform: scale(0.5) rotate(180deg);
}
@media (min-width: 769px) {
  /* line 45, ../sass/testimonial.scss */
  section.paragraph.testimonial .owl-nav > .owl-next {
    right: -10px;
    -webkit-transform: scale(0.7) rotate(180deg);
    transform: scale(0.7) rotate(180deg);
  }
}
@media (min-width: 1201px) {
  /* line 45, ../sass/testimonial.scss */
  section.paragraph.testimonial .owl-nav > .owl-next {
    -webkit-transform: rotate(180deg) scale(0.7);
    transform: rotate(180deg) scale(0.7);
  }
}
/* line 61, ../sass/testimonial.scss */
section.paragraph.testimonial .paragraph.testimonial-item {
  padding: 0 0 10px;
}
/* line 63, ../sass/testimonial.scss */
section.paragraph.testimonial .paragraph.testimonial-item > .holder {
  padding: 0 32px;
  color: #7d7d7d;
}
@media (min-width: 768px) {
  /* line 63, ../sass/testimonial.scss */
  section.paragraph.testimonial .paragraph.testimonial-item > .holder {
    padding: 0 70px;
  }
}
@media (min-width: 992px) {
  /* line 63, ../sass/testimonial.scss */
  section.paragraph.testimonial .paragraph.testimonial-item > .holder {
    padding: 0 120px;
  }
}
/* line 68, ../sass/testimonial.scss */
section.paragraph.testimonial .paragraph.testimonial-item > .holder > .author {
  font-size: 18px;
}
@media (min-width: 768px) {
  /* line 68, ../sass/testimonial.scss */
  section.paragraph.testimonial .paragraph.testimonial-item > .holder > .author {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 68, ../sass/testimonial.scss */
  section.paragraph.testimonial .paragraph.testimonial-item > .holder > .author {
    font-size: 24px;
  }
}
/* line 73, ../sass/testimonial.scss */
section.paragraph.testimonial .paragraph.testimonial-item > .holder > .author-holder {
  text-align: right;
  margin-top: 20px;
}
/* line 76, ../sass/testimonial.scss */
section.paragraph.testimonial .paragraph.testimonial-item > .holder > .author-holder > .author {
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "TitilliumMaps26L-750wt";
  display: block;
}
/* line 82, ../sass/testimonial.scss */
section.paragraph.testimonial .paragraph.testimonial-item > .holder > .author-holder > .position {
  font-size: 14px;
  display: block;
}
/* line 89, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-blue {
  background-color: #00788c;
}
/* line 92, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-blue .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 96, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-blue .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 96, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-blue .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 108, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-violet {
  background-color: #413082;
}
/* line 111, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-violet .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 115, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-violet .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 115, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-violet .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 125, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-yellow {
  background-color: #8c8600;
}
/* line 128, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-yellow .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 132, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-yellow .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 132, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-yellow .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 142, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-red {
  background-color: #be1722;
}
/* line 145, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-red .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 149, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-red .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 149, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-red .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 159, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-orange {
  background-color: #eb681d;
}
/* line 162, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-orange .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 166, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-orange .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 166, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-orange .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 176, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-green {
  background-color: #28a55d;
}
/* line 179, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-green .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 183, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-green .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 183, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-green .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 193, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-violet2 {
  background-color: #a9499a;
}
/* line 197, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-violet2 .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 201, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-violet2 .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 201, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-violet2 .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}

/* line 211, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-brown {
  background-color: #956735;
}
/* line 214, ../sass/testimonial.scss */
section.paragraph.testimonial.bg-brown .paragraph.testimonial-item > .holder {
  color: #e6e6e6 !important;
  position: relative;
}
@media (min-width: 992px) {
  /* line 218, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-brown .paragraph.testimonial-item > .holder:before {
    content: "";
    position: absolute;
    height: 48px;
    width: 64px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -144px;
    background-repeat: no-repeat;
    left: 40px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 218, ../sass/testimonial.scss */
  section.paragraph.testimonial.bg-brown .paragraph.testimonial-item > .holder:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -144px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
