/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/text-with-block.scss */
.paragraph.text-with-block {
  color: #fff;
}
@media (min-width: 621px) {
  /* line 5, ../sass/text-with-block.scss */
  .paragraph.text-with-block > .holder {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}
/* line 11, ../sass/text-with-block.scss */
.paragraph.text-with-block > .holder > .text {
  padding: 30px;
}
/* line 13, ../sass/text-with-block.scss */
.paragraph.text-with-block > .holder > .text:before {
  content: '';
  position: absolute;
  top: 0;
  width: 400%;
  height: 100%;
  background-color: inherit;
}
/* line 22, ../sass/text-with-block.scss */
.paragraph.text-with-block > .holder > .block {
  position: relative;
  padding: 30px;
}
/* line 25, ../sass/text-with-block.scss */
.paragraph.text-with-block > .holder > .block:before {
  content: '';
  position: absolute;
  top: 0;
  width: 800%;
  height: 100%;
  background-color: inherit;
}
/* line 34, ../sass/text-with-block.scss */
.paragraph.text-with-block > .holder > .block > .inner-block > .block-cont {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 38, ../sass/text-with-block.scss */
.paragraph.text-with-block > .holder > .block > .inner-block > .block-cont > .holder {
  display: table-cell;
  vertical-align: middle;
  max-width: 340px;
}
/* line 49, ../sass/text-with-block.scss */
.paragraph.text-with-block.left-block > .holder > .text:before {
  left: 100%;
}
/* line 50, ../sass/text-with-block.scss */
.paragraph.text-with-block.left-block > .holder > .block {
  margin: 0 30px 0 0;
}
/* line 52, ../sass/text-with-block.scss */
.paragraph.text-with-block.left-block > .holder > .block:before {
  right: 100%;
}
/* line 58, ../sass/text-with-block.scss */
.paragraph.text-with-block.right-block > .holder > .text:before {
  right: 100%;
}
/* line 59, ../sass/text-with-block.scss */
.paragraph.text-with-block.right-block > .holder > .block {
  margin: 0 0 0 30px;
}
/* line 61, ../sass/text-with-block.scss */
.paragraph.text-with-block.right-block > .holder > .block:before {
  left: 100%;
}
