/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 3, ../sass/text-with-image.scss */
.paragraph.image-with-text {
  margin-top: 30px;
}
/* line 5, ../sass/text-with-image.scss */
.paragraph.image-with-text > .holder {
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 5, ../sass/text-with-image.scss */
  .paragraph.image-with-text > .holder {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 5, ../sass/text-with-image.scss */
  .paragraph.image-with-text > .holder {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 5, ../sass/text-with-image.scss */
  .paragraph.image-with-text > .holder {
    padding: 0 50px;
  }
}
/* line 10, ../sass/text-with-image.scss */
.paragraph.image-with-text > .holder > .image-cont {
  padding: 0;
}
/* line 12, ../sass/text-with-image.scss */
.paragraph.image-with-text > .holder > .image-cont > .description {
  margin: 10px 0 0;
  text-align: center;
  font: 22px/1.1 "SegoeUI-Semibold", sans-serif;
}
/* line 20, ../sass/text-with-image.scss */
.paragraph.image-with-text .text .title,
.paragraph.image-with-text .text .small-title {
  margin-top: 0;
}
@media (max-width: 620px) {
  /* line 25, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-image > .holder > .text, .paragraph.image-with-text.right-inline-image > .holder > .image-cont, .paragraph.image-with-text.left-inline-image > .holder > .image-cont, .paragraph.image-with-text.left-image > .holder > .image-cont {
    margin: 0 0 30px;
  }
}
/* line 29, ../sass/text-with-image.scss */
.paragraph.image-with-text.bottom-image > .holder > .text, .paragraph.image-with-text.top-image > .holder > .image-cont {
  margin: 0 0 30px;
}
/* line 32, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image > .holder > .text {
  padding: 0;
}
@media (min-width: 621px) {
  /* line 32, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image > .holder > .text {
    padding: 0 0 0 10px;
  }
}
@media (min-width: 621px) {
  /* line 36, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image > .holder > .image-cont {
    padding: 0 10px 0 0;
  }
}
/* line 41, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-image > .holder > .text {
  padding: 0;
}
@media (min-width: 621px) {
  /* line 41, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-image > .holder > .text {
    padding: 0 10px 0 0;
  }
}
@media (min-width: 621px) {
  /* line 45, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-image > .holder > .image-cont {
    padding: 0 0 0 10px;
  }
}
@media (min-width: 621px) {
  /* line 54, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image > .holder > .image-cont, .paragraph.image-with-text.left-inline-image > .holder > .image-cont, .paragraph.image-with-text.right-image > .holder > .image-cont, .paragraph.image-with-text.left-image > .holder > .image-cont {
    padding-top: 7px;
  }
}
@media (min-width: 769px) {
  /* line 54, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image > .holder > .image-cont, .paragraph.image-with-text.left-inline-image > .holder > .image-cont, .paragraph.image-with-text.right-image > .holder > .image-cont, .paragraph.image-with-text.left-image > .holder > .image-cont {
    padding-top: 9px;
  }
}
/* line 60, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-70x30 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-70x30 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-70x30 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-70x30 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 60, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-70x30 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-70x30 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-70x30 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-70x30 > .holder > .image-cont {
    width: 30%;
  }
}
/* line 65, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-70x30 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-70x30 > .holder > .text, .paragraph.image-with-text.right-image.style-70x30 > .holder > .text, .paragraph.image-with-text.left-image.style-70x30 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 65, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-70x30 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-70x30 > .holder > .text, .paragraph.image-with-text.right-image.style-70x30 > .holder > .text, .paragraph.image-with-text.left-image.style-70x30 > .holder > .text {
    width: 70%;
  }
}
/* line 73, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-30x70 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-30x70 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-30x70 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-30x70 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 73, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-30x70 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-30x70 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-30x70 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-30x70 > .holder > .image-cont {
    width: 70%;
  }
}
/* line 78, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-30x70 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-30x70 > .holder > .text, .paragraph.image-with-text.right-image.style-30x70 > .holder > .text, .paragraph.image-with-text.left-image.style-30x70 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 78, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-30x70 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-30x70 > .holder > .text, .paragraph.image-with-text.right-image.style-30x70 > .holder > .text, .paragraph.image-with-text.left-image.style-30x70 > .holder > .text {
    width: 30%;
  }
}
/* line 86, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-40x60 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-40x60 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-40x60 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-40x60 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 86, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-40x60 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-40x60 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-40x60 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-40x60 > .holder > .image-cont {
    width: 60%;
  }
}
/* line 91, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-40x60 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-40x60 > .holder > .text, .paragraph.image-with-text.right-image.style-40x60 > .holder > .text, .paragraph.image-with-text.left-image.style-40x60 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 91, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-40x60 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-40x60 > .holder > .text, .paragraph.image-with-text.right-image.style-40x60 > .holder > .text, .paragraph.image-with-text.left-image.style-40x60 > .holder > .text {
    width: 40%;
  }
}
/* line 99, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-60x40 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-60x40 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-60x40 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-60x40 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 99, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-60x40 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-60x40 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-60x40 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-60x40 > .holder > .image-cont {
    width: 40%;
  }
}
/* line 104, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-60x40 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-60x40 > .holder > .text, .paragraph.image-with-text.right-image.style-60x40 > .holder > .text, .paragraph.image-with-text.left-image.style-60x40 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 104, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-60x40 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-60x40 > .holder > .text, .paragraph.image-with-text.right-image.style-60x40 > .holder > .text, .paragraph.image-with-text.left-image.style-60x40 > .holder > .text {
    width: 60%;
  }
}
/* line 112, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-50x50 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-50x50 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-50x50 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-50x50 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 112, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-50x50 > .holder > .image-cont, .paragraph.image-with-text.left-inline-image.style-50x50 > .holder > .image-cont, .paragraph.image-with-text.right-image.style-50x50 > .holder > .image-cont, .paragraph.image-with-text.left-image.style-50x50 > .holder > .image-cont {
    width: 50%;
  }
}
/* line 117, ../sass/text-with-image.scss */
.paragraph.image-with-text.right-inline-image.style-50x50 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-50x50 > .holder > .text, .paragraph.image-with-text.right-image.style-50x50 > .holder > .text, .paragraph.image-with-text.left-image.style-50x50 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 117, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image.style-50x50 > .holder > .text, .paragraph.image-with-text.left-inline-image.style-50x50 > .holder > .text, .paragraph.image-with-text.right-image.style-50x50 > .holder > .text, .paragraph.image-with-text.left-image.style-50x50 > .holder > .text {
    width: 50%;
  }
}
@media (min-width: 621px) {
  /* line 125, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image > .holder > .image-cont {
    padding-top: 7px;
  }
}
@media (min-width: 769px) {
  /* line 125, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image > .holder > .image-cont {
    padding-top: 9px;
  }
}
/* line 131, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-70x30 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 131, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-70x30 > .holder > .image-cont {
    width: 70%;
  }
}
/* line 136, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-70x30 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 136, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-70x30 > .holder > .text {
    width: 30%;
  }
}
/* line 144, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-30x70 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 144, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-30x70 > .holder > .image-cont {
    width: 30%;
  }
}
/* line 149, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-30x70 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 149, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-30x70 > .holder > .text {
    width: 70%;
  }
}
/* line 157, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-40x60 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 157, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-40x60 > .holder > .image-cont {
    width: 40%;
  }
}
/* line 162, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-40x60 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 162, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-40x60 > .holder > .text {
    width: 60%;
  }
}
/* line 170, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-60x40 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 170, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-60x40 > .holder > .image-cont {
    width: 60%;
  }
}
/* line 175, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-60x40 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 175, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-60x40 > .holder > .text {
    width: 40%;
  }
}
/* line 183, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-50x50 > .holder > .image-cont {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 183, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-50x50 > .holder > .image-cont {
    width: 50%;
  }
}
/* line 188, ../sass/text-with-image.scss */
.paragraph.image-with-text.left-image.style-50x50 > .holder > .text {
  width: 100%;
}
@media (min-width: 621px) {
  /* line 188, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-image.style-50x50 > .holder > .text {
    width: 50%;
  }
}
@media (min-width: 621px) {
  /* line 196, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-inline-image > .holder > .image-cont {
    float: left;
    width: 47%;
    margin: 0 30px 20px 0;
  }
}
@media (min-width: 769px) {
  /* line 196, ../sass/text-with-image.scss */
  .paragraph.image-with-text.left-inline-image > .holder > .image-cont {
    margin-right: 40px;
  }
}
@media (min-width: 621px) {
  /* line 206, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image > .holder > .image-cont {
    float: right;
    width: 47%;
    margin: 0 0 20px 30px;
  }
}
@media (min-width: 769px) {
  /* line 206, ../sass/text-with-image.scss */
  .paragraph.image-with-text.right-inline-image > .holder > .image-cont {
    margin-left: 40px;
  }
}
