/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/text.scss */
.paragraph.text > .holder {
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 4, ../sass/text.scss */
  .paragraph.text > .holder {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 4, ../sass/text.scss */
  .paragraph.text > .holder {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 4, ../sass/text.scss */
  .paragraph.text > .holder {
    padding: 0 50px;
  }
}
/* line 12, ../sass/text.scss */
.paragraph.text.fill-color {
  margin-bottom: 35px;
  padding: 20px 0;
  color: #fff;
}
/* line 16, ../sass/text.scss */
.paragraph.text.fill-color .title {
  margin-top: 0;
}
/* line 17, ../sass/text.scss */
.paragraph.text.fill-color .paragraph,
.paragraph.text.fill-color .text,
.paragraph.text.fill-color .title,
.paragraph.text.fill-color p {
  color: #fff;
}
/* line 21, ../sass/text.scss */
.paragraph.text.fill-color.color-dark-green {
  background-color: #049584;
}
/* line 22, ../sass/text.scss */
.paragraph.text.fill-color.color-light-green {
  background-color: #84BE41;
}
/* line 23, ../sass/text.scss */
.paragraph.text.fill-color.color-red {
  background-color: #C52253;
}
/* line 24, ../sass/text.scss */
.paragraph.text.fill-color.color-violet {
  background-color: #613982;
}
/* line 25, ../sass/text.scss */
.paragraph.text.fill-color.color-blue {
  background-color: #0297C9;
}
/* line 26, ../sass/text.scss */
.paragraph.text.fill-color.color-orange {
  background-color: #EB8C2D;
}
/* line 28, ../sass/text.scss */
.paragraph.text.bold {
  text-align: center;
  padding: 20px 0 30px;
}
/* line 31, ../sass/text.scss */
.paragraph.text.bold p {
  font: 18px/1.25 "TitilliumMaps26L-999wt";
}
@media (min-width: 769px) {
  /* line 31, ../sass/text.scss */
  .paragraph.text.bold p {
    margin: 0 0 5px;
    font-size: 20px;
  }
}
@media (min-width: 993px) {
  /* line 31, ../sass/text.scss */
  .paragraph.text.bold p {
    font-size: 24px;
  }
}
/* line 40, ../sass/text.scss */
.paragraph.text.quote {
  text-align: center;
  padding: 15px 10px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  /* line 44, ../sass/text.scss */
  .paragraph.text.quote p, .paragraph.text.quote p span {
    font-size: 24px !important;
  }
}
@media (max-width: 620px) {
  /* line 44, ../sass/text.scss */
  .paragraph.text.quote p, .paragraph.text.quote p span {
    font-size: 22px !important;
  }
}
@media (max-width: 768px) {
  /* line 50, ../sass/text.scss */
  .paragraph.text.quote p:last-child {
    font-size: 18px !important;
  }
}
@media (max-width: 620px) {
  /* line 50, ../sass/text.scss */
  .paragraph.text.quote p:last-child {
    font-size: 16px !important;
  }
}
/* line 57, ../sass/text.scss */
.paragraph.text.quote.bg-blue {
  background-color: #00788c;
}
/* line 59, ../sass/text.scss */
.paragraph.text.quote.bg-blue > .holder {
  color: #e6e6e6;
}
/* line 63, ../sass/text.scss */
.paragraph.text.quote.bg-violet {
  background-color: #413082;
}
/* line 65, ../sass/text.scss */
.paragraph.text.quote.bg-violet > .holder {
  color: #e6e6e6;
}
/* line 69, ../sass/text.scss */
.paragraph.text.quote.bg-yellow {
  background-color: #8c8600;
}
/* line 71, ../sass/text.scss */
.paragraph.text.quote.bg-yellow > .holder {
  color: #e6e6e6;
}
/* line 75, ../sass/text.scss */
.paragraph.text.quote.bg-red {
  background-color: #be1722;
}
/* line 77, ../sass/text.scss */
.paragraph.text.quote.bg-red > .holder {
  color: #e6e6e6;
}
/* line 81, ../sass/text.scss */
.paragraph.text.quote.bg-orange {
  background-color: #eb681d;
}
/* line 83, ../sass/text.scss */
.paragraph.text.quote.bg-orange > .holder {
  color: #e6e6e6;
}
/* line 87, ../sass/text.scss */
.paragraph.text.quote.bg-green {
  background-color: #28a55d;
}
/* line 89, ../sass/text.scss */
.paragraph.text.quote.bg-green > .holder {
  color: #e6e6e6;
}
/* line 93, ../sass/text.scss */
.paragraph.text.quote.bg-violet2 {
  background-color: #a9499a;
}
/* line 95, ../sass/text.scss */
.paragraph.text.quote.bg-violet2 > .holder {
  color: #e6e6e6;
}
/* line 99, ../sass/text.scss */
.paragraph.text.quote.bg-brown {
  background-color: #956735;
}
/* line 101, ../sass/text.scss */
.paragraph.text.quote.bg-brown > .holder {
  color: #e6e6e6;
}
