/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 5, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .small-title {
  padding: 0 15px;
  margin: 0;
  color: #000;
  font-size: 24px;
}
@media (min-width: 769px) {
  /* line 5, ../sass/title-with-icons.scss */
  .paragraph.title-with-icons > .holder > .small-title {
    font-size: 28px;
  }
}
@media (min-width: 993px) {
  /* line 5, ../sass/title-with-icons.scss */
  .paragraph.title-with-icons > .holder > .small-title {
    font-size: 36px;
  }
}
/* line 13, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > img {
  margin: 0;
  padding: 0 15px;
}
/* line 17, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .text {
  margin: 15px 0;
}
/* line 20, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .link-cont {
  padding: 0 15px;
}
/* line 22, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .link-cont > a {
  display: inline-block;
  position: relative;
  padding: 8px 17px;
  line-height: 1;
  font: 18px "TitilliumMaps26L-250wt";
  border: solid 1px #be1722;
  border-radius: 5px;
  color: #be1722;
}
@media (min-width: 769px) {
  /* line 22, ../sass/title-with-icons.scss */
  .paragraph.title-with-icons > .holder > .link-cont > a {
    font-size: 22px;
  }
}
@media (min-width: 993px) {
  /* line 22, ../sass/title-with-icons.scss */
  .paragraph.title-with-icons > .holder > .link-cont > a {
    font-size: 26px;
  }
}
/* line 33, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .link-cont > a:hover {
  color: #fff;
  background-color: #be1722;
}
/* line 37, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .link-cont > a.external {
  padding: 8px 42px 8px 17px;
}
/* line 39, ../sass/title-with-icons.scss */
.paragraph.title-with-icons > .holder > .link-cont > a.external:before {
  content: "";
  position: absolute;
  right: 0;
  height: 24px;
  width: 24px;
  margin: 6px 9px;
  background: url("../images/launch.png");
}
