/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 4, ../sass/video.scss */
.paragraph.video > .holder {
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 4, ../sass/video.scss */
  .paragraph.video > .holder {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 4, ../sass/video.scss */
  .paragraph.video > .holder {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 4, ../sass/video.scss */
  .paragraph.video > .holder {
    padding: 0 50px;
  }
}
/* line 9, ../sass/video.scss */
.paragraph.video > .holder > .video-cont {
  padding: 0;
}
/* line 11, ../sass/video.scss */
.paragraph.video > .holder > .video-cont iframe {
  height: 250px;
}
@media (min-width: 769px) {
  /* line 11, ../sass/video.scss */
  .paragraph.video > .holder > .video-cont iframe {
    height: 300px;
  }
}
@media (max-width: 620px) {
  /* line 17, ../sass/video.scss */
  .paragraph.video.right-video > .holder > .text, .paragraph.video.left-video > .holder > .video-cont {
    margin: 0 0 30px;
  }
}
/* line 19, ../sass/video.scss */
.paragraph.video.bottom-video > .holder > .text, .paragraph.video.top-video > .holder > .video-cont {
  margin: 0 0 30px;
}
/* line 22, ../sass/video.scss */
.paragraph.video.left-video > .holder > .text {
  padding: 0;
}
@media (min-width: 621px) {
  /* line 22, ../sass/video.scss */
  .paragraph.video.left-video > .holder > .text {
    padding: 0 0 0 30px;
  }
}
/* line 28, ../sass/video.scss */
.paragraph.video.right-video > .holder > .text {
  padding: 0;
}
@media (min-width: 621px) {
  /* line 28, ../sass/video.scss */
  .paragraph.video.right-video > .holder > .text {
    padding: 0 30px 0 0;
  }
}
@media (min-width: 481px) {
  /* line 35, ../sass/video.scss */
  .paragraph.video.bottom-video > .holder > .video-cont iframe, .paragraph.video.top-video > .holder > .video-cont iframe {
    height: 320px;
  }
}
@media (min-width: 769px) {
  /* line 35, ../sass/video.scss */
  .paragraph.video.bottom-video > .holder > .video-cont iframe, .paragraph.video.top-video > .holder > .video-cont iframe {
    height: 430px;
  }
}
@media (min-width: 993px) {
  /* line 35, ../sass/video.scss */
  .paragraph.video.bottom-video > .holder > .video-cont iframe, .paragraph.video.top-video > .holder > .video-cont iframe {
    height: 550px;
  }
}
/* line 41, ../sass/video.scss */
.paragraph.video.bottom-video.wide > .holder, .paragraph.video.top-video.wide > .holder {
  max-width: inherit;
  padding: 0;
}
/* line 44, ../sass/video.scss */
.paragraph.video.bottom-video.wide > .holder > .text, .paragraph.video.top-video.wide > .holder > .text {
  max-width: 63.75rem;
  padding: 0 10px;
}
@media (min-width: 481px) {
  /* line 44, ../sass/video.scss */
  .paragraph.video.bottom-video.wide > .holder > .text, .paragraph.video.top-video.wide > .holder > .text {
    padding: 0 15px;
  }
}
@media (min-width: 621px) {
  /* line 44, ../sass/video.scss */
  .paragraph.video.bottom-video.wide > .holder > .text, .paragraph.video.top-video.wide > .holder > .text {
    padding: 0 30px;
  }
}
@media (min-width: 769px) {
  /* line 44, ../sass/video.scss */
  .paragraph.video.bottom-video.wide > .holder > .text, .paragraph.video.top-video.wide > .holder > .text {
    padding: 0 50px;
  }
}
@media (min-width: 621px) {
  /* line 56, ../sass/video.scss */
  .paragraph.video.right-video > .holder > .video-cont, .paragraph.video.left-video > .holder > .video-cont {
    padding-top: 5px;
  }
}
/* line 59, ../sass/video.scss */
.paragraph.video.right-video.wide > .holder, .paragraph.video.left-video.wide > .holder {
  max-width: inherit;
}
