/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 2, ../sass/webform.scss */
.paragraph.webform {
  padding: 0 10px;
  overflow: visible;
}
/* line 5, ../sass/webform.scss */
.paragraph.webform .field__label {
  display: none;
}
/* line 6, ../sass/webform.scss */
.paragraph.webform .webform-confirmation {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}
/* line 11, ../sass/webform.scss */
.paragraph.webform form {
  padding: 0 25px;
  max-width: 800px;
  margin: 0 auto !important;
  display: block !important;
}
@media (min-width: 768px) {
  /* line 11, ../sass/webform.scss */
  .paragraph.webform form {
    padding: 0;
  }
}
/* line 17, ../sass/webform.scss */
.paragraph.webform form > .form-item {
  position: relative;
  text-align: left;
  margin: 11px 0 22px;
}
/* line 21, ../sass/webform.scss */
.paragraph.webform form > .form-item input,
.paragraph.webform form > .form-item textarea,
.paragraph.webform form > .form-item select {
  width: 100%;
  border: none;
  font-size: 20px;
  background: transparent !important;
  border-bottom: solid 1px #999 !important;
  padding: 10px 3px 3px 5px !important;
  outline: 0;
}
/* line 32, ../sass/webform.scss */
.paragraph.webform form > .form-item input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
/* line 39, ../sass/webform.scss */
.paragraph.webform form > .form-item input[type=number]::-webkit-inner-spin-button,
.paragraph.webform form > .form-item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 44, ../sass/webform.scss */
.paragraph.webform form > .form-item > label {
  pointer-events: none;
  color: #999;
  position: absolute;
  top: 6px;
  left: 4px;
  font-size: 20px;
  background: #fff;
}
/* line 53, ../sass/webform.scss */
.paragraph.webform form > .form-item .description {
  padding-left: 5px;
  color: #949090;
}
/* line 58, ../sass/webform.scss */
.paragraph.webform form > .form-item.form-type-select > label {
  background: #fff;
  width: 80%;
}
/* line 63, ../sass/webform.scss */
.paragraph.webform form > .form-item.clicked {
  border-color: #be1722;
}
/* line 66, ../sass/webform.scss */
.paragraph.webform form > .form-item.clicked > label {
  top: -9px;
  color: #be1722;
  font-size: 13px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 80, ../sass/webform.scss */
.paragraph.webform form > .form-item.clicked:after {
  width: 100%;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
/* line 88, ../sass/webform.scss */
.paragraph.webform form > .form-item:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #be1722;
  z-index: 1;
}
/* line 101, ../sass/webform.scss */
.paragraph.webform form #edit-submit {
  font-size: 25px;
  background: #be1722;
  color: #fff !important;
  position: relative !important;
  display: inline-block !important;
  width: inherit !important;
  padding: 13px 80px !important;
  border: solid 1px #be1722 !important;
  margin-top: 8px !important;
}
/* line 111, ../sass/webform.scss */
.paragraph.webform form #edit-submit:hover {
  background: #fff !important;
  color: #be1722 !important;
}
