/* Retina Ready Sprite Generation */
/* End Of Retina Ready Sprite Generation */
/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */
/* ========================= END OF BREAKPOINTS ========================== */
/* ========================= COLORS =============================== */
/* ========================= END OF COLORS ======================== */
/* ========================= FONTS =============================== */
/* ========================= END OF FONTS ======================== */
/* ========================= MIXINS =============================== */
/* ========================= END OF MIXINS =============================== */
/* line 2, ../sass/workflow.scss */
.field--name-field-paragraphs {
  /*&:before {
  	content: "DEVELOPMENT PROCESS";
  	color: $red;
  	font-size: 24px;
  	position: absolute;
  	left: 44px;
  	right: 0;
  	top: 30%;
  	z-index: 1;
  	max-width: 72.5rem;
  	margin: 0 auto;
  	padding: 15px;
  	text-align: center;
  	transform: translateY(-70%);
  	@include breakpoint($tab){
  		font-size: 28px;
  		text-align: left;
  		}
  	@include breakpoint($desk-mini){
  		font-size: 30px;
  		left: 0;
  	}
  	@include breakpoint($desk){font-size: 36px;}
  }*/
}
/* line 4, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav {
  max-width: 63.75rem;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
/* line 14, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -555px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 14, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -555px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 14, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next {
    transform: none;
    left: 93%;
    right: inherit;
  }
}
/* line 25, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 25, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 26, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next.disabled {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -428px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 26, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-next.disabled {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -428px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 28, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -555px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  -webkit-transform: scale(0.4) rotate(180deg);
  transform: scale(0.4) rotate(180deg);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 28, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -555px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 28, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev {
    display: none !important;
  }
}
/* line 35, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev:hover {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -682px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 35, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev:hover {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -682px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 36, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev.disabled {
  height: 127px;
  width: 67px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: 0 -428px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 36, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-nav > .owl-prev.disabled {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -428px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
/* line 38, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-nav .disabled {
  cursor: default;
}
/* line 42, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-dots {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 50, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 14px;
  margin-bottom: 20px;
  background: #5f5d5d;
  text-indent: -99999px;
}
/* line 60, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.active.past {
  background: #9a9797;
}
/* line 61, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  /* line 50, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot {
    width: 80px;
    height: 80px;
    line-height: 55px;
    border: solid 11px #707070;
    border-radius: 50%;
    margin-right: 39px;
    position: relative;
    font-size: 24px;
    margin-bottom: 0;
    font-family: "TitilliumMaps26L-999wt";
    background: none;
    text-indent: inherit;
  }
  /* line 75, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot:before {
    content: "";
    position: absolute;
    left: 60px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 51px;
    width: 59px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -192px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 75, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -192px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 85, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.active.past {
    color: #fff;
    background: none;
  }
  /* line 89, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.past {
    color: #be1722;
    border-color: #be1722;
  }
  /* line 92, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.past:before {
    height: 51px;
    width: 59px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -294px;
    background-repeat: no-repeat;
    height: 50px;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 92, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.past:before {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -294px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 96, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.past:after {
    content: "";
    position: absolute;
    left: -60px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 51px;
    width: 59px;
    background-image: url('../images/icons-s3b47d600cf.png');
    background-position: 0 -243px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 992px) and (min--moz-device-pixel-ratio: 1.5), (min-width: 992px) and (-o-min-device-pixel-ratio: 3 / 2), (min-width: 992px) and (min-device-pixel-ratio: 1.5) {
  /* line 96, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot.past:after {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: 0 -243px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
@media (min-width: 992px) {
  /* line 107, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot:last-child:before {
    content: none;
  }
  /* line 110, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots > .owl-dot:first-child:after {
    content: none;
  }
}
/* line 115, ../sass/workflow.scss */
.field--name-field-paragraphs .owl-controls > .owl-dots:before {
  content: "DEVELOPMENT PROCESS";
  color: #ececec;
  font-size: 14px;
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  z-index: 1;
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  transform: translateY(-70%);
}
@media (min-width: 768px) {
  /* line 115, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots:before {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 115, ../sass/workflow.scss */
  .field--name-field-paragraphs .owl-controls > .owl-dots:before {
    font-size: 18px;
  }
}

/* line 164, ../sass/workflow.scss */
.paragraph.workflow > .image-cont {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 169, ../sass/workflow.scss */
.paragraph.workflow > .image-cont > img {
  width: 100%;
}
/* line 170, ../sass/workflow.scss */
.paragraph.workflow > .image-cont:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 180, ../sass/workflow.scss */
.paragraph.workflow > .holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
/* line 187, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left,
.paragraph.workflow > .holder > .right {
  color: #fff;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 196, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left {
  left: 0;
  width: 100%;
  right: 0;
  padding: 0 60px;
}
@media (min-width: 769px) {
  /* line 196, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left {
    right: inherit;
    width: 57%;
    left: 50px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  /* line 196, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left {
    width: 40%;
    left: 10px;
  }
}
/* line 212, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .title {
  color: #fff;
  text-align: left;
  margin: 0 0 10px 10px;
  font-size: 22px;
  font-family: "TitilliumMaps26L-750wt";
}
@media (min-width: 768px) {
  /* line 212, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left > .title {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  /* line 212, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left > .title {
    font-size: 30px;
  }
}
/* line 223, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .text {
  border-top: solid 1px;
  padding: 30px 10px;
  font-size: 16px;
}
/* line 227, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .text p {
  padding: 0;
}
@media (min-width: 768px) {
  /* line 228, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left > .text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  /* line 229, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left > .text p {
    font-size: 22px;
  }
}
/* line 231, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .link-cont {
  overflow: hidden;
  padding: 10px 50px;
  position: relative;
}
@media (min-width: 769px) {
  /* line 231, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .left > .link-cont {
    padding: 10px 0;
  }
}
/* line 236, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .link-cont > .link {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 14px;
}
/* line 242, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .link-cont > .link:before {
  content: "";
  width: 500%;
  height: 1px;
  position: absolute;
  background: #fff;
  right: 110%;
  bottom: 10px;
  max-width: 485px;
}
/* line 252, ../sass/workflow.scss */
.paragraph.workflow > .holder > .left > .link-cont > .link a:after {
  content: ">";
  margin-left: 5px;
}
/* line 262, ../sass/workflow.scss */
.paragraph.workflow > .holder > .right {
  right: 40px;
  text-align: center;
  width: 25%;
  display: none;
}
@media (min-width: 481px) {
  /* line 262, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right {
    right: 50px;
  }
}
@media (min-width: 769px) {
  /* line 262, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right {
    right: 50px;
    display: block;
  }
}
@media (min-width: 992px) {
  /* line 262, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right {
    width: 36%;
    left: 50%;
    right: inherit;
  }
}
/* line 278, ../sass/workflow.scss */
.paragraph.workflow > .holder > .right .paragraph.workflow-infographics {
  border: solid 5px;
  border-radius: 50%;
  padding: 0 !important;
  margin-bottom: 70px;
  max-width: 350px;
  max-height: 350px;
  float: right;
  position: relative;
}
/* line 287, ../sass/workflow.scss */
.paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 15px;
}
/* line 297, ../sass/workflow.scss */
.paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-slogan {
  color: #be1722;
  font-size: 22px;
  font-family: "TitilliumMaps26L-1wt";
}
@media (min-width: 620px) {
  /* line 297, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-slogan {
    font-size: 28px;
  }
}
@media (min-width: 768px) {
  /* line 297, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-slogan {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  /* line 297, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-slogan {
    font-size: 64px;
  }
}
@media (min-width: 1200px) {
  /* line 297, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-slogan {
    font-size: 80px;
  }
}
/* line 306, ../sass/workflow.scss */
.paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-text-line-plain {
  font-size: 14px;
  font-family: "TitilliumMaps26L-250wt";
}
@media (min-width: 620px) {
  /* line 306, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-text-line-plain {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  /* line 306, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-text-line-plain {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  /* line 306, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-text-line-plain {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 306, ../sass/workflow.scss */
  .paragraph.workflow > .holder > .right .paragraph.workflow-infographics > .holder > .field--name-field-text-line-plain {
    font-size: 22px;
  }
}
/* line 318, ../sass/workflow.scss */
.paragraph.workflow .down-arr {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}
/* line 326, ../sass/workflow.scss */
.paragraph.workflow .down-arr > span {
  display: inline-block;
  height: 11px;
  width: 18px;
  background-image: url('../images/icons-s3b47d600cf.png');
  background-position: -38px -54px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 326, ../sass/workflow.scss */
  .paragraph.workflow .down-arr > span {
    background-image: url('../images/icons_2x-s5d9546f80b.png');
    background-position: -38px -54px;
    -moz-background-size: 67px auto;
    -o-background-size: 67px auto;
    -webkit-background-size: 67px auto;
    background-size: 67px auto;
  }
}
