{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
 {#  <div class="image-cont"  id ="property_page_banner" style="background-image: url({{ loadImageStyle('original_image', node.field_banner_image.entity.uri.value) }});">
      <div class="overlay"></div>
      {{ content.field_banner_image }}
    <div class="holder">
      <h1 class="page-title"> {{ label }} </h1>
    </div>
  </div> #}
  {# Property title #}
  <div class="property-title">
    <div class="holder">
      <h1 class="page-title"> {{ label }} </h1>
    </div>
  </div>

   {# Avaibility Start #}
  <div class="bottom holder row">
      {% if content.field_avaibility %}
          <div class="avaibility" style="overflow-x:auto;">
              {#<h3 class="title">Avaibility</h3>#}
              {{ content.field_avaibility }}
              {% if node.field_property_terms.value is not empty %}
                <div class="disclaimer"> {{ content.field_property_terms }} </div>
              {% else %}
                {# <div class="disclaimer">The prices listed below are based on a 24 month agreement. Availability and price are subject to change at any time, with or without notice.</div> #}
              {% endif %}
          </div>
      {% endif %}
  </div>
  <br/>
  {# Avaibility End #}
  {# Content Images Start #}
  <div class="bottom holder row">
      <div class="images-block">
          <h3 class="title">See more Images</h3>
          {{ content.field_image }}
      </div>
  </div>
  {# Content Images End #}
  <div class="top holder row">
    <div class="medium-8 large-8 columns map">
        {{ content.shariff_field }}
      {{ content.field_geolocation }}
      {% if node.field_show_broker_information.value %}

      <div class="contact-info">
        {% for item in node.field_brokers_owners %}
          <div class="address">
            <i class="fa fa-home" aria-hidden="true"></i>
            {{ content.field_address }}
          </div>

          {% if item.entity.field_contact_name.value or item.entity.field_secondary_contact_name.value  %}
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ item.entity.field_contact_name.value}}
            {{ item.entity.field_secondary_contact_name.value}}
          {% endif %}

          <div class="numbers">
            <i class="fa fa-phone" aria-hidden="true"></i>
            {% if item.entity.field_phone_number.value or item.entity.field_secondary_phone_number.value %}
              <div class="phone">
                  {% if item.entity.field_phone_number.value  %}
                    <div class="office">
                      <a href="tel:{{ item.entity.field_phone_number.value }}">{{ item.entity.field_phone_number.value }}</a>
                      <span> - {{ item.entity.field_company.value}}</span>
                    </div>
                  {% endif %}
                  {% if item.entity.field_secondary_phone_number.value  %}
                    <div class="office">
                      <a href="tel:{{ item.entity.field_phone_number_second.value }}">{{ item.entity.field_secondary_phone_number.value }}</a>
                      <span> - {{ item.entity.field_secondary_company_name.value}}</span>
                    </div>
                  {% endif %}
              </div>
            {% endif %}
          </div>

          {% if item.entity.field_email.value or item.entity.field_secondary_email.value %}
            {% if item.entity.field_email.value  %}
              <div class="mail">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:{{ item.entity.field_email.value }}">{{ item.entity.field_email.value }}</a>
              </div>
            {% endif %}
            {% if item.entity.field_secondary_email.value  %}
              <div class="mail">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:{{ item.entity.field_email_second.value }}">{{ item.entity.field_secondary_email.value }}</a>
              </div>
            {% endif %}
          {% endif %}

          {% if item.entity.field_license.value  %}
            <div class="address">
              <i class="fa fa-id-badge"></i>
              {{ item.entity.field_license.value }}
              {{ item.entity.field_secondary_license.value }}
            </div>
          {% endif %}

        {% endfor %}
      </div>
    {% else %}
      <div class="contact-info">
          <div class="address">
            <i class="fa fa-home" aria-hidden="true"></i>
            {{ content.field_address }}
          </div>
            <div class="numbers">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="phone">
                    <div class="office">
                        <a href="tel:8885189168">1-888-518-9168</a>
                        <span> - Main Office</span>
                    </div>
                    {# <div class="fax">
                        <a href="tel:4156716375">1-415-671-6375​</a>
                        <span> - San Francisco Office</span>
                    </div> #}
                </div>
            </div>
            <div class="mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:info@myperfectworkplace.com">info@myperfectworkplace.com</a>
            </div>
        </div>
      {% endif %}
      {#
      <div class="contact-info">
          <div class="address">
            <i class="fa fa-home" aria-hidden="true"></i>
            {{ content.field_address }}
          </div>
            <div class="numbers">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="phone">
                    <div class="office">
                        <a href="tel:8885189168">1-888-518-9168</a>
                        <span> - Main Office</span>
                    </div>
                    <div class="fax">
                        <a href="tel:4156716375">1-415-671-6375​</a>
                        <span> - San Francisco Office</span>
                    </div>
                </div>
            </div>
            <div class="mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:info@myperfectworkplace.com">info@myperfectworkplace.com</a>
            </div>
        </div>
      #}

    </div>
    <div class="medium-4 large-4 columns contact">
      {# {% if node.field_lease_type.value|render|trim == '3' %}
        <div class="book-a-tour">
          <h3>Book a tour</h3>
          {{ book_tour }}
        </div>
      {% else %}
        <div class="contact_form">
          <h3>Request Information</h3>
          {{ contact_form }}
        </div>
      {% endif %} #}
      <div class="contact_form">
        <h3>Request Information</h3>
        {{ contact_form }}
      </div>
      <div class="search">
        <h3>Search</h3>
        {{ search_block }}
      </div>
     {#  <div class="contact_form">
        <h3>Contact Us</h3>
        {{ contact_form }}
      </div> #}
    </div>
  </div>
  <div class="bottom holder row">
    {#
      {% if content.field_avaibility %}
          <div class="avaibility">
              <!-- <h3 class="title">Avaibility</h3> -->
              {{ content.field_avaibility }}
              <div class="disclaimer">The prices listed below are based on a 24 month agreement. Availability and price are subject to change at any time, with or without notice.</div>
          </div>
      {% endif %}

    <div class="images-block">
      <h3 class="title">See more Images</h3>
      {{ content.field_image }}
    </div>
    #}
    {% if content.field_video|render|trim is not empty %}
      <div class="avaibility">
        <p class="field__label">Virtual Property Tour</p>
        {{ content.field_video }}
      </div>
    {% endif %}

    {{ content.body }}
  </div>
</article>
