{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set mpw_MODULES_DIR = 'modules/mpw' %}
{% set mpw_THEME_DIR = 'themes/mpw' %}
{% set mpw_THEME_URL = '/' ~ mpw_THEME_DIR %}
<div id="main">
    <div id="overlay"></div>
    {% include mpw_THEME_DIR ~ '/templates/layout/partials/header.html.twig' ignore missing %}
    <div id="content" class="{{ view_id }}">
        <div class="featured-content">
    
           
            	<div class="banner" id="front-featured-banner">
                    <div class="banner-text">
                        <h1>Not Found! <br> Cannot find what you're looking for? <br>
                            Feel free to call us. <span>1-888-518-9168</span></h1>
                        <h2>Alternatively search for the location you were looking for</h2>
                        {{ page.featured }}
                    </div>
                    <img src="{{ mpw_THEME_DIR }}/images/featured_banner-min.png" alt={{ ' Search and find your next commercial property'|t }}>
                </div>
           
        </div>
        <div class="holder">
            {{ page.breadcrumb }}
            {{ page.highlighted }}
            {{ page.help }}
            {{ title_prefix }}
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}
            {{ title_suffix }}
            <div class="holder row">
            </br>
                <p>Sorry, we can’t find what you’re looking for.</br>
                The file or page that you’re trying to access might have been moved.</br>
                    If you need assistance, Feel free to call us at 1-888-518-9168</p></br>
             </div>
        </div>
    </div>
    {% include mpw_THEME_DIR ~ '/templates/layout/partials/footer.html.twig' ignore missing %}
</div>
