{#
/**
 * @file
 * Default theme implementation for a emergency notification html element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - title: The title of the emergency notification.
 * - notice_text: The emergency notification content in formatted HTML.
 * - open_button_text: The inner text of the button used to toggle the
 *   notification.
 * - icon: The icon image representing the emergency.
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.setAttribute('id', 'emergency-notification').addClass('dismissed') }}>
  <div id="emergency-popup-wrapper">
    <article class="emergency-popup">
      <h2>{{ icon }} {{ title }}</h2>
      <div class="popup-content">
        {{ notice_text }}
      </div>
      <button class="dismiss-btn" type="button">{{ 'Close'|t }}</button>
    </article>
    <div class="open-btn-wrapper">
      <button class="open-btn" type="button">
        {{ icon }} {{ open_button_text }}
      </button>
    </div>
  </div>
  <div id="emergency-popup-overlay"></div>
</div>
