{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {# {{ content }} #}
  {% endblock %}
</div>

<div class="monthly-section">
	<div class="container">
	 	<div class="row">
	    	<div class="large-6 columns">
	        	<h2>{{ content.field_sub_body_title }}</h2>
	        </div>
	        <div class="large-6 columns">
	        	<div class="monthly-right">
	            {{ content.field_sub_body_sub_title }}<br>
                {% if logged_in %}
                    <a href="/node/add/property" class="listing-btn listing-fill">Add a Listing</a>
                {% else %}
                    <a href="/user/register" class="listing-btn listing-fill">Add a Listing</a>
                {% endif %}
	            </div>
	        </div>
	    </div>
	</div>
</div>


<div class="help-box text-center">
	<div class="container">
		<div class="heading-group text-center heading-width">
	    	<h1>{{ content.field_plan_title }}</h1>
	        {{ content.field_plan_sub_title }}
	    </div>


	    <div class="row">

	        <div class="large-12 columns">
	        	<div class="help-inner">
	            	<h6>{{ content.field_plan_title_concierge }}</h6>
	                <div class="plan-text">{{ content.field_concierge_sub_title }}</div>
	                <div class="value">
	                	<sup>$</sup>
	                    <span>129</span>
	                    <sub>/mo</sub>
	                </div>
	                <p class="per">Per property</p>
                    {% if logged_in %}
                        <a href="/node/add/property" class="listing-btn">Add a Listing</a>
                    {% else %}
                        <a href="/user/register" class="listing-btn">Select Plan</a>
                    {% endif %}
	            </div>
	        </div>
	    </div>
	</div>
</div>

<div class="plan-section">
	<h2>{{ content.field_plan_tally_title }}</h2>

    <div class="table-wrapper">
    	<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table table-striped">
        	<thead>
            	<tr>
                	<td>&nbsp;</td>
                    <td><h6><a href="#">{{ content.field_plan_title_concierge }}</h6></a></td>
                </tr>
            </thead>
            <tbody>

            	<tr>
                	<td>Price per property</td>
                    <td>$129 per month</td>
                </tr>
                <tr>
                	<td>Number of properties</td>
                    <td>{{ content.field_number_of_properties.1 }}</td>
                </tr>
                <tr>
                	<td>Number of vacancies per property</td>
                    <td>{{ content.field_number_of_vacancies.1 }}</td>
                </tr>
                <tr>
                	<td>We ensure listing is up-to-date</td>
                    <td>
                        {% if content.field_ensure_listing_up_to_date.1  %}
                            <img src="/themes/mpw/images/chk.png" alt=""/>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                	<td>Google marketing</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
                 <tr>
                	<td>Bing marketing</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
                <tr>
                	<td>Facebook</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
                <tr>
                	<td>Twitter</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
                <tr>
                	<td>Instagram</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
                <tr>
                	<td>LinkedIn</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
                <tr>
                	<td>Pinterest</td>
                    <td><img src="/themes/mpw/images/chk.png" alt=""/></td>
                </tr>
            </tbody>

            <thead>
            	<tr>
                	<td>&nbsp;</td>
                    <td>
                        <h6>Concierge </h6>
                        {% if logged_in %}
                            <a href="/node/add/property" class="btn-design">Add a Listing</a>
                        {% else %}
                            <a href="/user/register" class="btn-design">Select Plan</a>
                        {% endif %}
                    </td>
                </tr>
            </thead>

        </table>
    </div>

</div>
