/* ========================= BREAKPOINTS ==========================

$var1: 500px; // assume min-width (by default) if only a number
$var2: 600px 800px; // set min-width/max-width if both values are numbers
$var3: max-width 1000px; // if one value is a string, assume a feature/value pair
$var4: (min-height 1000px) (orientation portrait); // string tests together within parentheses, assume each item is a feature value pair */

$phone      : 480px;
$tab-mini   : 620px;
$tab        : 768px;
$desk-mini  : 992px;
$desk       : 1200px;
$desk-big   : 1400px;
$screen-mini: 1940px;
$screen     : 2560px;

$lt-phone      : max-width 479px;
$lt-tab-mini   : max-width 619px;
$lt-tab        : max-width 767px;
$lt-desk-mini  : max-width 991px;
$lt-desk       : max-width 1199px;
$lt-desk-big   : max-width 1399px;
$lt-screen-mini: max-width 1939px;
$lt-screen     : max-width 2559px;

/* ========================= END OF BREAKPOINTS ========================== */

/* ========================= COLORS =============================== */

$light-gray : #f1f3ee;
$dark-gray : #9d9d9c;
$gray : #7d7d7d;
$red : #be1722;
$dark-blue : #2e3a66;
$black : #313332;
$light-dark-gray: #626262;

/* ========================= END OF COLORS ======================== */

/* ========================= FONTS =============================== */
//$montserrat: 'Montserrat', sans-serif;
$montserrat: 'Proxima Nova Soft', sans-serif;
$proxima: 'Proxima Nova Soft', sans-serif;
/* ========================= END OF FONTS ======================== */

$custom_row_width: rem-calc(1060) !default;