//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@font-face {
  font-family: 'Proxima Nova Soft';
  src: url('../fonts/ProximaNovaSoft-Regular.eot');
  src: url('../fonts/ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaSoft-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNovaSoft-Regular.woff') format('woff'),
  url('../fonts/ProximaNovaSoft-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}