@mixin section_arrow($bg_color) {
	position: relative;
	overflow: hidden;
	padding-bottom: 70px;
	&:before {
		content: "";
    	position: absolute;
    	width: 53%;
    	height: 80px;
    	bottom: -80px;
    	left: -10px;
    	background: $bg_color;
    	transform: rotate(3deg);
    	transform-origin: right top;
      z-index: 2;
	}
	&:after {
		content: "";
    	position: absolute;
    	width: 53%;
    	height: 80px;
    	bottom: -80px;
    	right: -10px;
    	background: $bg_color;
    	transform: rotate(-3deg);
    	transform-origin: left top;
      z-index: 2;
	}

}
@mixin section_arrow_top($bg_color) {
    position: relative;
    overflow: hidden;
    padding-top: 81px;
    &:before {
        content: "";
        position: absolute;
        width: 53%;
        height: 80px;
        top: 0;
        left: -3%;
        background: $bg_color;
        transform: rotate(3deg);
        transform-origin: right bottom;
      z-index: 2;
    }
    &:after {
        content: "";
        position: absolute;
        width: 53%;
        height: 80px;
        top: 0;
        right: -3%;
        background: $bg_color;
        transform: rotate(-3deg);
        transform-origin: left bottom;
      z-index: 2;
    }

}