body{
    font-family: $proxima;
    color: #414141;
}
*:focus {
    outline: none;
}
/* ========== Headings ============= */
h1,
h2,
h3,
h4,
h5,
h6{
    // font-family: ;
    a,
    a:hover{color: inherit;}
}

/* ========== Anchors ============= */
a,
a:active,
a:focus{
    border: 0;
    outline: 0;
    color: $red;
    text-decoration: none;
}

/* ========== Media ============= */
iframe,
img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
iframe{width: 100%;}

p{
    margin: 0;
    font-weight: inherit;
    font-size: 16px;
    line-height: inherit;
    color: #414141;
    @include breakpoint($lt-phone) {
      font-size: 20px;
    }
    @include breakpoint($lt-tab-mini) {
      font-size: 20px;
    }
}


// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }
.ui-dialog  {
    background-color: #dfe2db;
    .ui-dialog-titlebar {
        color: $red;
    }
    .ui-dialog-buttonset {
        width: 100%;
        .webform-button--submit {
            color: $red;
            background: none;
            border: 2px solid $red;
            width: 100%;
            padding: 8px 18px;
            border-radius: 50px;
            &:hover {
                background: $red;
                color: #fff;
            }
        }
    }


}
input,
textarea {
    width: 100%;
    padding: 8px 18px;
    background: #fff;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    &::-webkit-input-placeholder {
        font-size: 16px;
        color: $gray;
    }
    &::-moz-placeholder {
        font-size: 16px;
        color: $gray;
    }
    &:-ms-input-placeholder {
        font-size: 16px;
        color: $gray;
    }
    &:-moz-placeholder {
        font-size: 16px;
        color: $gray;
    }
    &.webform-webform-telephone-international {
        padding-left: 50px;
    }
}
textarea {border-radius: 10px;}

// select {}