<div class="image-cont"  style="background-image: url({{ fields.field_banner_image_1.content }});">
    <div class="overlay"></div>
    {{ fields.field_banner_image.content  }}
    <div class="title-contnent">
        <h1 class="title">{{ fields.title.content }}</h1>
    </div>
</div>
<div class="text holder row">

    {#{% set text = fields.body_1.content|render|striptags %}#}
    {#{{ text|length > 600 ? text|slice(0, 600) ~ '...' : text }}#}
    {{ fields.body_1.content }}
</div>
