<div class="image-cont"  style="background-image: url({{ fields.field_banner_image_1.content }});">
    <div class="overlay"></div>
    {{ fields.field_banner_image.content  }}
    <div class="title-contnent">
        <h1 class="title">{{ fields.title.content }}</h1>
    </div>
</div>
<div class="text holder row">
    {{ fields.body_1.content }}
</div>
