{#
/**
 * @file
 * Elastic Email Email View
 */
#}
Date sent: {{ data['date'] }}<br>
Status: {{ data['statusname'] }}<br>
<hr>
To: {{ data['to'] }}<br>
From: {{ data['from'] }}<br>
Subject: {{ data['subject'] }}<br>
<hr>
<iframe src="{{ path('elastic_email.view_email_content', { 'msgId': data['msgId'] }) }}" width="100%" height="500px"></iframe>
