<div class="medium-4 large-4 columns block {{ block_color ? 'bg-' ~ block_color : 'bg-none' }}">
    <div class="inner-block">
        <div class="block-cont">
            <div class="holder">
                {% if not paragraph.field_block_content_custom_block.isEmpty() %}
                    {{ content.field_block_content_custom_block }}
                {% elseif not paragraph.field_block_content_site_content.isEmpty() %}
                    {{ content.field_block_content_site_content }}
                {% elseif not paragraph.field_block_content_views.isEmpty() %}
                    {{ renderViewByName(paragraph.field_block_content_views.target_id) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>