{% set class_name = '' %}
{% if image_position == 'left' or image_position == 'right' %}
    {% set class_name = 'medium-6 large-6 columns ' %}
    {% set image_style = 'original_image' %}
{% elseif image_position == 'left-inline' or image_position == 'right-inline' %}
    {% set image_style = '500xauto' %}
{% endif %}
<div class="{{ class_name }}image-cont">
    <img src="{{ loadImageStyle(image_style, paragraph.field_image.entity.uri.value) }}" alt="{{ paragraph.field_image.alt }}" width="450" height="315" />
    {# <h4 class="description">{{ paragraph.field_image.alt }}</h4> #}
</div>