{% set class_name = '' %}
{% if image_position == 'left' or image_position == 'right' %}
    {% set class_name = 'medium-6 large-6 columns ' %}
{% endif %}
<div class="{{ class_name }}image-cont">
    {{ content.field_slides }}
</div>