{% set class_name = '' %}
{% if video_position == 'left' or video_position == 'right' %}
    {% set class_name = 'medium-4 large-4 columns ' %}
{% endif %}
<div class="{{ class_name }}video-cont">
    {{ content.field_video }}
</div>