{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set mpw_MODULES_DIR = 'modules/mpw' %}
{% set mpw_THEME_DIR = 'themes/mpw' %}
{% set mpw_THEME_URL = '/' ~ mpw_THEME_DIR %}
<div id="main">
    {# <div id="overlay"></div> #}
    {% include mpw_THEME_DIR ~ '/templates/layout/partials/header.html.twig' ignore missing %}
    <div id="content" class="{{ view_id }}" {% if is_mobile() %} style="padding-top: 166px;" {% else %} style="padding-top: 86px;" {% endif %}>
        <div class="featured-content">
            {% if is_front %}
                <div class="banner" id="front-featured-banner">
                    <div class="banner-text">
                        {# <h1>SEARCH AND FIND <br> YOUR NEXT COMMERCIAL PROPERTY</h1> #}
                        <h1>SEARCH AND FIND <br> YOUR NEXT OFFICE SPACE FOR RENT </h1>
                        {{ page.featured }}
                    </div>
                    {% if is_mobile() %}
                        <img src="{{ mpw_THEME_DIR }}/images/featured_banner-min-mobile.webp" alt="{{ 'Search your next commercial property'|t }}">
                    {% else %}
                        <img src="{{ mpw_THEME_DIR }}/images/featured_banner-191815837.webp" alt="{{ 'Search your next commercial property'|t }}" width="1350" height="505">
                    {% endif %}
                </div>
            {% endif %}
            {% if (node.id == 156) %}
            	<div class="banner" id="front-featured-banner">
                    <div class="banner-text">
                        <h1>Page error! <br> Cannot find what you're looking for? <br>
                            Feel free to call us. <span>1-888-518-9168</span></h1>
                        <h2>Alternatively search for the location you were looking for</h2>
                        {{ page.featured }}
                    </div>
                    {% if is_mobile() %}
                        <img src="{{ mpw_THEME_DIR }}/images/featured_banner-min-mobile.webp" alt="{{ 'Search your next commercial property'|t }}">
                    {% else %}
                        <img src="{{ mpw_THEME_DIR }}/images/featured_banner-191815837.webp" alt="{{ 'Search your next commercial property'|t }}">
                    {% endif %}
                </div>
            {% elseif (node.id == 158)%}
                {{ blog_page_header }}
            {% endif %}
            {% if node.type.target_id == 'blog' %}
                {{ blog_page_header }}
            {% endif %}
        </div>
        <div class="holder">
            {% if is_front %}
                {#<div class="map" id="clickable-map">#}
                    {#{% include mpw_THEME_DIR ~ '/templates/components/map.html.twig' ignore missing %}#}
                {#</div>#}
                {{ cities_front }}
                {% include mpw_THEME_DIR ~ '/templates/components/contact.html.twig' ignore missing %}
            {% endif %}

            {{ page.breadcrumb }}
            {{ page.highlighted }}
            {{ page.help }}
            {{ title_prefix }}
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}
            {{ title_suffix }}
            {% if view_id == 'office_space' %}
                <div class="office-space-page-header">
                    {{ location_page_block }}
                </div>
                {{ location_page_block_content_map }}
            {% endif %}
            {% if page.sidebar_first %}
                <aside class="sidebar-first columns {{ content_grid.left }}">
                    {{ page.sidebar_first }}
                </aside>
            {% endif %}
            {% if view_id == 'office_space' %}
                <div class="holder row">
                    <div class="content office-page-content medium-8 large-8 columns">
                        {{ page.content }}
                    </div>
                    {% include mpw_THEME_DIR ~ '/templates/components/office_space_sidebar.html.twig' ignore missing %}
                </div>
                {{ location_page_block_content }}
                {{ awesome_block }}
            {% elseif node.type.target_id == 'city_page' %}
                <div class="content{{ content_grid.main ? ' columns ' ~ content_grid.main }}">
                    {{ page.content }}
                </div>
                <div class="holder row">
                    <div class="office-page-content medium-8 large-8 columns">
                        {{ city_page_property_block }}
                    </div>
                    {% include mpw_THEME_DIR ~ '/templates/components/office_space_sidebar.html.twig' ignore missing %}
                </div>
                <div id="city-content-body" class="node--type-city-page">
                    <div class="holder row small-description-city">
                        {{ node.body.value | raw }}
                    </div>
                </div>
                {#{{ awesome_block }}#}
            {% elseif (node.id == 158)%}
                <div class="content{{ content_grid.main ? ' columns ' ~ content_grid.main }}">
                    {{ page.content }}
                </div>
                <div class="holder row blog">
                    <div class="office-page-content medium-8 large-8 columns">
                        {{ blog }}
                    </div>
                    {% include mpw_THEME_DIR ~ '/templates/components/office_space_sidebar.html.twig' ignore missing %}
                </div>
            {% else %}
                <div class="content{{ content_grid.main ? ' columns ' ~ content_grid.main }}">
                    {{ page.content }}
                </div>
            {% endif %}
            {% if page.sidebar_second %}
                <aside class="sidebar-second columns {{ content_grid.right }}">
                    {{ page.sidebar_second }}
                </aside>
            {% endif %}

            {% if node.type.target_id == 'featuret_locations' %}
                {% include mpw_THEME_DIR ~ '/templates/components/contact.html.twig' ignore missing %}
                {{ awesome_block }}
            {% endif %}
        </div>
    </div>

    {% if view_id == 'solr_property_listing' %}
        {% include mpw_THEME_DIR ~ '/templates/layout/partials/footer-map.html.twig' ignore missing %}
    {% else %}
        {% include mpw_THEME_DIR ~ '/templates/layout/partials/footer.html.twig' ignore missing %}
    {% endif %}

</div>
